{% extends "base.html" %}
{% load discount_tags %}
{% block head_title %}Privacy Settings{% endblock head_title %}

{% block content %}
{% active_discounts viewing_participant %}

<h2>Configurable Settings</h2>
{% if viewing_participant.gravatar_opt_out %}
  <div class="alert alert-info">
    You have opted out of using Gravatar on this site.

    <ul>
      <li>We will never make queries to gravatar.com/avatar with your hashed email address.</li>
      <li>If you happen to have a Gravatar account, your profile picture will not appear anywhere.</li>
    </ul>
  </div>
{% endif %}


<form id="settings_form" method="post" action="{% url "privacy_settings" %}">
  {% csrf_token %}
  {{ form.as_div }}
  <input class="btn btn-primary" type="submit" value="Save" />
</form>

{% endblock content %}
