body {
  padding-top: 50px;
}

.main-content {
  margin-top: 20px;
}

.nowrap {
  white-space: nowrap;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 55px !important; /* Bootstrap override, used for footer*/
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0px 10px;
  height: 55px; /* 30px for row + 25px for padding. Must match body margin-bottom. */
}

footer .btn {
  padding: 0px;
}

footer a {
  color: #777;
}

/* Override Bootstrap styling for more consistent appearance */
leader-select.form-control {
    border: 0px !important;
    padding: 0px !important;
}
leader-select .ui-select-container {
    padding-left: 12px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

@media screen and (max-width:480px) {
    .table {
        border-collapse: separate;
        border-spacing: .5em .2em;
    }
    .table-cell {
        display:table-row;
    }

    .table-heading:after {
        content: "";
    }
}


/* Styles lifted from Djangular for rendering errors nicely */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

form .ng-invalid-bound.ng-pristine,
form .ng-invalid-bound.ng-pristine .ui-select-container,
form .ng-invalid.ng-dirty,
form .ng-invalid.ng-dirty .ui-select-container {
    border-color: #e9322d;
}

.ui-select-container .invalid-leader {
  text-decoration: line-through;
}

form .ng-invalid-bound.ng-pristine:focus, form .ng-invalid.ng-dirty:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

ul.djng-form-errors, ul.djng-field-errors {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
}
ul.djng-form-errors li, ul.djng-field-errors li {
    color: #e9322d;
}
ul.djng-field-errors li.invalid:before {
    content: "\2716";
    margin-right: 10px;
}

/* Built-in Django 'required content' */
.required label:after {
    content: ' *';
}

/* UI-sortable */
.ui-sortable .list-group-item {
  cursor: move;
}

admin-trip-signups button {
  margin-left: 15px;
}
