body {
  padding-top: 50px;
}

.main-content {
  margin-top: 20px;
}

footer {
  margin-top: 20px;
}

.nowrap {
  white-space: nowrap;
}

/* Tables that collapse for easier viewing on mobile devices */
.table {
    display: table;
}

.table-row {
    display:table-row;
}

.table-cell {
    display:table-cell;
    padding: .2em .3em;
}

.table-heading {
    font-weight: 700;
}

.table-heading:after {
    content: ":";
}


@media screen and (max-width:480px) {
    .table {
        border-collapse: separate;
        border-spacing: .5em .2em;
    }
    .table-cell {
        display:table-row;
    }

    .table-heading:after {
        content: "";
    }
}
