<div class="row">
  <div class="col-sm-6 col-sm-push-6">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-9" for="id_maximum_participants">Maximum participants:</label>
        <div class="col-sm-3">
          <input required class="form-control" id="id_maximum_participants" type="number" min="1"
                data-ng-model="maximumParticipants"
                data-ng-model-options="{allowInvalid: false, updateOn: 'default blur', debounce:{'default': 500, 'blur': 0}}">
          </input>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <h3>Participants <span data-ng-bind="onTripCount + ' / ' + maximumParticipants"></span>
    <button class="btn btn-sm btn-default"
            data-ng-click="signups.feedbackHidden = !signups.feedbackHidden">
      <i class="fa" data-ng-class="signups.feedbackHidden? 'fa-comments-o' : 'fa-comments'"></i>
      {{ signups.feedbackHidden ? 'Show' : 'Hide'}} Feedback
    </button></h3>
  </div>
</div>
<editable-signup-list signups="signups.onTrip" delete-signup="deleteSignup" hide-feedback="signups.feedbackHidden" sortable-options="sortableOptions"></editable-signup-list>

<h3>Waiting list</h3>
<editable-signup-list signups="signups.waitlist" delete-signup="deleteSignup" hide-feedback="signups.feedbackHidden" sortable-options="sortableOptions"></editable-signup-list>

<button data-ng-click="verifyChanges()" class="btn btn-primary">Submit</button>
