<div class="signup-list list-group" ui-sortable="sortableOptions" data-ng-model="signups">
  <div class="list-group-item" data-ng-repeat="signup in signups" data-ng-class="{'disabled': signup.deleted}">
    <div class="row">
      <div class="col-md-3">
        <label data-ng-bind="signup.participant.name"></label>
        <span data-ng-if="signup.car_status && signup.car_status != 'none'" class="badge">
          <i class="fa" data-ng-class="{'fa-taxi': signup.car_status == 'rent', 'fa-car': signup.car_status == 'own'}"></i>
          <span data-ng-if="signup.number_of_passengers">+{{ signup.number_of_passengers }}</span>
        </span>
        <div data-ng-if="signup.also_on.length">
          <small>
            Also on:
            <ul data-ng-repeat="trip in signup.also_on">
              <li><a data-ng-href="/trips/{{trip.id}}/" data-ng-bind="trip.name"></a></li>
            </ul>
          </small>
        </div>

      </div>
      <div class="col-md-9">
        <button type="button" class="btn btn-sm btn-default pull-right" data-ng-click="deleteSignup(signup)" data-ng-bind="signup.deleted ? 'Restore' : 'Delete'"></button>
        <p data-ng-bind="signup.notes"></p>
        <div data-ng-if="signup.feedback.length && !hideFeedback">
          <label>Feedback <i class="fa"></i></label>
          <ul class="list-unstyled" data-ng-repeat="feedback in signup.feedback">
            <li>{{ feedback.comments }} - <small>{{ feedback.leader }} on <a data-ng-href="/trips/{{feedback.trip.id}}/" data-ng-bind="feedback.trip.name"></a></small></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
