<div class="signup-list list-group" ui-sortable="sortableOptions" data-ng-model="signups">
  <div class="list-group-item" data-ng-repeat="signup in signups" data-ng-class="{'disabled': signup.deleted}">
    <div class="row">
      <div class="col-md-3">
        <span class="sort-handle">
          <i class="fas fa-grip-vertical mr-1"></i>
        </span>
	
        <i data-ng-if="signup.paired_with" class="fas fa-link"></i>
        <label data-ng-bind="signup.participant.name"></label>
        <car-badge data-car-status="signup.car_status"
                   data-number-of-passengers="signup.number_of_passengers">
        </car-badge>
        <div data-ng-if="signup.paired_with">
          <small>
            Paired with <span data-ng-bind="signup.paired_with.name"></span>
          </small>
        </div>
        <div data-ng-if="signup.also_on.length">
          <small>
            Also on:
            <ul data-ng-repeat="trip in signup.also_on">
              <li><a data-ng-href="/trips/{{trip.id}}/" data-ng-bind="trip.name"></a></li>
            </ul>
          </small>
        </div>

      </div>
      <div class="col-md-9 signup-summary">
        <button type="button" class="btn btn-sm btn-default pull-right" data-ng-click="deleteSignup(signup)" data-ng-bind="signup.deleted ? 'Restore' : 'Delete'"></button>
        <p>
          <span class="label"
                data-ng-if="signup.participant.membership.status"
                data-ng-bind="signup.participant.membership.status"
                data-ng-class="labelClass[signup.participant.membership.status]">
          </span>

          <span class="label label-danger" data-ng-if="signup.missed_lectures">
            Missed lectures
          </span>

          <span data-ng-bind="signup.notes"></span>
        </p>
        <div data-ng-if="signup.feedback.length && !hideFeedback">
          <label><i class="fas fa-comment"></i>&nbsp;Feedback</label>
          <ul class="list-unstyled" data-ng-repeat="feedback in signup.feedback">
            <li>{{ feedback.comments }} - <small>{{ feedback.leader }} on <a data-ng-href="/trips/{{feedback.trip.id}}/" data-ng-bind="feedback.trip.name"></a></small></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
