<div>
  <h4>Email trip members
    <div class="btn-group" data-ng-if="signups.onTrip.length || leaders.length > 1">
      <label class="btn btn-default"
             uib-btn-checkbox
             data-ng-model="showEmails.creator"
             data-ng-if="display.creator">
        Creator
      </label>

      <label class="btn btn-default"
             uib-btn-checkbox
             data-ng-model="showEmails.leaders"
             data-ng-if="display.leaders">
        Leader<span data-ng-if="leaders.length !== 1">s</span>
      </label>

      <label class="btn btn-default"
             uib-btn-checkbox
             data-ng-model="showEmails.onTrip"
             data-ng-if="display.onTrip">
        On trip
      </label>

      <label class="btn btn-default"
             uib-btn-checkbox
             data-ng-model="showEmails.waitlist"
             data-ng-if="display.waitlist">
        Waitlisted
      </label>
    </div>
  </h4>

  <pre class="wrapped-emails" data-ng-bind="emailText">
  </pre>
</div>
