<div>
  <participant-select
    data-ng-model="flake"
    data-ng-change="addFlake(flake)"
    data-msg="'Add no-show participants...'">
  </participant-select>


  <table class="table">
    <tbody>
      <tr ng-repeat="participant in participants.flakes track by participant.id">
        <td>
          <div class="media">
            <div class="media-left">
              <img class="img-rounded"
                   data-ng-src="{{ participant.avatar }}"
                   width="100"
                   height="100" />
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <span ng-bind="participant.name"></span>
                <button data-ng-click="removeFlake(participant)" class="btn btn-default btn-xs pull-right">Remove</button>
              </h4>
              <textarea data-ng-model="participant.comments"
                        data-ng-attr-name="flake_{{ participant.id }}"
                        class="form-control"
                        required
                        rows="3">{{ comments }}</textarea>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
