<div>
  <h3>Membership
    <span
      class="label"
      data-ng-class="labelClass[status]"
      data-ng-show="status"
      data-ng-bind="status">
    </span>
  </h3>

  <div data-ng-switch="status" data-ng-if="personal">
    <div data-ng-switch-when="Missing Waiver">
      <p>

        Please <a href="/profile/waiver/">sign a waiver</a>
        with your account email, <span data-ng-bind="::membership.email"></span>.
      </p>
    </div>
    <div data-ng-switch-when="Waiver Expired">
      <p>
        Please <a href="/profile/waiver/">sign a new waiver</a>
        with your account email, <span data-ng-bind="::membership.email"></span>.
      </p>
    </div>
    <div data-ng-switch-when="Expiring Soon">
      <div class="alert alert-warning">
        <p>
          Your membership is expiring soon.
          <a href="/profile/membership/">Renew today</a>
          to keep your membership valid until
          <span data-ng-bind="::renewalValidUntil | date : 'MMM d, yyyy' : 'UTC' "></span>.
        </p>
      </div>
      <p>Your waiver will expire on <span data-ng-bind="::waiver.expires | date"></span>. <a href="/profile/waiver/">Sign another?</a></p>
    </div>
    <div data-ng-switch-when="Active">
      <p>Your membership is active, and expires on <span data-ng-bind="::membership.expires | date"></span>.</p>
      <p>Your waiver will expire on <span data-ng-bind="::waiver.expires | date"></span>.</p>
    </div>
    <div data-ng-switch-when="Missing Membership">
      <p>
        We have a current waiver on file, but no active membership.
      </p>
      <p>
        You can still participate in mini-trips, but you'll need
        <a href="/profile/membership/">a full MITOC membership</a>
        in order to rent gear, use cabins, or join other trips.
      </p>
    </div>
    <div data-ng-switch-when="Missing">
      <p>
        We have no membership information on file for any of your
        <a href="/accounts/email/">verified email addresses.</a>
      </p>

      <p>
        You must <a href="/profile/membership/">become a member</a>
        and <a href="/profile/waiver/">sign a new waiver</a>
        in order to participate on trips, rent gear, or use cabins.
      </p>
    </div>
    <div data-ng-switch-when="Expired">
      <p>
        Your membership expired on <span data-ng-bind="::membership.expires | date"></span>.
      </p>
      <p>
        Please <a href="/profile/membership/">renew your membership</a>
        and <a href="/profile/waiver/">sign a new waiver</a>.
      </p>
    </div>
    <p data-ng-switch-default>
      <i class="fas fa-spinner fa-pulse"></i>
      <span>Querying MITOC servers for membership status...</span>
    </p>
  </div>

  <div data-ng-switch="status" data-ng-if="!personal" class="text-muted">
    <p data-ng-switch-when="Missing Waiver">
      No waiver on file.
    </p>
    <div data-ng-switch-when="Missing Membership">
      <p>Waiver expires on <span data-ng-bind="::waiver.expires | date"></span>.</p>
      <p>
        No active membership.
      </p>
    </div>
    <p data-ng-switch-when="Waiver Expired">
      Waiver expired on <span data-ng-bind="::waiver.expires | date"></span>.
    </p>
    <div data-ng-switch-when="Active">
      <p>Membership expires on <span data-ng-bind="::membership.expires | date"></span>.</p>
      <p>Waiver expires on <span data-ng-bind="::waiver.expires | date"></span>.</p>
    </div>
    <p data-ng-switch-when="Missing">
      No membership information on file.
    </p>
    <p data-ng-switch-when="Expired">
      Membership for <span data-ng-bind="::membership.email"></span>  expired on <span data-ng-bind="::membership.expires | date"></span>.
    </p>
    <p data-ng-switch-default>
      <i class="fas fa-spinner fa-pulse"></i>
      <span>Querying MITOC servers for membership status...</span>
    </p>
  </div>

  <div data-ng-if="status && status !== 'Active' && status !== 'Expiring Soon'">
    <div data-ng-show="personal && !showFullFaq">
      <div class="alert alert-warning">
        <a href="/accounts/email/">Problems or questions</a> about your membership?
      </div>
    </div>

    <div data-ng-show="showFullFaq">
      <div data-ng-show="status === 'Expired' || status === 'Missing'" class="well">
        <h5>Why isn't my membership showing up?</h5>
        <p>
          We search for a current MITOC membership under any of your verified
          email addresses. If we find a matching membership, we tie that to your
          account.
        </p>

        <p>
          If you think you're a current member, but don't see yourself as
          active here, you've most likely signed up for a membership under
          another email address. Make sure that you add and verify any email
          address that you may have signed up with.
        </p>
      </div>

      <div data-ng-show="status === 'Missing Waiver' || status === 'Waiver Expired'" class="well">
        <h5>Why isn't my waiver showing up?</h5>
        <p>
          First, ensure you <a href="/profile/waiver/">signed the waiver</a>
          under the same email address as your membership:
          <span data-ng-bind="::membership.email"></span>.
        </p>
      </div>

      <div class="well">
        <h5>But I'm positive that my account is under one of these email addresses!</h5>
        <p>
          If you've paid your membership dues, signed the waiver, and are still not
          seeing that you're an active member, please <a href="/contact/">contact us</a>.
        </p>
      </div>

    </div>
  </div>

</div>
