<div>
  <h3>Membership
    <span
      class="label"
      data-ng-class="labelClass[status]"
      data-ng-show="status"
      data-ng-bind="status">
    </span>
  </h3>

  <div ng-switch="status" ng-if="personal">
    <div ng-switch-when="Missing Waiver">
      <p>
        Please <a href="https://rightsignature.com/forms/Liability-Waiver--97a3de/token/39c17d4086f">sign a waiver</a>
        with your account email, <span ng-bind="membership.email"></span>.
      </p>
    </div>
    <div ng-switch-when="Waiver Expired">
      <p>
        Please <a href="https://rightsignature.com/forms/Liability-Waiver--97a3de/token/39c17d4086f">sign a new waiver</a>
        with your account email, <span ng-bind="membership.email"></span>.
      </p>
    </div>
    <p ng-switch-when="Active">
      Your membership is active, and expires on {{ ::membership.expires | date }}.
      Your waiver will expire on {{ ::waiver.expires | date }}.
    </p>
    <div ng-switch-when="Missing">
      <p>
        We have no membership information on file for any of your
        <a href="/accounts/email/">verified email addresses.</a>
      </p>

      <p>
        You must <a href="http://mitoc.mit.edu/#join">become a member and sign the waiver</a>
        in order to participate on trips, rent gear, or use cabins.
      </p>
    </div>
    <div ng-switch-when="Expired">
      <p>
        Your membership expired on {{ ::membership.expires | date }}.
      </p>
      <p>
        Please <a href="http://mitoc.mit.edu/#join">renew your membership and sign the waiver</a>
        under any of your <a href="/accounts/email/">verified email addresses</a>.
      </p>
    </div>
    <p ng-switch-default>
      Querying MITOC servers for membership status...
    </p>
  </div>

  <div ng-switch="status" ng-if="!personal" class="text-muted">
    <p ng-switch-when="Missing Waiver">
      No waiver on file.
    </p>
    <p ng-switch-when="Waiver Expired">
      Waiver expired on {{ ::waiver.expires | date }}.
    </p>
    <div ng-switch-when="Active">
      <p>Membership expires on {{ ::membership.expires | date }}.</p>
      <p>Waiver expires on {{ ::waiver.expires | date }}.</p>
    </div>
    <p ng-switch-when="Missing">
      No membership information on file.
    </p>
    <p ng-switch-when="Expired">
      Membership for {{ ::membership.email }} expired on {{ ::membership.expires | date }}.
    </p>
    <p ng-switch-default>
      Querying MITOC servers for membership status...
    </p>
  </div>

</div>
