<div class="modal-header">
  <h3 class="modal-title">Add Participant</h3>
</div>
<div class="modal-body">
  <participant-select
    data-ng-model="participant"
    data-msg="'Select a participant'">
  </participant-select>
  <div class="media">
    <div class="media-left">
      <img class="img-rounded"
           data-gravatar-src="participant.email"
           width="100"
           height="100"
           data-gravatar-size="100" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Notes</h4>
      <textarea data-ng-model="notes"
                class="form-control"
                rows="3"></textarea>
    </div>
  </div>

</div>
<div class="modal-footer">
  <div class="alert alert-danger" data-ng-show="error" data-ng-bind="error"></div>
  <button class="btn btn-primary" data-ng-disabled="!participant" data-ng-click="signUp(participant)">Sign up</button>
  <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
