[MESSAGES CONTROL]

disable=
  # Handled by black
  format,

  arguments-differ,
  fixme,
  invalid-name,
  too-few-public-methods,
  too-many-ancestors,
  too-many-arguments,
  too-many-public-methods,

  ################################
  # I might remove some of these #
  ################################
  attribute-defined-outside-init,
  duplicate-code,
  no-member,
  no-self-use,
  too-many-locals,

  #################################
  # I will remove these very soon #
  #################################
  access-member-before-definition,
  protected-access,
  ungrouped-imports,
  unnecessary-pass,
  redefined-builtin,
  no-name-in-module,
  unused-import,
  unused-variable,

  ############################
  # I aspire to remove these #
  ############################
  missing-docstring,
  no-else-return,
  unused-argument,  # Currently quite common in method strings

[REPORTS]

reports=no
score=no

[FORMAT]

max-module-lines=2000
