[MESSAGES CONTROL]

disable=
  # Handled by black
  format,

  # Handled by isort
  ungrouped-imports,

  arguments-differ,
  fixme,
  invalid-name,
  too-few-public-methods,
  too-many-ancestors,
  too-many-arguments,
  too-many-public-methods,

  ################################
  # I might remove some of these #
  ################################
  attribute-defined-outside-init,
  duplicate-code,
  no-member,
  no-self-use,
  too-many-locals,

  ############################
  # I aspire to remove these #
  ############################
  missing-docstring,
  unused-argument,  # Currently quite common in method strings

[REPORTS]

reports=no
score=no

[FORMAT]

max-module-lines=2000
