Django>=1.8.3,<1.9
pytz
celery==3.1.23
django-allauth
django-localflavor
django-cors-headers
django-debug-toolbar>=1.5
django-pipeline
django-smtp-ssl
raven>=6.0.0
six
django-angular==0.8.4
psycopg2
mysqlclient
markdown2
mock

oauth2client
gspread
