Django==1.11
pytz
celery==3.1.25
django-allauth>=0.35.0
django-localflavor
django-cors-headers
django-debug-toolbar>=1.5
django-pipeline
django-phonenumber-field
django-smtp-ssl
raven
requests
six
django-angular==2.0.1
psycopg2-binary
mysqlclient
markdown2
PyJWT

oauth2client
gspread==0.6.2
