-r requirements.txt

appnope==0.1.0
backcall==0.1.0
decorator==4.3.0
django-debug-toolbar==1.9.1
factory-boy==2.11.1
Faker==0.8.17
freezegun==0.3.10
ipdb==0.11
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
python-dateutil==2.7.3
simplegeneric==0.8.1
sqlparse==0.2.4
text-unidecode==1.2
traitlets==4.3.2
wcwidth==0.1.7
