Django ~= 1.11.23
pytz
celery >= 4.2
django-allauth>=0.38.0
django-localflavor
django-cors-headers
django-pipeline
django-phonenumber-field
mitoc-const>=0.4.1
phonenumberslite
django-smtp-ssl
raven
requests
django-angular ~= 2.1
psycopg2-binary
mysqlclient ~= 1.3.14
markdown2
PyJWT

oauth2client
gspread>=3.0.1
