{% extends "base.html" %}
{% load messages_tags %}

{% block head_title %}
Edit profile
{% if viewing_participant %} - {{ viewing_participant.name }} {%endif %}
{% endblock head_title %}

{% block content %}

{% messages_alerts %}
{% if not viewing_participant or not viewing_participant.info_current %}
  <div class="alert alert-info">
    {% if not viewing_participant %}
      Please complete this important safety information to finish the signup process.
    {% else %}
      You haven't updated your personal information in a while.
      Please ensure that everything below is accurate, and click "Submit" to update!
    {% endif %}
  </div>
{% endif %}

<form name="{{ participant_form.form_name }}"
      action=""
      method="post"
      novalidate
      data-submit-if-valid>
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            <h3 id="personal_info"><i class="fas fa-user"></i> Personal info</h3>
            {{ participant_form.as_div }}
        </div>
        <div class="col-sm-6">
            <h3 id="car" class="required">
                <i class="fas fa-car"></i>&nbsp;
                <label for="car_ownership">Do you have a car?</label>
                <div id="car_ownership" class="btn-group" role="group" data-ng-init="{{ has_car_checked|yesno:"car.owner=true,car.owner=false," }}" data-ng-required>
                    <label class="btn" data-ng-model="car.owner" data-ng-class="car.owner ? 'btn-primary' : 'btn-default'" data-uib-btn-radio="true">Yes</label>
                    <label class="btn" data-ng-model="car.owner" data-ng-class="car.owner === false ? 'btn-primary' : 'btn-default'" data-uib-btn-radio="false">No</label>
                </div>
                <input class="ng-hide" type="checkbox" name="has_car" data-ng-checked="car.owner">
            </h3>
            <div data-ng-switch="car.owner" data-ng-cloak>
                <div data-ng-switch-when="true">
                    {{ car_form.as_div }}
                </div>
                <div data-ng-switch-when="false">
                    {% if currently_has_car %}
                        <div class="alert alert-warning">
                            <p><strong>Do you really want to delete your car's information?</strong></p>
                            <p>If you simply do not want to drive, update your <a href="{% url 'lottery_preferences' %}">lottery preferences</a> instead.</p>
                        </div>
                    {% endif %}
                    <p>
                        If you ever rent a car for a trip, please come back here and
                        tell us about it!
                    </p>
                </div>
                <p data-ng-switch-default>
                    If you do, please let us know!
                    You'll never be under any obligation to drive it.
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-6">
        <h3 id="emergency_info"><i class="fas fa-notes-medical"></i> Emergency info</h3>
        <p>
          <strong>You do not have to share anything here.</strong>
          <span> <a href="{% url 'help-personal_info' %}">Read more on privacy</a>.</span>
        </p>
        <p class="small">
          Information will be passed along to trip leaders and (in the
          event of an emergency) any medical professionals.
          Including pertintent information here can aid trip planning
          and emergency response.
          Regardless of what you choose to share, we encourage you to
          always discuss relevant medical issues with your trip leaders.
        </p>
        {{ emergency_info_form.as_div }}
      </div>

      <div class="col-sm-6">
        <h3 id="emergency_contact"><i class="fas fa-ambulance"></i> Emergency contact</h3>
        <p>
          Please consider an alternate person if your primary contact
          will be on trips with you.
        </p>
        {{ emergency_contact_form.as_div }}
      </div>
    </div>

    <div class="alert alert-danger" data-ng-cloak data-ng-show="{{ participant_form.form_name }}.$submitted && {{ participant_form.form_name }}.$invalid">
      Please correct the above errors.
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if viewing_participant.profile_last_updated %}
  <div id="last_updated" class="text-center">
    <small>Last updated on {{ viewing_participant.profile_last_updated }}</small>
  </div>
{% endif %}

{% endblock content %}
