{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
Edit profile {% if participant %} - {{ participant.name }}{% endif %}
{% endblock head_title %}

{% block content %}

{# Instructions about how to fix any and all problems will appear as messages! #}

<form name="{{ participant_form.form_name }}"
      action=""
      method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            <h3 id="personal_info"><i class="fas fa-user"></i> Personal info</h3>
            {{ participant_form|crispy }}

            {% if not has_mit_email %}
              {# Form will not submit without an MIT email address on file #}
              <div class="alert alert-danger"
                   data-ng-cloak
                   data-ng-show="['MU', 'MG'].includes(affiliation)">
                You must have a <a href="{% url 'account_email' %}">verified MIT email address</a>
                in order to claim MIT student status.
              </div>

              {# We allow people to claim MIT affiliation without an MIT email, but warn all the same #}
              <div class="alert alert-warning"
                   data-ng-cloak
                   data-ng-show="affiliation === 'MA'">
                Are you <strong>current</strong> staff or faculty at MIT?
                You don't appear to have a <a href="{% url 'account_email' %}">verified MIT email address</a>.
              </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h3 id="car" class="required">
                <i class="fas fa-car"></i>&nbsp;
                <label for="car_ownership">Do you have a car?</label>
                <div id="car_ownership" class="btn-group" role="group" data-ng-init="{{ has_car_checked|yesno:"car.owner=true,car.owner=false," }}" data-ng-required>
                    <label class="btn" data-ng-model="car.owner" data-ng-class="car.owner ? 'btn-primary' : 'btn-default'" data-uib-btn-radio="true">Yes</label>
                    <label class="btn" data-ng-model="car.owner" data-ng-class="car.owner === false ? 'btn-primary' : 'btn-default'" data-uib-btn-radio="false">No</label>
                </div>
                <input class="ng-hide" type="checkbox" name="has_car" data-ng-checked="car.owner">
            </h3>
            <div data-ng-switch="car.owner" data-ng-cloak>
                <div data-ng-switch-when="true">
                    {{ car_form|crispy }}
                </div>
                <div data-ng-switch-when="false">
                    {% if currently_has_car %}
                        <div class="alert alert-warning">
                            <p><strong>Do you really want to delete your car's information?</strong></p>
                            <p>If you simply do not want to drive, update your <a href="{% url 'lottery_preferences' %}">lottery preferences</a> instead.</p>
                        </div>
                    {% endif %}
                    <p>
                        If you ever rent a car for a trip, please come back here and
                        tell us about it!
                    </p>
                </div>
                <p data-ng-switch-default>
                    If you do, please let us know!
                    You'll never be under any obligation to drive it.
                </p>
            </div>
        </div>
    </div>

    <hr>

    {% if viewing_participant == participant and medical_info_scrubbed %}
      <div class="alert alert-warning">
        You haven't used our system in a while. To safeguard participant
        privacy, we routinely delete medical information. Please update the
        below in order to attend trips!
      </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-6">
        <h3 id="emergency_info"><i class="fas fa-notes-medical"></i> Emergency info</h3>
        <p>
          <strong>You do not have to share anything here.</strong>
          <span> <a href="{% url 'help-personal_info' %}">Read more on privacy</a>.</span>
        </p>
        <p class="small">
          Information will be passed along to trip leaders and (in the
          event of an emergency) any medical professionals.
          Including pertinent information here can aid trip planning
          and emergency response.
          Regardless of what you choose to share, we encourage you to
          always discuss relevant medical issues with your trip leaders.
        </p>
        {{ emergency_info_form|crispy }}
      </div>

      <div class="col-sm-6">
        <h3 id="emergency_contact"><i class="fas fa-ambulance"></i> Emergency contact</h3>
        <p>
          Please consider an alternate person if your primary contact
          will be on trips with you.
        </p>
        {{ emergency_contact_form|crispy }}
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      {% if not has_mit_email %}
        data-ng-disabled="['MU', 'MG'].includes(affiliation)"
      {% endif %}
      >
      Submit
    </button>
</form>

{% if participant.profile_last_updated %}
  <div id="last_updated" class="text-center">
    <small>Last updated on {{ participant.profile_last_updated }}</small>
  </div>
{% endif %}

{% endblock content %}
