{% extends "base.html" %}
{% load form_tags %}
{% load messages_tags %}

{% block head_title %}
Membership dues
{% endblock head_title %}

{% block content %}
  <h1>Pay MITOC membership dues</h1>

  <p class="lead">
    To make the most of MITOC, you must be an active member.
  </p>
  <p>
    Membership lasts for a full calendar year, and enables you to rent gear
    from the office, participate in <a href="{% url 'upcoming_trips' %}">upcoming trips</a>,
    and stay at MITOC's cabins.
  </p>

  <hr>

  {% if user.is_anonymous %}
    <p class="lead">
      Already a member?
      <a href="{% url 'account_signup' %}?next={% url 'pay_dues' %}">Sign up</a>
      or
      <a href="{% url 'account_login' %}?next={% url 'pay_dues' %}">log in</a>
      for easier completion.
    </p>
  {% endif %}
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      {% if user.is_authenticated %}
        <membership-status data-show-full-faq="true" data-personal="true" data-user-id="{{ user.id }}">
        </membership-status>
      {% endif %}
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      {% if viewing_participant %}
        <h3><i class="fas fa-user"></i> Personal </h3>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ viewing_participant.name }}</dd>
          <dt>Email</dt>
          <dd>{{ viewing_participant.email }}</dd>
          <dt>Affiliation</dt>
          <dd>{{ viewing_participant.get_affiliation_display }}</dd>
        </dl>
      {% endif %}

      <form action="https://shopmitprd.mit.edu/controller/index.php" method="POST">
        <div {% if viewing_participant %}class="hidden"{% endif %}>
          {# CyberSource fields, always hidden #}
          {{ form.merchant_id }}
          {{ form.description }}
          {{ form.merchantDefinedData1 }}

          {% form_group form.merchantDefinedData3 %}  {# Email #}
          {% form_group form.merchantDefinedData2 %}  {# Affiliation #}

          {% if form.amount.initial %}
            {# Amount is set server-side already. Render it (will still be hidden for participants) #}
            {% form_group form.amount %}
          {% else %}
            {# Amount must be set by choosing the right affiliation #}

            {# Automatically sets amount from the affiliation that's chosen #}
            <amount-from-affiliation data-affiliation="merchantDefinedData2" data-amount="amount">
            </amount-from-affiliation>

            {# Make amount selection (mostly) work on clients without JavaScript! #}
            <noscript>
              {% form_group form.amount %}
              <div class="alert alert-warning">
                <p>
                  While this form is designed to work without JavaScript,
                  CyberSource (our payment processor) appears to require scripts.
                </p>
                <p>
                  You may want to enable JavaScript on their domain(s), otherwise we
                  will be unable to process your payment.
                </p>
              </div>
              <div class="alert alert-info">
                <p>
                  <strong>MITOC is always happy to accept personal checks for membership payment.</strong>
                </p>
              </div>
            </noscript>
          {% endif %}

        </div>


        <div class="btn-group">
          {% if viewing_participant %}
            <a type="button" class="btn btn-default" href="{% url 'edit_profile' %}?next={% url 'pay_dues' %}">
              <i class="fas fa-edit"></i>&nbsp;Edit Information
            </a>
          {% endif %}
          <button type="submit" class="btn btn-primary" data-ng-disabled="!amount">
            <i class="fas fa-credit-card"></i>&nbsp;Pay <span data-ng-bind="amount ? '$' + amount: ''"></span> {{ viewing_participant.get_affiliation_display }} dues
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
