{% extends "base.html" %}
{% load messages_tags %}

{% block head_title %}
Membership dues
{% endblock head_title %}

{% block content %}
  <h1>Pay MITOC membership dues</h1>

  <p class="lead">
    To make the most of MITOC, you must be an active member.
  </p>
  <p>
    Membership lasts for a full calendar year, and enables you to rent gear
    from the office, participate in <a href="{% url 'upcoming_trips' %}">upcoming trips</a>,
    and stay at MITOC's cabins.
  </p>

  <hr>

  {% if user.is_anonymous %}
    <p class="lead">
      Already a member?
      <a href="{% url 'account_signup' %}?next={% url 'pay_dues' %}">Sign up</a>
      or
      <a href="{% url 'account_login' %}?next={% url 'pay_dues' %}">log in</a>
      for easier completion.
    </p>
  {% endif %}
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      {% if user.is_authenticated %}
        <membership-status data-show-full-faq="true" data-personal="true" data-user-id="{{ user.id }}">
        </membership-status>
      {% endif %}
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      {% if viewing_participant %}
        <h3><i class="fa fa-user"></i> Personal </h3>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ viewing_participant.name }}</dd>
          <dt>Email</dt>
          <dd>{{ viewing_participant.email }}</dd>
          <dt>Affiliation</dt>
          <dd>{{ viewing_participant.get_affiliation_display }}</dd>
        </dl>
      {% endif %}

      <form action="https://shopmitprd.mit.edu/controller/index.php" method="POST">
        <div {% if viewing_participant %}class="hidden"{% endif %}>
          {{ form.as_div }}
        </div>

        <div class="btn-group">
          {% if viewing_participant %}
            <a type="button" class="btn btn-default" href="{% url 'edit_profile' %}?next={% url 'pay_dues' %}">
              <i class="fa fa-edit"></i>&nbsp;Edit Information
            </a>
          {% endif %}
          <button type="submit" class="btn btn-primary" href="{% url 'edit_profile' %}">
            <i class="fa fa-credit-card"></i>&nbsp;Pay $<span data-ng-bind="amount"></span> {{ viewing_participant.get_affiliation_display }} dues
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
