{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Membership dues{% endblock head_title %}

{% block content %}
  <h1>Pay MITOC membership dues</h1>

  <p class="lead">To make the most of MITOC, you must be an active member.</p>
  <p>
    {% if viewing_participant.membership.in_early_renewal_period %}
      Renewing today keeps your membership active until {{ viewing_participant.membership.expiry_if_paid_today|date:"M j, Y" }}.
      Membership
    {% else %}
      Membership lasts for 365 days after dues are paid, and
    {% endif %}
    enables you to
    <a href="https://mitoc.mit.edu/rentals">rent gear</a> from the office,
    participate in <a href="{% url 'upcoming_trips' %}">upcoming trips</a>,
    and stay at <a href="https://mitoc.mit.edu/rentals/cabins">MITOC's cabins</a>.
  </p>

  <hr>

  {% if not user.is_authenticated %}
    <p class="lead">
      Already a member?
      <a href="{% url 'account_signup' %}?next={% url 'pay_dues' %}">Sign up</a>
      or
      <a href="{% url 'account_login' %}?next={% url 'pay_dues' %}">log in</a>
      for easier completion.
    </p>
  {% endif %}
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      {% if user.is_authenticated %}
        <membership-status
          user-id="{{ user.id }}"
          v-bind:show-full-faq="true"
          v-bind:personalized="true">
        </membership-status>
      {% endif %}
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      {% if viewing_participant %}
        <h3><i class="fas fa-user"></i> Personal </h3>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ viewing_participant.name }}</dd>
          <dt>Email</dt>
          <dd>{{ viewing_participant.email }}</dd>
          <dt>Affiliation</dt>
          <dd>{{ viewing_participant.get_affiliation_display }}</dd>
        </dl>
      {% endif %}

      <form action="https://shopmitprd.mit.edu/controller/index.php" method="POST" name="membershipform">
        <div {% if viewing_participant %}class="hidden"{% endif %}>
          {# CyberSource fields, always hidden #}
          {{ form.merchant_id }}
          {{ form.description }}
          {{ form.merchantDefinedData1 }}

          {{ form.merchantDefinedData3|as_crispy_field }}  {# Email #}
          {{ form.merchantDefinedData4|as_crispy_field }}  {# Name #}
          {{ form.merchantDefinedData2|as_crispy_field }}  {# Affiliation #}

          {% if form.amount.initial %}
            {# Amount is set server-side already. Render it (will still be hidden for participants) #}
            {{ form.amount|as_crispy_field }}
          {% else %}
            {# Amount must be set by choosing the right affiliation #}

            {# Automatically sets amount from the affiliation that's chosen #}
            <amount-from-affiliation data-affiliation="affiliation" data-amount="amount">
            </amount-from-affiliation>

            {# Make amount selection (mostly) work on clients without JavaScript! #}
            <noscript>
              {{ form.amount|as_crispy_field }}
              <div class="alert alert-warning">
                <p>
                  While this form is designed to work without JavaScript,
                  CyberSource (our payment processor) appears to require scripts.
                </p>
                <p>
                  You may want to enable JavaScript on their domain(s), otherwise we
                  will be unable to process your payment.
                </p>
              </div>
              <div class="alert alert-info">
                <p>
                  <strong>MITOC is always happy to accept personal checks for membership payment.</strong>
                </p>
              </div>
            </noscript>
          {% endif %}

        </div>

        <div class="alert alert-warning" data-ng-cloak data-ng-show="membershipform.$valid && ['MU', 'MG'].includes(affiliation) && !email.endsWith('mit.edu')">
          <p>
            <strong>You must own an MIT email address</strong> in order to claim the MIT student rate.
          </p>
          <p>
            Prefer to use your personal email address for your membership?
            <a href="{% url 'account_signup' %}?next={% url 'pay_dues' %}">Sign up</a>
            with your MIT email address, then add your personal email to your
            <a href="{% url 'account_email' %}">verified email addresses</a>.
          </p>
        </div>

        <p data-ng-show="['MU', 'MG'].includes(affiliation)">
            If <noscript>you are an MIT student and</noscript> the cost of membership dues is prohibitive to your participation,
           please email <a href="mailto:mitoc-owner@mit.edu">mitoc-owner@mit.edu</a>
           to ask about this fee being waived.
        </p>
        <div class="btn-group">
          {% if viewing_participant %}
            <a type="button" class="btn btn-default" href="{% url 'edit_profile' %}?next={% url 'pay_dues' %}">
              <i class="fas fa-edit"></i>&nbsp;Edit Information
            </a>
          {% endif %}
          <button type="submit" class="btn btn-primary"
            {% if not viewing_participant %}
              data-ng-disabled="!amount || ((affiliation === 'MU' || affiliation === 'MG') && !email.endsWith('mit.edu'))"
            {% endif %}
            >
            <i class="fas fa-credit-card"></i>&nbsp;Pay <span data-ng-bind="amount ? '$' + amount: ''"></span> {{ viewing_participant.get_affiliation_display }} dues
          </button>
        </div>
        <div>
          <small>
            <em>Membership dues are non-refundable.</em>
          </small>
        </div>
      </form>
    </div>
  </div>

  {% block end_of_body_js %}
    {# If not logged in, use just AngularJS for the form #}
    {# This seems to resolve errors with people paying dues when not logged in #}
    {# TODO: Remove this once migrating the whole page to VueJS #}

    {% if user.is_authenticated %}
      {{ block.super }}
    {% endif %}
  {% endblock end_of_body_js %}

{% endblock content %}
