{% extends "base.html" %}
{% load messages_tags %}

{% block head_title %}
Sign waiver
{% endblock head_title %}

{% block content %}
<h1>Sign MITOC's Waiver</h1>

{% if user.is_anonymous %}
  <p class="lead">
    Already a member?
    <a href="{% url 'account_signup' %}?next={% url 'initiate_waiver' %}">Sign up</a>
    or
    <a href="{% url 'account_login' %}?next={% url 'initiate_waiver' %}">log in</a>
    for easier waiver completion.
  </p>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <form method="POST" action="{% url 'initiate_waiver' %}">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary">Sign waiver</button>
      </form>
    </div>
  </div>
{% endif %}

{% if viewing_participant %}
<div class="alert alert-info">
  Please ensure that all this information is accurate
  (it will be used to pre-fill your waiver).
</div>

<h3><i class="fa fa-user"></i> Personal </h3>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ viewing_participant.name }}</dd>
    <dt>Email</dt>
    <dd>{{ viewing_participant.email }}</dd>
    <dt>Phone</dt>
    <dd>{{ viewing_participant.cell_phone }}</dd>
    <dt>Affiliation</dt>
    <dd>{{ viewing_participant.get_affiliation_display }}</dd>
  </dl>
<h3><i class="fa fa-medkit"></i> Emergency Contact </h3>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ viewing_participant.emergency_info.emergency_contact.name }}</dd>
    <dt>Relationship</dt>
    <dd>{{ viewing_participant.emergency_info.emergency_contact.relationship }}</dd>
    <dt>Phone</dt>
    <dd>{{ viewing_participant.emergency_info.emergency_contact.cell_phone }}</dd>
  </dl>

<form method="POST" action="{% url 'initiate_waiver' %}">
  {% csrf_token %}
  <a type="button" class="btn btn-default" href="{% url 'edit_profile' %}"><i class="fa fa-edit"></i>&nbsp;Edit Information</a>
  <button type="submit" class="btn btn-primary" href="{% url 'edit_profile' %}"><i class="fa fa-file-text"></i>&nbsp;Sign Waiver</button>
</form>
{% endif %}
{% endblock content %}
