{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load misc_tags %}

{% block head_title %}
Sign waiver
{% endblock head_title %}

{% block content %}
  <h1>Sign MITOC's Waiver</h1>

  {% if not user.is_authenticated %}
    <p class="lead">
      Already a member?
      <a href="{% url 'account_signup' %}?next={% url 'initiate_waiver' %}">Sign up</a>
      or
      <a href="{% url 'account_login' %}?next={% url 'initiate_waiver' %}">log in</a>
      for easier waiver completion.
    </p>
  {% endif %}

  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-push-6">
      {% if user.is_authenticated %}
        <membership-status
          user-id="{{ user.id }}"
          v-bind:show-full-faq="true"
          v-bind:personalized="true">
        </membership-status>
      {% endif %}
    </div>
    <div class="col-md-6 col-md-pull-6">
      {% if viewing_participant %}
        <h3><i class="fas fa-user"></i> Personal </h3>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ viewing_participant.name }}</dd>
          <dt>Email</dt>
          <dd>{{ viewing_participant.email }}</dd>
          <dt>Phone</dt>
          <dd>{{ viewing_participant.cell_phone|format_phone_number }}</dd>
          <dt>Affiliation</dt>
          <dd>{{ viewing_participant.get_affiliation_display }}</dd>
        </dl>

        <h3><i class="fas fa-medkit"></i> Emergency Contact </h3>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ viewing_participant.emergency_info.emergency_contact.name }}</dd>
          <dt>Relationship</dt>
          <dd>{{ viewing_participant.emergency_info.emergency_contact.relationship }}</dd>
          <dt>Phone</dt>
          <dd>{{ viewing_participant.emergency_info.emergency_contact.cell_phone|format_phone_number }}</dd>
        </dl>

        <div class="alert alert-info">
          Please ensure the above information is accurate
          (it will pre-fill your waiver).
        </div>
      {% endif %}
      <form method="POST" action="{% url 'initiate_waiver' %}">
        {% csrf_token %}
        {% if not viewing_participant %}
          {{ waiver_form|crispy }}
        {% endif %}
        <div>
          <a role="button" class="btn btn-default" data-ng-click="under_18 = !under_18"><i class="fas fa-child"></i>&nbsp;Under 18?</a>
          <div data-ng-cloak data-ng-if="under_18">
            <p>
              Please instruct your parent or guardian to leave a voice message
              at 302-MITOC-GO (302-648-6246) after completing the waiver. The
              message should include your name, your guardian's name, and a
              verbal acknowledgement that the waiver is complete.
              <a href="mailto:mitoc-desk@mit.edu">Questions?</a>
            </p>
            {{ guardian_form|crispy }}
          </div>
        </div>
        <hr>
        <div class="btn-group">
          {% if viewing_participant %}
            <a type="button" class="btn btn-default" href="{% url 'edit_profile' %}?next={% url 'initiate_waiver' %}">
                <i class="fas fa-edit"></i>&nbsp;Edit Information
            </a>
          {% endif %}
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-file-alt"></i>&nbsp;Sign Waiver
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
