{% extends "base.html" %}
{% load messages_tags %}

{% block head_title %}
Sign waiver
{% endblock head_title %}

{% block content %}
  <h1>Sign MITOC's Waiver</h1>

  {% if user.is_anonymous %}
    <p class="lead">
      Already a member?
      <a href="{% url 'account_signup' %}?next={% url 'initiate_waiver' %}">Sign up</a>
      or
      <a href="{% url 'account_login' %}?next={% url 'initiate_waiver' %}">log in</a>
      for easier waiver completion.
    </p>
  {% endif %}

  {% if viewing_participant %}
    <div class="alert alert-info">
      Please ensure that all this information is accurate
      (it will be used to pre-fill your waiver).
    </div>

    <h3><i class="fa fa-user"></i> Personal </h3>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ viewing_participant.name }}</dd>
      <dt>Email</dt>
      <dd>{{ viewing_participant.email }}</dd>
      <dt>Phone</dt>
      <dd>{{ viewing_participant.cell_phone }}</dd>
      <dt>Affiliation</dt>
      <dd>{{ viewing_participant.get_affiliation_display }}</dd>
    </dl>

    <h3><i class="fa fa-medkit"></i> Emergency Contact </h3>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ viewing_participant.emergency_info.emergency_contact.name }}</dd>
      <dt>Relationship</dt>
      <dd>{{ viewing_participant.emergency_info.emergency_contact.relationship }}</dd>
      <dt>Phone</dt>
      <dd>{{ viewing_participant.emergency_info.emergency_contact.cell_phone }}</dd>
    </dl>
  {% endif %}


  <div class="row">
    <div class="col-sm-8 col-md-6">
      <form method="POST" action="{% url 'initiate_waiver' %}">
        {% csrf_token %}
        {% if not viewing_participant %}
          {{ waiver_form.as_div }}
        {% endif %}
        <div>
          <button type="button" class="btn btn-default" ng-click="under_18 = !under_18"><i class="fa fa-child"></i>&nbsp;Under 18?</button>
          <div data-ng-cloak data-ng-if="under_18">
            <p>
              Please instruct your parent or guardian to leave a voice message
              at 302-MITOC-GO (302-648-6246) after completing the waiver. The
              message should include your name, your guardian's name, and a
              verbal acknowledgement that the waiver is complete.
              <a href="mailto:mitoc-desk@mit.edu">Questions?</a>
            </p>
            {{ guardian_form.as_div }}
          </div>
          <hr>
        </div>
        {% if viewing_participant %}
          <a type="button" class="btn btn-default" href="{% url 'edit_profile' %}"><i class="fa fa-edit"></i>&nbsp;Edit Information</a>
        {% endif %}
        <button type="submit" class="btn btn-primary" href="{% url 'edit_profile' %}"><i class="fa fa-file-text"></i>&nbsp;Sign Waiver</button>
      </form>
    </div>
  </div>
{% endblock content %}
