{% if trip.algorithm == 'fcfs' and not existing_signup.on_trip and not existing_signup.waitlistsignup %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      You've already signed up for this trip, but are neither a participant
      nor on the waitlist.
    </div>
    <div class="panel-body">
      <p>
        Most likely, this is because you were
        <a href="{% url 'home' %}">placed on another trip</a>.
      </p>
      <p>
        If you can attend this trip and it does not conflict with any of your
        other trips (<strong>confirm this with your leaders</strong>), you're
        free to join this trip.
      </p>
    </div>
    <div class="panel-footer">
      <form action="{% url 'view_trip' trip.pk %}" method="post">
        {% csrf_token %}
        {% if trip.open_slots %}
            This trip has empty slots. Do you want to be added to this trip?
            <button type="submit" class="btn btn-primary">Join trip</button>
        {% else %}
            The trip is full. Do you want to be added to the waitlist?
            <button type="submit" class="btn btn-primary">Join waitlist</button>
        {% endif %}
      </form>
    </div>
  </div>
{% endif %}
