<div class="alert alert-info">
  Signups for this trip are not yet open.
</div>
{% if leader_signup_allowed %}
  <div class="alert alert-success">
    However, you can sign up early as a leader!
  </div>
  {% if not participant.info_current %}
    <div class="alert alert-warning">
      You cannot sign up for trips without current
      <a href="{% url 'edit_profile' %}">personal information</a>.
    </div>
  {% else %}
    <form name="{{ signup_form.form_name }}"
          action="{% url 'leader_trip_signup' %}"
          method="post"
          novalidate
          data-submit-if-valid>
      {% csrf_token %}
      {{ signup_form.as_div }}
      <button type="submit" class="btn btn-success">Leader Sign Up</button>
    </form>
  {% endif %}
{% endif %}
