{% load signup_tags %}
{% load crispy_forms_tags %}

<div class="alert alert-info">
  Signups for this trip are not yet open.
</div>
{% if leader_signup_allowed %}
  <div class="alert alert-success">
    However, you can sign up early as a leader!
  </div>
  {% if reasons_cannot_attend %}
    {% how_to_attend trip reasons_cannot_attend user %}
  {% else %}
    <form name="{{ signup_form.form_name }}"
          action="{% url 'leader_trip_signup' %}"
          method="post">
      {% csrf_token %}
      {{ signup_form|crispy }}
      <button type="submit" class="btn btn-success">Leader Sign Up</button>
    </form>
  {% endif %}
{% endif %}
