{% load signup_tags %}
{% load crispy_forms_tags %}

<div class="alert alert-info">
  Signups are open!
</div>

{% if reasons_cannot_attend %}
  {% how_to_attend trip reasons_cannot_attend user %}
{% else %}
  <form name="{{ signup_form.form_name }}"
        {# Note that leader signups will override this action, via formaction on the submit button #}
        action="{% url 'trip_signup' %}"
        method="post">
    {% csrf_token %}
    {{ signup_form|crispy }}

    {% if same_day_trips %}
      <div class="alert alert-danger">
        <strong>Are you sure you can attend?</strong>
        You're also attending
        {% for trip in same_day_trips %}
          <a href="{% url 'view_trip' trip.pk %}">{{ trip.name }}</a>{% if forloop.last %}.{% else %},{% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if leader_signup_allowed %}
      <button type="submit" formaction="{% url 'leader_trip_signup' %}" class="btn btn-success">Sign up as leader</button>
    {% endif %}
    <button type="submit" class="btn btn-primary">Sign up{% if leader_signup_allowed %} as participant{% endif %}</button>
  </form>
{% endif %}
