{% load signup_tags %}

<div class="alert alert-info">
  Signups are open!
  {% if is_wimp %}
    However, you cannot sign up as you're currently the WIMP.
  {% endif %}
</div>

{% if not user.is_authenticated %}
  {% anonymous_signup trip %}
{% elif is_wimp %}
  {# Display nothing: WIMP should not be allowed to be on the trip. #}
{% elif not user|can_attend:trip %}
  <div class="alert alert-danger">
    In order to participate on this trip, you must have
    {% if trip.membership_required and participant|should_renew_for:trip %}
      {% if not participant|membership_active %}
        an <a href="{% url 'pay_dues' %}">active membership</a>
      {% else %}
        a <a href="{% url 'pay_dues' %}">membership that's valid until at least {{ trip.trip_date|date:"F jS" }}</a>
      {% endif %}
      and
    {% endif %}
    a <a href="{% url 'initiate_waiver' %}">waiver that's valid until at least {{ trip.trip_date|date:"F jS" }}</a>.
  </div>

  <membership-status data-personal="true" data-user-id="{{ user.id }}">
  </membership-status>
{% elif not participant.profile_allows_trip_attendance %}
  <div class="alert alert-danger">
    You cannot sign up for trips without current
    <a href="{% url 'edit_profile' %}?next={% url 'view_trip' trip.pk %}">personal information</a>.
  </div>
{% else %}

  {% if leader_signup_allowed %}
    {# By using the same form name, the ng-model on comments fields will be shared! #}
    <form name="{{ signup_form.form_name }}"
          action="{% url 'leader_trip_signup' %}"
          method="post"
          novalidate>
      {% csrf_token %}
      {{ signup_form.as_div }}
      <button type="submit" class="btn btn-success optional-leader-signup">Sign up as leader</button>
    </form>
  {% endif %}

  <form name="{{ signup_form.form_name }}"
        action="{% url 'trip_signup' %}"
        method="post"
        data-submit-if-valid
        novalidate>
    {% csrf_token %}
    <div {% if leader_signup_allowed %}class="hidden"{% endif %}>
      {{ signup_form.as_div }}
    </div>
    <button type="submit" class="btn btn-primary">Sign up {% if leader_signup_allowed %}as participant{% endif %}</button>
  </form>
{% endif %}
