{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load medical_tags %}
{% load signup_tags %}
{% load trip_tags %}

{% block head_title %}{{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}


<div class="row">
  <div class="col-sm-2">
    <a role="button" class="btn btn-default"
      {% if prev_trip %}
        href="{% url 'view_trip_for_approval' activity_enum.value prev_trip.pk %}"
      {% else %}
        disabled
      {% endif %}
      >
      &laquo; Previous
    </a>
  </div>
  <div class="col-sm-8 text-center">
    {% if trip.chair_approved %}
      {# It's possible that we loaded an already approved trip this way. #}
      <button
          class="btn btn-success"
          disabled
          {% if last_approval %}
            uib-tooltip="by {{ last_approval.approver.name }} {{ last_approval.time_created }}"
          {% endif %}
        >Approved!</button>
    {% else %}
      <form method="post" action="." class="form-inline">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Approve{% if next_trip %} &amp; Next{% endif %}</button>
      </form>
    {% endif%}
  </div>

  <div class="col-sm-2 text-right">
    <a role="button" class="btn btn-default"
      {% if next_trip %}
        href="{% url 'view_trip_for_approval' activity_enum.value next_trip.pk %}"
      {% else %}
        disabled
      {% endif %}
      >
      Next &raquo;
    </a>
  </div>
</div>

<hr>


{% trip_edit_buttons trip viewing_participant user True %}

<div class="row">
  <div class="col-md-6">
    {% trip_summary trip %}
  </div>
  <div class="col-md-6">
    {% if approvals %}
      <h2>Approvals</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Chair</th>
            <th>Approved at</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for approval in approvals %}
            <tr>
              <td>{{ approval.approver }}</td>
              <td>{{ approval.time_created }}</td>
              <td>{{ approval.notes }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <h2>Trip Itinerary</h2>
    {% if trip.info %}
      {% trip_itinerary trip %}
    {% else %}
      <div class="alert alert-warning">
        No trip itinerary posted!
      </div>
    {% endif %}

  </div>
</div>

{% endblock content %}
