{% extends "base.html" %}
{% load medical_tags %}
{% load signup_tags %}
{% load trip_tags %}

{% block head_title %}{{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}


<div class="row">
  <div class="col-xs-4">
    <a role="button" class="btn btn-default"
      {% if prev_trip %}
        href="{% url 'view_trip_for_approval' activity_enum.value prev_trip.pk %}"
      {% else %}
        disabled
      {% endif %}
      >
      &laquo; Previous
    </a>
  </div>
  <div class="col-xs-4 text-center">
    {% if trip.chair_approved %}
      {# It's possible that we loaded an already approved trip this way. #}
      {# We could theoretically make this into a toggle, but that could be confusing UX. #}
      <button class="btn btn-success" disabled>Approved!</button>
    {% else %}
      <form method="post" action=".">
        {% csrf_token %}
        {# NOTE: This could may well be an old trip. Allow approving it anyway, if chairs feel like it. #}
        <button class="btn btn-primary" type="submit">Approve{% if next_trip %} &amp; Next{% endif %}</button>
      </form>
    {% endif%}
  </div>

  <div class="col-xs-4 text-right">
    <a role="button" class="btn btn-default"
      {% if next_trip %}
        href="{% url 'view_trip_for_approval' activity_enum.value next_trip.pk %}"
      {% else %}
        disabled
      {% endif %}
      >
      Next &raquo;
    </a>
  </div>
</div>

<hr>


{% trip_edit_buttons trip viewing_participant user True %}

<div class="row">
  <div class="col-md-6">
    {% trip_summary trip %}
  </div>
  <div class="col-md-6">
    <h2>Trip Itinerary</h2>
    {% if trip.info %}
      {% trip_itinerary trip %}
    {% else %}
      <div class="alert alert-warning">
        No trip itinerary posted!
      </div>
    {% endif %}

  </div>
</div>

{% endblock content %}
