{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load trip_tags %}
{% block head_title %}Leaderboard{% endblock head_title %}

{% block content %}
  {{ block.super }}
  <form action="" method="post">
    {% csrf_token %}
    {# Let's not render the querystring field (though it works) #}
    <div class="row">
      <div class="col-md-4">
        {{ form.program|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.winter_terrain_level|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.trip_type|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        {{ form.start_date|as_crispy_field }}
      </div>
      <div class="col-xs-6">
        {{ form.end_date|as_crispy_field }}
      </div>
    </div>
    {# Edge case: Make sure that "Search" still returns HTML if a CSV was requested. #}
    <button type="submit" class="btn btn-primary" formaction="{% url 'leaderboard' %}">Search</button>
    <button type="submit" class="btn btn-default" formaction="{% url 'leaderboard_csv' %}"><i class="fas fa-download"></i>&nbsp; CSV</button>
    {% if request.GET %}<a href="{% url 'leaderboard' %}" role="button" class="btn btn-default"><i class="fas fa-eraser"></i>&nbsp;Clear filters</a>{% endif %}
  </form>

  <h1>{{ leaderboard_title }}</h1>
  {% if not rows %}
    <div class="alert alert-warning">No trips found!</div>
  {% else %}
    <table class="footable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Trips led</th>
          {# All dicts will be in the exact same order! #}
          {% for program in rows.0.trips_led_per_program %}
            <th data-type="numeric">
              {# When rendering *lots* of programs, we'll conserve space #}
              <span{% if not show_program_labels %} uib-tooltip="{{ program.label }}"{% endif %}>
                <i class="fa fw fa-{% program_icon program 'times' %}"></i>
                {% if show_program_labels %}{{ program.label }}{% endif %}
              </span>
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            <td><a href="{% url 'view_participant' row.leader.pk %}">{{ row.leader.name }}</a></td>
            <td>{{ row.total_trips_led }}</td>
            {% for trips in row.trips_led_per_program.values %}
              <td>
                {# 50 words is roughly enough to display trip names for ten trips (and a sensible tooltip max) #}
                <span{% if trips %} uib-tooltip="{{ trips|join:' | '|truncatewords:50 }}"{% endif %}>
                  {{ trips|length }}
                </span>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock content %}
