{% extends "base.html" %}
{% load trip_tags %}
{% block head_title %}Leader applications {% endblock head_title %}

{% block content %}
{{ block.super }}

{# Show a notice if applications are disabled, plus a link to re-enable submission. #}
{% if new_applications_disabled and not needs_rec %}
  <div class="alert alert-warning">
    Participants are currently blocked from submitting new leader applications.

    {% if activity_enum.is_winter_school %}
      <a href="{% url 'ws_settings' %}">Allow leaders to create new applications?</a>
    {% endif %}
  </div>
{% endif %}

{% if not pending %}
  <h2>Leader Applications</h2>
  {% if activity_enum.value == 'climbing' %}
    {% if apps_by_year %}
      <p class="lead">Only archived climbing leader applications appear here.</p>
    {% endif %}
    <div class="alert alert-warning">
      New leader applications will come in via the Google Form
      on the <a href="{% url 'become_leader' activity_enum.value %}">leader application page</a>.
    </div>
  {% else %}

    <p class="lead">There are no leader applications pending your review.</p>
    {% if missing_form %}
      <div class="alert alert-warning">
        <p>You don't have any application form defined for {{ activity_enum.label }}!</p>

        <p>
          If you'd like to enable leader applications through the web site, prepare
          your form questions then send an email to
          <a href="mailto:davidjosephcain@gmail.com">David Cain</a>.
        </p>
      </div>
    {% else %}
      <p>
        Once participants complete
        a <a href="{% url 'become_leader' activity_enum.value %}">leader application</a>, you
        will be able to assign them ratings based on their responses.
      </p>
  {% endif %}
  {% endif %}

{% else %}  {# Some applications need recommendations and/or ratings #}

  <div class="row">
    <div class="col-md-6">
      <h2>
        Needs Recommendation
        {% if needs_rec %}
          <a role="button" href="{% url 'view_application' activity_enum.value needs_rec.0.id %}" class="btn btn-primary pull-right">
            <i class="fas fa-thumbs-up"></i>
            Start
          </a>
        {% endif %}
      </h2>

      {% if needs_rec %}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Past rating</th>
              <th>Desired rating</th>
            </tr>
          </thead>
          <tbody>
            {% for application in needs_rec %}
            <tr>
              <td class="nowrap"><a href="{% url 'view_application' activity_enum.value application.id %}">{{ application.participant.name }}</a></td>
              <td>{{ application.previous_rating }}</td>
              <td>{{ application.desired_rating }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}  {# There aren't any applications that need recommendations. #}
        <div class="alert alert-info">
          {% if num_chairs <= 1 %}
            <p>
              When there are multiple activity chairs, co-chairs can make recommendations to one another.
              However, this doesn't really make sense when
              {% if num_chairs == 1 %}
                there's a single chair.
              {% else %}
                {# For example, following elections in 2021, no hiking chair existed. #}
                there is not an acting chair.
              {% endif %}
            </p>
          {% else %}
            You've given recommendations on all open applications!
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="col-md-6">
      <h2>
        Needs Rating
        {% if needs_rating %}
          <a role="button" href="{% url 'view_application' activity_enum.value needs_rating.0.id %}" class="btn btn-success pull-right">
            <i class="fas fa-star-half"></i>
            Start
          </a>
        {% endif %}
      </h2>

      {% if needs_rating %}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th data-hide="phone">Past rating</th>
              <th>Desired rating</th>
            </tr>
          </thead>
          <tbody>
            {% for application in needs_rating %}
            <tr>
              <td><a href="{% url 'view_application' activity_enum.value application.id %}">{{ application.participant.name }}</a></td>
              <td>{{ application.previous_rating }}</td>
              <td>{{ application.desired_rating }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% elif needs_rec %}
        <div class="alert alert-info">
          Recommend some leader ratings for other applications to populate this list.
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}



{% if apps_by_year %}
  <hr>

  {% for year, applications in apps_by_year %}
    <h2>Past Applications - {{ year }}</h2>
    <table class="footable">
      <thead>
        <tr>
          <th>Name</th>
          <th data-hide="phone">Past rating</th>
          <th>Desired rating</th>
          <th data-hide="phone">Assigned rating</th>
        </tr>
      </thead>
      <tbody>
        {% for application in applications %}
          <tr>
            <td><a href="{% url 'view_application' activity_enum.value application.id %}">{{ application.participant.name }}</a></td>
            <td>{{ application.previous_rating }}</td>
            <td>{{ application.desired_rating }}</td>
            <td>{{ application.participant|activity_rating:activity_enum }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endif %}

{% endblock content %}
