{% extends "base.html" %}
{% load messages_tags %}
{% load gravatar %}
{% load trip_tags %}

{% block content %}
{{ block.super }}

<div id="application-controls" class="row">
  {% if not assigned_rating %}
    <div class="col-md-2 col-xs-6">
      <a role="button" class="btn btn-default prev-next-app"
        {% if prev_app %}
          href="{% url 'view_application' activity prev_app.pk %}"
        {% else %}
          disabled
        {% endif %}
        >
        &laquo; Previous
      </a>
    </div>

    <div class="col-md-2 col-md-push-8 col-xs-6 text-right">
      <a role="button" class="btn btn-default prev-next-app"
        {% if next_app %}
          href="{% url 'view_application' activity next_app.pk %}"
        {% else %}
          disabled
        {% endif %}
        >
        Next &raquo;
      </a>
    </div>
  {% endif %}

  <div
    {% if not assigned_rating %}
      class="col-md-8 col-md-pull-2 col-xs-12"
    {% else %}
      class="col-md-12"
    {% endif %}
  >
    <form name="{{ leader_form.form_name }}" method="post" action="." novalidate data-submit-if-valid>
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-3">
          {{ leader_form.rating.label_tag }}
          {{ leader_form.rating }}
          {{ leader_form.rating.errors }}
        </div>
        <div class="col-sm-5">
          {{ leader_form.notes.label_tag }}
          {{ leader_form.notes }}
          {{ leader_form.notes.errors }}
        </div>
        <div class="col-sm-4">
          <div>{{ leader_form.recommendation }}</div>
          <button type="submit"
                  class="btn btn-primary"
                  data-ng-bind="'Create ' + (recommendation ? 'Recommendation' : 'Rating' )">
            Create Recommendation{# Hack to avoid the flicker without ng-cloak #}
          </button>
        </div>
      </div>
    </form>
  </div>

</div>

<hr>


<div class="row">
  <div class="col-md-6">

    <div class="media">
      <div class="media-left">
        <div class="media-object">
          <div class="profile-photo">
            {{ application.participant.email|gravatar:150 }}
          </div>
        </div>
      </div>
      <div class="media-body">
        <h2 class="media-heading">
          <a href="{% url 'view_participant' application.participant.id %}">{{ application.participant.name }}</a>
        </h2>
        <dl class="dl-horizontal">
          <dt>Previous ratings:</dt>
          <dd>
            <ul class="list-unstyled">
              {% for rating in previous_ratings %}
              <li>
                {{ rating.rating }},
                <span
                  {% if rating.active %}
                    class="label label-primary"
                  {% else %}
                    class="label label-default"
                  {% endif %}
                  data-uib-tooltip="Rating of '{{ rating.rating }}' created by {{ rating.creator.name }} on {{ rating.time_created|date }}"
                >{{ rating.time_created|date:"Y-m-d" }}</span>
              </li>
              {% empty %}
                {# It might be an old application where we just asked participants #}
                <li>{{ application.previous_rating|default:"None" }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dt>Desired rating:</dt>
          <dd>{{ application.desired_rating }}</dd>
          {% if assigned_rating %}
            <dt>Assigned rating:</dt>
            <dd>{{ assigned_rating.rating }}</dd>
          {% endif %}
          <dt>Taking WFA:</dt>
          <dd>{{ application.taking_wfa }}</dd>
        </dl>
      </div>
    </div>

    <dl>
      {% if application.training %}
        <dt>Formal training and qualifications</dt>
        <dd>{{ application.training|linebreaks }}</dd>
      {% endif %}

      {% if application.winter_experience %}
        <dt>Winter experience</dt>
        <dd>{{ application.winter_experience|linebreaks }}</dd>
      {% endif %}

      {% if application.other_experience %}
        <dt>Other outdoors/leadership experience</dt>
        <dd>{{ application.other_experience|linebreaks }}</dd>
      {% endif %}

      {% if application.notes_or_comments %}
        <dt>Notes or comments</dt>
        <dd>{{ application.notes_or_comments|linebreaks }}</dd>
      {% endif %}
    <dl>
  </div>

  <div class="col-md-6">
    {% messages_alerts %}
    {% if recommendations %}
    <h3><i class="fa fa-thumbs-up"></i> Recommendations</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Leader</th>
            <th>Rating</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for rec in recommendations %}
            <tr>
              <td>{{ rec.creator }}</td>
              <td>{{ rec.rating }}</td>
              <td>{{ rec.notes }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
    {% endif %}

    {% feedback_table all_feedback %}

    {% if trips_led %}
      <h3><i class="fa fa-suitcase"></i> Trips Led</h3>
      {% simple_trip_list trips_led 50 150 True %}
    {% endif %}
  </div>
</div>

{% endblock content %}
