{% extends "messages_page.html" %}
{% load gravatar %}
{% load trip_tags %}

{% block content %}
{{ block.super }}

<div class="row">
  <div class="col-md-6">

<div class="media">
  <div class="media-left">
    <div class="media-object">
      <div class="profile-photo">
        {{ application.participant.email|gravatar:100 }}
      </div>
    </div>
  </div>
  <div class="media-body">
    <h2 class="media-heading">
      <a href="{% url 'view_participant' application.participant.id %}">{{ application.participant.name }}</a>
    </h2>
    <dl class="dl-horizontal">
      <dt>Previous rating:</dt>
      <dd>{{ application.previous_rating|default:None }}</dd>
      <dt>Desired rating:</dt>
      <dd>{{ application.desired_rating }}</dd>
      <dt>Taking WFA:</dt>
      <dd>{{ application.taking_wfa }}</dd>
    </dl>
  </div>
</div>

    <dl>
      {% if application.training %}
        <dt>Formal training and qualifications</dt>
        <dd>{{ application.training|linebreaks }}</dd>
      {% endif %}

      {% if application.winter_experience %}
        <dt>Winter experience</dt>
        <dd>{{ application.winter_experience|linebreaks }}</dd>
      {% endif %}

      {% if application.other_experience %}
        <dt>Other outdoors/leadership experience</dt>
        <dd>{{ application.other_experience|linebreaks }}</dd>
      {% endif %}

      {% if application.notes_or_comments %}
        <dt>Notes or comments</dt>
        <dd>{{ application.notes_or_comments|linebreaks }}</dd>
      {% endif %}
    <dl>

    {% if recommendations %}
      <h3>Recommendations</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Leader</th>
            <th>Rating</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for rec in recommendations %}
            <tr>
              <td>{{ rec.creator }}</td>
              <td>{{ rec.rating }}</td>
              <td>{{ rec.notes }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
    {% endif %}

    <h2>Create or Recommend Rating</h2>
    <form name="{{ leader_form.form_name }}" method="post" action="." novalidate data-submit-if-valid>
      {% csrf_token %}
      {{ leader_form.as_div }}
      <button type="submit" class="btn btn-primary"
          data-ng-bind="'Create ' + (recommendation ? 'Recommendation' : 'Rating')">
          Create Rating{# Hack to avoid the flicker without ng-cloak #}
      </button>
    </form>
  </div>

  <div class="col-md-6">
    {% feedback_table all_feedback %}
  </div>
</div>
{% endblock content %}
