{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load form_tags %}
{% block head_title %}Discounts{% endblock head_title %}

{% block content %}
{{ block.super }}

<h1>MITOC Discounts (Discontinued)</h1>
<p class="lead">
  Previously, MITOC allowed automatic sharing of information with local businesses.
</p>
<p>
  The discount program has been discontinued. Local businesses may extend
  discounts (at their own discretion) to MITOCers. Inquire directly at those
  businesses; MITOC does not manage these programs in any way.
</p>

{% if viewing_participant.is_student %}
<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <label>Ikon College Ski Club Program</label>
      </div>
      <div class="col-md-4 col-md-push-4 col-xs-6 text-right">
        <a href="https://www.ikonpass.com/en/college"><i class="fas fa-external-link-alt"></i> College Club Program</a>
      </div>
      <div class="col-md-4 col-md-pull-4 col-xs-12 text-center">
        <small>$589 Base, $839 Base Plus, $879 Full</small>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>
        <strong>To receive a discount for the 2024-25 season</strong>, fill out <a href="https://forms.office.com/r/7Tka0stVG3">a brief form</a>.
    </p>
    <hr>
    <p>
        MITOC student members can get discounted passes:
        $879 for the Ikon Pass,
        $839 for the Ikon Base Plus Pass,
        and $589 for the Ikon Base Pass.
    </p>
    <p>
        The major distinction between the Ikon (Full) and Base passes are that the
        Base passes have some blackout dates, and provide 5 days vs. 7 days at
        the non-core resorts.

        In the Northeast, locations include:
    </p>
    <ul>
        <li>Stratton, VT (unlimited)</li>
        <li>Sugarbush, VT (unlimited)</li>
        <li>Tremblant, QC (unlimited)</li>
        <li>Killington-Pico, VT</li>
        <li>Sugarloaf, ME</li>
        <li>Sunday River, ME</li>
        <li>Loon, NH</li>
    </ul>
    <p>
      Discounts can be requested now and used later; the program
      closes November 30, 2024, so make sure to purchase before then.
    </p>
    <p>
      Please direct any questions to <a href="mailto:mitoc.ikon@gmail.com">mitoc.ikon@gmail.com</a>.
    </p>

  </div>
</div>
{% endif %}
{% endblock content %}
