<h4>Activity Ratings: (co)I, (co)S</h4>

<p>
  coI leaders are likely experienced rock climbers, good at building TR
  anchors, and have experience following ice. Most often they are MITOC
  rock climbing leaders or involved in the rock climbing program. Full Ice
  leaders should be comfortable leading ice climbs as we expect full ice
  leaders to know how to read ice conditions and have substantial ice
  climbing experience.
</p>

<p>
  coS leaders are generally experienced frontcountry skiers (blacks aren’t
  hard) with at least some backcountry ski experience. Full S leaders have
  critical hard skills that include knowing how to identify what is and is
  not avalanche terrain (and knowing to stay out of it for MITOC trips),
  proper setup, fit and basic repair of AT and telemark gear, and use of
  skins/ other backcountry ski gear.
</p>
