<h3>For all climbing leaders:</h3>
<ul>
  <li>You have strong group management skills.</li>
  <li>You are comfortable correcting participants (skills, safety, etc) and telling them no (climb selection, leading, belaying, etc).</li>
  <li>You understand MITOC climbing culture and norms. This includes trip planning, packing, travel, risk assessment, and safety protocols.</li>
  <li>You are not a guide. MITOC is not a guiding service and we don’t want to become one. You should pick participants appropriately and you should be okay with saying no to someone who is not ready for the trip you want to lead.</li>
  <li>You don’t need to be able to climb 5.hard. In none of the descriptions below are climbing grades mentioned. Acquiring the technical skills to meet the different ratings requires a lot of climbing, but knowing your physical capabilities and leading trips within them is more important than what those limits are.</li>
</ul>


<h3>Top Rope (TR)</h3>
<p>
  You know how to evaluate and build anchors using monoliths (typically trees) or
  bolts. You can safely get yourself to the edge of the cliff and, using a
  variety of techniques, build a bomber anchor. You also know how to teach and
  evaluate top rope belayers.
</p>
<p>
  At this level, you can lead trips to areas like Quincy Quarries, Rattlesnake
  Rocks, Den Rock, Pawtuckaway, or Redrocks that use natural features or bolts
  for anchors at the top of climbs.
</p>

<h3>Sport (S)</h3>
<p>
  You are a confident lead climber and belayer. You can set up or clean a bolted
  anchor in your sleep and know how to handle slightly funky situations (just
  chains, bolts at different heights, various styles of lower-offs). You can
  safely clean overhanging climbs and you know when to set up directionals. You
  can evaluate someone else's lead belaying ability and determine whether a
  participant should be allowed to lead belay or lead climb on a MITOC trip. You
  are able to assess a group’s collective abilities and suggest appropriate crags
  and climbs.
</p>
<p>
  At this level, you can lead single-pitch climbs to sport climbing areas with
  bolted anchors, like Rumney or Farley.
</p>

<h3>Trad (T)</h3>
<p>
  Trad leaders should have the skills outlined in the sport section, plus strong
  ability and confidence in using cams, nuts, and tri-cams to protect a climb and
  build a gear anchor that can be left unattended. You can look at someone else's
  gear placement and critically evaluate it, suggesting other pieces that might
  have worked. You know how to evaluate rock quality and understand how that
  affects placements. You can walk up to a climb you've never done before,
  determine whether you can make it up safely, and do so. You understand how to
  belay from above, both from the anchor and from your harness, and know how to
  safely lower a follower in either configuration.
</p>
<p>
  Single pitch climbs are defined as not exceeding half a rope length (you are
  able to lower to the ground with your remaining rope at any point during the
  climb). Participants on this level of trip should never be belaying from a
  hanging belay. You can lead trips to single-pitch trad areas with a variety of
  anchor styles (bolts, natural features, or gear) such as Peterskill, Rose
  Ledge, Farley, Echo Crag, or Otter Cliffs. You can also lead climbs at MP areas
  which have fixed rappel stations at the top of the first pitch, such as the
  Gunks (e.g. Boston, Laurel, Ken's Crack, Ant's Line) or Cathedral (North End,
  left side of the Barber Wall if accessed from the top).
</p>

<h3>Multipitch (MP)</h3>
<p>
  Multipitch leaders should be confident with the skills outlined in the trad and
  TR sections, as well as multipitch skills. You have rappelled many times, know
  many ways to make it safer, and could teach it to someone else. You can build
  bomber gear anchors, understand how to make them multi-directional, can belay
  from above with numerous methods, and can evaluate multipitch specific risks
  such as factor-two falls. You understand how to manage two ropes (singles or
  doubles, as halves or twins) and two followers in a variety of configurations
  (caterpillar or simultaneous follow). You are comfortable teaching the skills
  and systems required for followers, such as clove hitches, cleaning gear,
  breaking down an anchor, rappelling, and ascending the rope. You understand how
  to adequately protect climbs for your followers, including traverses and
  overhangs. You understand how to assist your followers, including clear
  communication (including belay choice) or lowering a loop. You've climbed many
  times at New England crags such as the Gunks and Cathedral. You've most likely
  taken a self-rescue course or have self-rescue experience with frequently used
  skills such as going hands free, ascending the rope, and bailing safely. You
  can rappel and belay if you happen to lose your belay device.
</p>
<p>
  At this level, you can lead trips to shorter, regularly trafficked multipitch
  trad areas with short approaches such as the Gunks, Whitehorse, and Cathedral.
</p>

<h3>Alpine / Backcountry (A)</h3>
<p>
  Everything from multipitch, plus more extensive self-rescue practice with
  skills such as escaping the belay, tandem rappels with an injured partner,
  counterbalance rappels, rope soloing, aiding, and hauling. You know not only
  how to get up a climb, but how to do so safely and quickly. You know how to
  pick climbs appropriate for the entire party’s skills, understand that such
  climbs bring additional objective hazards, and know when to adjust your limits
  appropriately. You know when and how to bail, even on long or traversing
  routes. You are experienced at routefinding and understand weather systems in
  the Northeast. You could comfortably lead an inexperienced party of two up
  Cannon routes such as Moby Grape or Whitney Gilman. You have taken WFA, WFR, or
  other wilderness medicine courses (we will eventually require a current cert,
  but understand that COVID has limited course offerings). You have the requisite
  navigation skills to find, climb, and descend backcountry climbs.
</p>
<p>
  At this level, you can lead trips to any of the Northeast climbing areas,
  including alpine rock climbs and remote backcountry climbing areas with long
  approaches. Example climbs include:

  <ul>
    <li>Cannon</li>
    <li>Mt. Washington</li>
    <li>Baxter (Katahdin)</li>
    <li>Daks: Wallface (Diagonal), Gothics Arch, Poke-o-Moonshine</li>
    <li>Backcountry crags in the Whites: The Captain, North Bald Cap, Owl's Cliff, Greens Cliff, Endeavor at White's Ledge</li>
  </ul>
</p>

<h3>Bouldering (B)</h3>
<p>
  You have knowledge of local bouldering areas, especially as it relates to
  picking appropriate boulders for your group's skill, stoke, and commitment
  levels. You are experienced at assessing landing zones for hazards and
  deploying bouldering pads to mitigate such hazards. You are an experienced
  spotter, can teach others spotting technique, and can manage several spotters
  when appropriate.
</p>

<p>
  You can lead trips to bouldering areas such as Pawtuckaway, Lincoln
  Woods, Hammond Pond, or Lynn Woods.
</p>
