<h4>Terrain Ratings: (co)A, (co)B, (co)C</h4>

<p>
  To receive a Winter School leader rating you should have some winter hiking
  experience, and some group management experience (could be leading summer
  hikes).
</p>

<p>
  If you are a new Winter School leader you start with only a co-rating to
  learn how MITOC does things from an established full leader. If you have
  substantial winter hiking experience outside of MITOC we will ask you to
  have your co-leader the first weekend send a reference for upgrade to full
  leader status once you are familiar with the MITOC way of doing things.
</p>

<p>
  For a coB rating you should have experience travelling in B terrain. Most
  trips are B trips so we try to assign coB ratings where possible, and
  most winter hiking experience falls within B territory anyway.
</p>

<p>
  For a coC rating you should know how to self-arrest from all 4 positions,
  proper ice axe and crampon use, be able to navigate in poor visibility, and
  properly layer above treeline.
</p>

<p>
  If you do not have current WFA (or higher) you cannot be a full B or C leader.
</p>
