{# When modifying this message, be sure to update its text equivalent #}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body>

    <p>
      This automated message is registering an official trip of the
      <a href="https://mitoc.mit.edu/">MIT Outing Club</a> (MITOC).
    </p>

    <h3>{{ trip.name }}</h3>
    <dl>
      <dt>Date</dt>
      <dd>{{ trip.trip_date|date:"Y-m-d" }}</dd>
      {% if trip.info %}
      <dt>Start location</dt>
      <dd>{{ trip.info.start_location }}</dd>
      {% endif %}
    </dl>

    <h3>Trip leaders</h3>
    <ul>
      {% for leader in trip.leaders.all %}
      <li>
        <a href="mailto:{{ leader.email }}">{{ leader.name }}</a>
        {% if leader.cell_phone %}
          &nbsp;
          <em>{{ leader.cell_phone }}</em>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h3>Trip participants</h3>
    <ul>
      {% for signup in signups_on_trip %}
      <li>
        <a href="mailto:{{ signup.participant.email }}">{{ signup.participant.name }}</a>
        {% if signup.participant.cell_phone %}
          &nbsp;
          <em>{{ signup.participant.cell_phone }}</em>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h3>Drivers</h3>
    {% if not cars %}
      <p>Nobody on this trip submitted information for a car.</p>
    {% else %}
      {# (this recreates `driver_table`, but as plain HTML without any CSS available #}
      <table>
        <thead>
          <tr>
            <th>Driver</th>
            <th>Make + Model</th>
            <th>Plate</th>
            <th>State</th>
            <th>Year</th>
            <th>Color</th>
            <th>Car Status</th>
          </tr>
        </thead>

        <tbody>
          {% for car in cars %}
            <tr>
              <td>{{ car.participant.name }}</td>
              <td>{{ car.make }} {{ car.model }}</td>
              <td>{{ car.license_plate }}</td>
              <td>{{ car.state }}</td>
              <td>{{ car.year }}</td>
              <td>{{ car.color }}</td>
              <td>{{ car.participant.lotteryinfo.get_car_status_display }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <h3>Approval</h3>
    <dl>
      <dt>Financial signatory</dt>
      <dd>{{ bursar_name }}</dd>
      <dt>Travel expenses approved</dt>
      <dd>$0.00</dd>
      <dt>Cost object</dt>
      <dd>2720209</dd>
    </dl>

    <hr>

    Questions? Respond to this email or <a href="https://mitoc-trips.mit.edu/contact/">contact us</a>.
  </body>
</html>
