{% extends "messages_page.html" %}
{% load staticfiles %}

{% block head %}
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{{ form.media }}

<style>  {# Simple, doesn't need its own stylesheet. #}
.select2-container-multi {
    width: 350px;
}
</style>
{% endblock head %}

{% block content %}
{{ block.super }}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock content %}
