{% extends "base.html" %}

{% block content %}

{% if messages %}
<h3> Messages </h3>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ leader_form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock content %}
