{% extends "messages_page.html" %}
{% load signup_tags %}

{% block head %}
{{ block.super }}
{{ leader_signup_form.media }}

<script>
    $(document).ready(function(){
        $("#toggle_action").click(function() {
            if($('#togglable-content:visible').length)
                $('#togglable-content').hide();
            else
                $('#togglable-content').show();
            $('#toggle_action').toggleClass('toggled');
        });
    });
</script>

{% endblock head %}

{% block content %}
{{ block.super }}

<h4>Trip actions</h4>
<ul>
    <li>{% include 'trip_itinerary/modify_or_submit.html' %}</li>
    <li><a href="{% url 'trip_medical' trip.id %}">Show WIMP info</a></li>
    <li><a href="{% url 'edit_trip' trip.id %}">Edit trip</a></li>
    <li><a href="{% url 'review_trip' trip.id %}">Give participant feedback</a></li>
</ul>

<hr>
{% trip_summary trip %}

{% if trip.signups_open %}
    <p>Signups are open!</p>
{% elif trip.signups_closed %}
    <p>Signups for this trip are closed.</p>
{% elif trip.signups_not_yet_open %}
    <p>Signups for this trip are not yet open.</p>
{% endif %}


{% if 'leaders' in groups %}
    <h3>Leaders</h3>
    {% signup_table leaders False True %}
{% endif %}

<h3>Participants ({{ ontrip_formset|length }} / {{ trip.maximum_participants }})</h3>

{% if ontrip_formset|length %}
<p><strong>When deleting any last-minute drops, please take note of participant names</strong>
so that you can <a href="{% url 'review_trip' trip.id %}">review them as no-shows</a>.</p>

<label>Notes:</label> {{ trip.notes }}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ ontrip_formset.management_form }}
    {% if ontrip_formset|length %}
        {% editable_signup_table ontrip_formset %}
    {% else %}
        <p>This trip is currently empty.</p>
    {% endif %}

    {% if trip.algorithm == 'fcfs' %}
        <div id="respond" class="narrow">
            <h5 id="toggle_action" class="untoggled">Priority add participants / bump existing participants</h5>
            <div id="togglable-content">
                <p>Participants specified through this form will be placed on the trip if open slots are available
                or given priority on the waiting list if all slots are filled.</p>
                {{ leader_signup_form.as_p }}
            </div>
        </div>
    {% endif %}
    {% if trip.algorithm == 'fcfs' or ontrip_formset|length %}
        <input type="submit" value="Update participants" />
        <hr>
    {% endif %}



    {{ waitlist_formset.management_form }}
    {% if trip.waitlist.signups %}
        <h3>Waiting List ({{trip.waitlist.signups.count }}) </h3>
        <label>Notes:</label> {{ trip.notes }}
        {% editable_signup_table waitlist_formset %}
    {% endif %}

    {% if trip.waitlist.signups or ontrip_formset|length %}
        <h5>Email all participants</h5>
        <pre>{% for signup in ontrip_signups %}{{ signup.participant.email_addr }}{% if not forloop.last %}, {% endif %}{% endfor %}</pre>
    {% endif %}
</form>

{% if signups %}
    <hr>
    <h3>All Signups</h3>
    <small>Note: this is not the waiting list. Instead, these are all signups - including those of
        participants who may have been placed on other trips.</small>
    {% signup_table signups has_notes=True %}
{% endif %}

{% endblock content %}
