{% extends "messages_page.html" %}
{% load signup_tags %}

{% block content %}
{{ block.super }}

<h4>Leader Actions</h4>
<div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="{% url 'edit_trip' trip.id %}"><i class="fa fa-edit"></i>&nbsp;Edit</a>
    <a type="button" class="btn btn-default" href="{% url 'trip_medical' trip.id %}"><i class="fa fa-medkit"></i>&nbsp;WIMP info</a>
    <a type="button" class="btn btn-default
    {% if info_form_available %}
        {{ trip.info|yesno:",btn-danger" }}" uib-tooltip="Must be completed before departure!" href="{% url 'trip_itinerary' trip.id %}">
    {% else %}
        " uib-tooltip="Will become available {{ friday_before|date:"l, F jS" }}" href="#">
    {% endif %}
    <i class="fa fa-list-alt"></i>&nbsp;Itinerary</a>
    <a type="button" class="btn btn-default" href="{% url 'review_trip' trip.id %}"><i class="fa fa-comments"></i>&nbsp;Feedback</a>
</div>

<delete-trip data-trip-id="{{ trip.id }}"></delete-trip>

{% trip_summary trip %}

{% if trip.signups_open %}
    <p>Signups are open!</p>
{% elif trip.signups_closed %}
    <p>Signups for this trip are closed.</p>
{% elif trip.signups_not_yet_open %}
    <p>Signups for this trip are not yet open.</p>
{% endif %}


{% if 'leaders' in groups %}
    <h3>Leaders</h3>
    {% participant_table leaders True %}
{% endif %}

<h3>Participants ({{ ontrip_formset|length }} / {{ trip.maximum_participants }})</h3>

{% if ontrip_formset|length %}
{% if trip.notes %}<label>Notes:</label> {{ trip.notes }}{% endif %}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ ontrip_formset.management_form }}
    {% if ontrip_formset|length %}
        {% editable_signup_table ontrip_formset %}
        <p id="deletion_warning" class="info" style="display:none">
            <strong>When deleting any last-minute drops, please take note of participant names</strong>
            so that you can <a href="{% url 'review_trip' trip.id %}">review them as no-shows</a>.
        </p>

    {% else %}
        <p>This trip is currently empty.</p>
    {% endif %}

    {{ waitlist_formset.management_form }}
    {% if waitlist_signups %}
        <h3>Waiting List ({{waitlist_signups.count }}) </h3>
        {% if trip.notes %}<label>Notes:</label> {{ trip.notes }}{% endif %}
        {% editable_signup_table waitlist_formset %}
    {% endif %}

    {% if waitlist_signups or ontrip_formset|length %}
        <h5>Email all participants</h5>
        <pre>{% for signup in ontrip_signups %}{{ signup.participant.email_addr }}{% if not forloop.last %}, {% endif %}{% endfor %}</pre>
    {% endif %}
</form>

{% if signups %}
    <hr>
    <h3>All Signups</h3>
    <small>Note: this is not the waiting list. Instead, these are all signups - including those of
        participants who may have been placed on other trips.</small>
    {% signup_table signups has_notes=True %}
{% endif %}

{% endblock content %}
