{% load staticfiles %}
{% load gravatar %}
{% load perm_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="David Cain">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}
    <title>{% block title %}MITOC Trips{% endblock title %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />

    {# I stupidly forked these for some custom styles. #}
    {# I want to get off of Footable eventually anyway, so just keep custom CSS for now. #}
    <link href="{% static 'css/footable.core.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/footable.standalone.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'angular-ui-select/dist/select.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    {% endblock css %}

    {% block js %}

    <script type="text/javascript" src='{% static 'lodash/dist/lodash.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'angular/angular.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'footable/js/footable.js' %}'></script>
    <script type="text/javascript" src='{% static 'footable/js/footable.sort.js' %}'></script>
    <script type="text/javascript">
        $(function () {
            $('.footable').footable({
                breakpoints: {
                    phone: 480,
                    tablet: 900, {# Content column is 940 before resizing #}
                }
            });
        });
    </script>
    {# These need to be replaced more intellegently by Bower #}
    <script src="{% static 'js/ui-bootstrap-tpls-0.14.3.js' %}"></script>

    <script src="{% static 'jquery-ui/ui/minified/core.min.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/minified/widget.min.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/minified/mouse.min.js' %}"></script>
    <script src="{% static 'jquery-ui/ui/minified/sortable.min.js' %}"></script>

    <script src="{% static 'djng/js/django-angular.min.js' %}"></script>
    <script src="{% static 'angular-ui-select/dist/select.min.js' %}"></script>
    <script src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'angular-ui-sortable/sortable.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>

    <script src="{% static 'js/application.js' %}"></script>
    {% endblock js %}
{% endblock head %}
</head>

<body ng-app="ws">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    {# Navicon #}<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">MITOC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="{% url 'view_trips' %}">Trips</a></li>

                    {% if "leaders" in groups %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leaders <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href="{% url 'add_trip' %}"> New trip </a> </li>
                                <li> <a href="{% url 'leaders' %}">All leaders</a> </li>
                                <li> <a href="{% url 'participant_lookup' %}">Participant lookup</a> </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if "WSC" in groups and not user.is_superuser %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WSC <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href="{% url 'add_leader' %}">Leader ratings</a> </li>
                                <li> <a href="{% url 'manage_applications' %}"> Manage leader applications </a> </li>
                                <li> <a href="{% url 'manage_trips' %}"> Manage trips </a> </li>
                                <li> <a href="{% url 'wimp' %}"> WIMP </a> </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if user|chair_of_any_activity and not "WSC" in groups %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chair <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href="{% url 'add_leader' %}">Leader ratings</a> </li>
                            </ul>
                        </li>
                    {% endif %}


                    {% if user.is_superuser %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href="{% url 'admin:index' %}"> Site administration </a> </li>
                                <li> <a href="{% url 'add_leader' %}">Leader ratings</a> </li>
                                <li> <a href="{% url 'admin_manage_trips' %}"> Manage trips </a> </li>
                                <li> <a href="{% url 'wimp' %}"> WIMP </a> </li>
                            </ul>
                        </li>
                    {% endif %}



                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="account-dropdown dropdown-toggle"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            {{ user.email|gravatar_square }}
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" data-ng-controller="authController">
                            {% if user.is_authenticated %}
                                <li> <a href="{% url 'profile' %}">Profile</a> </li>
                                <li> <a href="{% url 'update_info' %}">Edit</a> </li>
                                <li> <a href="{% url 'trip_preferences' %}">Lottery preferences</a> </li>
                                <li role="separator" class="divider"></li>
                                <li> <a href="{% url 'account_change_password' %}">Change password</a> </li>
                                <li> <a href="{% url 'account_email' %}">Manage email(s)</a> </li>
                                <li> <a href="#" data-ng-click="logout()">Log out</a></li>
                            {% else %}
                                <li class="dropdown-header">Anonymous User</li>
                                <li> <a href="{% url 'account_signup' %}">Sign up</a> </li>
                                <li> <a href="{% url 'account_login' %}">Log in</a> </li>
                                <li><a href="{% url 'account_reset_password' %}">Reset password</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <li><a href="{% url 'help-home' %}">Help</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container main-content">
        {% block content %}
        {% endblock content %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 text-muted">© 2016 MITOC</div>
                <div class="col-xs-2 text-muted text-center">
                    <a class="btn" href="https://github.com/DavidCain/mitoc-trips"><i class="fa fa-2x fa-github-square"></i></a>
                </div>
                <div class="col-xs-5 text-muted text-right">Written by David Cain</div>
            </div>
        </div>
    </footer>

    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
