{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="David Cain">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}
    <title>{% block title %}MITOC Winter School{% endblock title %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
    <link href="{% static 'css/footable.core.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/footable.standalone.css' %}" rel="stylesheet" type="text/css" />
    {% endblock css %}

    {% block js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static "js/footable.js" %}" type="text/javascript"></script>
    <script src="{% static "js/footable.sort.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.footable').footable({
                breakpoints: {
                    phone: 480,
                    tablet: 900, {# Content column is 940 before resizing #}
                }
            });
        });
    </script>
    {% endblock js %}

    {# Special CSS class so content only shown to those with JS enabled #}
    <noscript><style> .jsonly { display: none } </style></noscript>
{% endblock head %}
</head>

<body>
<div id="container">
    {% block header %}
    <div id="header">
        <div id="logo">
            <span class="site-name"><a href="{% url 'home' %}" title="Winter School" rel="home">Winter School</a></span>
            <span class="site-description">MITOC</span>
        </div>

        <div class="main-nav">
            <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>

                <li><a href="{% url 'view_trips' %}">Trips</a>
                    {% if user.is_authenticated %}
                    <ul class="children">
                        <li> <a href="{% url 'view_all_trips' %}">All trips</a> </li>
                        <li> <a href="{% url 'view_trips' %}">Upcoming trips</a> </li>
                        <li> <a href="{% url 'view_my_trips' %}">My trips</a> </li>
                        <li> <a href="{% url 'view_waitlisted_trips' %}">Waitlisted trips</a> </li>
                        <li> <a href="{% url 'trip_preferences' %}">Trip preferences</a> </li>
                    </ul>
                    {% endif %}
                </li>

                {% if "leaders" in groups %}
                <li><a>Leaders</a>
                    <ul class="children">
                        <li> <a href="{% url 'add_trip' %}"> New trip </a> </li>
                        <li> <a href="{% url 'view_leader_trips' %}">My trips</a> </li>
                        <li> <a href="{% url 'leaders' %}">All leaders</a> </li>
                    </ul>
                </li>
                {% endif %}

                {% if "WSC" in groups and not user.is_superuser %}
                <li><a>WSC</a>
                    <ul class="children">
                        <li> <a href="{% url 'add_leader' %}"> Add new leader(s) </a> </li>
                        <li> <a href="{% url 'manage_applications' %}"> Manage leader applications </a> </li>
                        <li> <a href="{% url 'manage_leaders' %}"> Manage existing leaders </a> </li>
                        <li> <a href="{% url 'manage_trips' %}"> Manage trips </a> </li>
                        <li> <a href="{% url 'manage_participants' %}"> Manage participants </a> </li>
                        <li> <a href="{% url 'wimp' %}"> WIMP </a> </li>
                    </ul>
                {% endif %}
                {% if user.is_superuser %}
                <li><a>Admin</a>
                    <ul class="children">
                        <li> <a href="{% url 'admin:index' %}"> Site administration </a> </li>
                        <li> <a href="{% url 'add_leader' %}"> Add new leader(s) </a> </li>
                        <li> <a href="{% url 'manage_leaders' %}"> Manage existing leaders </a> </li>
                        <li> <a href="{% url 'admin_manage_trips' %}"> Manage trips </a> </li>
                        <li> <a href="{% url 'manage_participants' %}"> Manage participants </a> </li>
                        <li> <a href="{% url 'wimp' %}"> WIMP </a> </li>
                    </ul>
                {% endif %}
                <li><a>Account</a>
                    <ul class="children">
                        {% if user.is_authenticated %}
                        <li> <a href="{% url 'update_info' %}">Update personal info</a> </li>
                        <li> <a href="{% url 'account_logout' %}">Logout</a> </li>
                        <li> <a href="{% url 'account_change_password' %}">Change password</a> </li>
                        {% else %}
                        <li> <a href="{% url 'account_signup' %}">Sign up</a> </li>
                        <li> <a href="{% url 'account_login' %}">Log in</a> </li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{% url 'help-home' %}">Help</a>
                    <ul class="children">
                        <li><a href="{% url 'help-about' %}">About</a></li>
                    </ul>
                </li>
            </ul>
            <a id="responsive_menu_button"></a>
        </div>
    </div>
    {% endblock header %}

    <div id="wrapper" class="clearfix">
        <div id="content" class="grid col-940">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <div id="footer-wrapper">
        <div class="grid col-300 copyright"> © 2014 MITOC</div>

        <div class="grid col-300 scroll-top">
            {% if user.is_authenticated %}
            Currently logged in as {{ user.email }}
            {% else %}
            Anonymous user
            {% endif %}
        </div>

        <div class="grid col-300 fit powered">Written by David Cain</div>
    </div>

</div>
</body>
</html>
