{% extends "base.html" %}

{% block content %}
<p>If you're having any problems using the site, please refer to the <a href="{% url 'help-home' %}">help pages</a>.</p>

<h3> Contact us </h3>
<ul>
<li>For technical assistance or anything regarding the Winter School site, contact <a href="mailto:djcain@mit.edu">David Cain</a>.</li>
<li>Please direct other questions regarding the Winter School program to the <a href="mailto:ws-chair@mit.edu">Winter School Chair</a>.</li>
</ul>
{% endblock content %}
