{% extends "base.html" %}
{% block head_title %}Contact{% endblock head_title %}


{% block content %}
<p>If you're having any problems using the site, please refer to the <a href="{% url 'help-home' %}">help pages</a>.</p>

<h3> Contact us </h3>
<ul>
<li>For web site questions, contact <a href="mailto:davidjosephcain@gmail.com">David Cain</a>.</li>
<li>Please direct other activity-specific questions to the appropriate activity chair.</li>
<li>General MITOC queries may be directed to <a href="mailto:mitoc-owner@mit.edu">mitoc-owner@mit.edu</a>.</li>
</ul>
{% endblock content %}
