{% extends "messages_page.html" %}
{% load trip_tags %}

{% block meta %}
  <meta name="description" content="Come hiking, climbing, skiing, paddling, and more with the MIT Outing Club. Trips are open to all members!"/>
  {{ block.super }}
{% endblock meta %}

{% block head_title %}Welcome{% endblock head_title %}

{% block content %}
<h1>MITOC Trips</h1>
<p class="lead">Come hiking, climbing, skiing, paddling, biking, and surfing with the <a href="https://mitoc.mit.edu">MIT Outing Club!</a></p>

{{ block.super }}

{% if current_trips %}
  <h3>
    Upcoming trips
    <a role="button" class="btn btn-default pull-right" href="{% url 'rss-upcoming_trips' %}"><i class="fas fa-rss"></i> Subscribe</a>
  </h3>
  {% trip_list_table current_trips %}
  <hr>
{% endif %}

<p><a href="{% url 'all_trips' %}"><i class="fas fa-history"></i> View past trips</a></p>

{% endblock content %}
