{% extends "messages_page.html" %}
{% load trip_tags %}

{% block content %}
{{ block.super }}

<h2> Leaders </h2>
{% if not leaders %}
<p>No leaders.</p>
{% else %}
<table class="footable">
    <thead>
        <tr>
            <th>Name</th>
            {% for activity, label in activities %}
              <th>{{ label }}</th>
            {% endfor %}
            <th data-sort-ignore="true">Cell</th>
        </tr>
    </thead>
    <tbody>
        {% for leader in leaders %}
        <tr>
            <td><a href="mailto:{{ leader.email }}">{{ leader.name }}</a></td>
            {% for activity, label in activities %}
              <td> {{ leader|activity_rating:activity }}</td>
            {% endfor %}
            <td>{{ leader.cell_phone }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}
{% endblock content %}
