{% extends "messages_page.html" %}

{% block content %}
{{ block.super }}

<h2> Leaders </h2>
{% if not leaders %}
<p>No leaders.</p>
{% else %}
<table class="footable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th data-sort-ignore="true">Cell</th>
        </tr>
    </thead>
    <tbody>
        {% for leader in leaders %}
        <tr>
            <td>  <a href="mailto:{{ leader.participant.email }}">{{ leader.participant.name }}</a></td>
            <td>{{ leader.rating }}</td>
            <td>{{ leader.participant.cell_phone }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}
{% endblock content %}
