{% extends "messages_page.html" %}
{% load staticfiles %}

{% block head %}
{{ block.super }}
{{ form.media }}

<style>  {# Simple, doesn't need its own stylesheet. #}
.select2-container {
    width: 18em;
}
</style>
{% endblock head %}

{% block content %}
{{ block.super }}

<h1>Lottery Pair</h1>

<p>If you like, you can specify another participant that you'd like to go on trips with.
When the lottery runs, you will either both be placed on a trip, or be placed
on your highest ranked trip's waitlist .</p>

<p>The other participant must confirm that they are part of this pair. If they do not, you
will be treated as an individual participant (i.e. no effort will be made to place you both
on the same trip).</p>

<ul>
{% for requesting_participant in pair_requests %}
    <li> {{ requesting_participant }} has requested to be paired with you.</li>
{% endfor %}
</ul>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}
