{% extends "messages_page.html" %}

{% block content %}
{{ block.super }}

{% if not formset.total_form_count %}
<p> No participants found!
Once people <a href="{% url 'account_signup' %}">sign up</a>,
and <a href="{% url 'update_info' %}">add personal information</a>,
they will appear here.</p>
{% else %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ formset.management_form }}
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Cell</th>
                <th>Rating</th>
                <th>Attended lectures</th>
                <th>Last updated</th>
                <th>Information current</th>
                <th>Number of trips</th>
                <th>Delete</th>
                {% if formset.is_bound and not formset.is_valid %}
                <th class="error">Errors</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
        {% for form in formset %}

        <tr>
            {{ form.id }} {# hidden id #}
            <td>  <a href="{% url 'view_participant' form.instance.id %}">{{ form.instance.name }}</a></td>
            <td> <a href="mailto:{{ form.instance.email }}">{{ form.instance.email }}</a></td>
            <td> {{ form.instance.cell_phone }}</td>
            <td> {{ form.instance.leader.rating }}</td>
            <td> {{ form.attended_lectures }}</td>
            <td> {{ form.instance.last_updated|date:"Y-m-d" }}</td>
            <td> {{ form.instance.info_current|yesno }}</td>
            <td> {{ form.instance.num_trips }}</td>
            <td> {{ form.DELETE }}</td>
            {% if formset.errors %}
            <td> {{ form.errors }}</td>
            {% endif %}
        </tr>

        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Submit" />
</form>
{% endif %}
{% endblock content %}
