{% extends "messages_page.html" %}

{% block content %}
{{ block.super }}

{% if not formset.total_form_count %}
<p> No trips found!
Once <a href="{% url 'manage_leaders' %}">leaders</a> have
<a href="{% url 'add_trip' %}">created trips,</a>
they will appear here.</p>
{% else %}
<form action="" method="post">
    {% csrf_token %}
    <table class="footable">
        {{ formset.management_form }}
        <thead>
            <tr>
                <th>Name</th>  {# Link out #}
                <th data-hide="phone">Leaders</th>
                <th data-hide="phone" data-type="numeric">Date</th>
                <th data-hide="phone,tablet">Algorithm</th>
                <th data-sort-ignore="true">Approved</th>
                {% if formset.can_delete %}<th data-hide="phone">Delete</th>{% endif %}
                {% if formset.is_bound and not formset.is_valid %}
                <th class="error" data-sort-ignore="true">Errors</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
        {% for form in formset %}

        {{ form.id }} {# hidden id #}
            <tr>
                <td>  <a href="{% url 'view_trip' form.instance.id %}">{{ form.instance.name }}</a></td>
                <td>{% for leader in form.instance.leaders.all %}
                    <a href="{% url 'view_participant' leader.participant.id %}">{{ leader }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                </td>
                <td class="nowrap" data-value="{{ form.instance.trip_date|date:'U' }}"> {{ form.instance.trip_date|date:"Y-m-d" }}</td>
                <td> {% if form.algorithm %}{{ form.algorithm }}{% else %} {{form.instance.algorithm}} {% endif %}</td>
                <td> {{ form.wsc_approved }}</td>
                {% if formset.can_delete %}<td> {{ form.DELETE }}</td>{% endif %}
                {% if formset.errors %}
                <td> {{ form.errors }}</td>
                {% endif %}
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Submit" />
</form>
{% endif %}
{% endblock content %}
