{% extends "messages_page.html" %}

{% block content %}
{{ block.super }}

<form action="" method="post">
    {% csrf_token %}
    {% if not formset.total_form_count %}
    <p> No leaders found! Try <a href="{% url 'add_leader' %}">adding leaders</a>. </p>
    {% else %}
    <table>
        {{ formset.management_form }}
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Rating</th>
                <th>Delete</th>
                {% if formset.is_bound and not formset.is_valid %}
                <th class="error">Errors</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
        {% for form in formset %}

        <tr>
            {{ form.id }} {# hidden id #}
            <td> <a href="{% url 'view_participant' form.instance.participant.id %}">{{ form.instance.participant.name }}</a></td>
            <td> <a href="mailto:{{ form.instance.participant.email }}">{{ form.instance.participant.email }}</a></td>
            <td> {{ form.rating }}</td>
            <td> {{ form.DELETE }}</td>
            {% if formset.errors %}
            <td> {{ form.errors }}</td>
            {% endif %}
        </tr>

        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Submit" />
    {% endif %}
</form>
{% endblock content %}
