{% extends "base.html" %}
{% load readonly_form %}
{% load gravatar %}

{% block content %}

<form action="" method="post">
    <h5>View participant</h5>
    {% csrf_token %}
    {{ form }}
</form>
{% if participant %}
<hr>

<div class="row">
  <div class="col-md-4 col-sm-6">
    {# TODO: Include leader information in here #}
    <h2><i class="fa fa-user"></i> {{ participant.name }}</h2>

    <div>
        {{ participant.email|gravatar:200 }}
    </div>
    <ul class="list-unstyled">
      <li><i class="fa fa-fw fa-envelope"></i><a href="mailto:{{ participant.email }}">{{ participant.email }}</a></li>
      <li><i class="fa fa-fw fa-mobile"></i>{{ participant.cell_phone }}</a></li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-6">

    <h3><i class="fa fa-medkit"></i> Medical info </h3>
    {% readonly_form emergency_info_form %}

    <h4> Emergency Contact </h4>
    {% readonly_form emergency_contact_form %}
  </div>
  {% if car_form %}
    <div class="col-md-4 col-sm-6">
      <h3><i class="fa fa-car"></i> Car </h3>
      {% readonly_form car_form %}
    </div>
  {% endif %}
</div>


{% if user.participant != participant %}
<h3 id='feedback'><i class="fa fa-comments"></i> Past feedback </h3>
{% if not all_feedback %}
<p>None available.</p>
{% else %}
<table class="footable">
    <thead>
        <tr>
            <th data-sort-ignore="true">Comments</th>
            <th data-hide="phone" class="nowrap">Leader</th>
            <th data-hide="phone" class="nowrap">Showed</th>
            <th>Trip</th>
        </tr>
    </thead>
    {% for feedback in all_feedback %}
    <tbody>
        <tr>
            <td>{{ feedback.comments }}</td>
            <td>{{ feedback.leader }}</td>
            <td>{{ feedback.showed_up|yesno }}</td>
            <td>{% if feedback.trip %}<a href="{% url 'view_trip' feedback.trip.id %}">{{ feedback.trip|truncatechars:45 }}{% endif %}</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}
{% endif %}

{% endif %}
{% endblock content %}
