{% extends "base.html" %}
{% load readonly_form %}

{% block content %}

{% if participant.leader %}
<h3> Leader info </h3>
<table>
    <tr>
        <th>Rating:</th>
        <td>{{ participant.leader.rating }}</td>
    </tr>

    <tr>
        <th>Notes:</th>
        <td>{{ participant.leader.notes }}</td>
    </tr>
</table>
{% endif %}


<h3> Participant info </h3>
{% readonly_form participant_form %}

<h3> Car </h3>
{% if car_form %}
{% readonly_form car_form %}
{% else %}
<p> (no car) </p>
{% endif %}

<h3> Medical info </h3>
{% readonly_form emergency_info_form %}

<h3> Emergency Contact </h3>
{% readonly_form emergency_contact_form %}

<h3 id='feedback'> Past feedback </h3>
{% if not participant.feedback_set.exists %}
<p>None available.</p>
{% else %}
<table class="footable">
    <thead>
        <tr>
            <th data-sort-ignore="true">Comments</th>
            <th data-hide="phone" class="nowrap">Leader</th>
            <th data-hide="phone" class="nowrap">Showed</th>
            <th>Trip</th>
        </tr>
    </thead>
    {% for feedback in participant.feedback_set.all %}
    <tbody>
        <tr>
            <td>{{ feedback.comments }}</td>
            <td>{{ feedback.leader }}</td>
            <td>{{ feedback.showed_up|yesno }}</td>
            <td>{% if feedback.trip %}<a href="{% url 'view_trip' feedback.trip.id %}">{{ feedback.trip|truncatechars:45 }}{% endif %}</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}

{% endblock content %}
