{% extends "messages_page.html" %}
{% load signup_tags %}

{% block head %}
    {{ block.super }}
    {{ flake_form.media }}
    <style>  {# Simple, doesn't need its own stylesheet. #}
    .select2-container {
        width: 18em;
    }
</style>
{% endblock head %}

{% block content %}
{{ block.super }}
{% if not trip_completed %}
<p><strong>This trip has not yet completed.</strong> Please check back on {{ trip.trip_date|date:"F jS" }} or later!</p>
{% endif %}
{% trip_summary trip %}

<h3>Post-trip tasks</h3>

<p>After your trip has completed, plase complete reviews for each participant.
For help on participant reviews, see the <a href="{% url 'help-feedback'%}">help pages</a>.</p>
If a participant had extraordinary circumstances that prevented their attendance,
and you don't wish to consider them as having "flaked" please remove their
signup on your <a href="{% url 'admin_trip' trip.id %}">trip admin page.</a></p>


{% if trip_completed %}
<h3>Participants</h3>
{% if not feedback_list %}
<p>Nobody attended this trip.</p>
{% else %}
<form action="" method="post">
{% csrf_token %}
{{ form.non_field_errors }}
<table class="footable">
    <thead>
        <tr>
            <th> Participant </th>
            <th data-hide="phone" data-sort-ignore="true"> Comments </th>
            <th data-sort-ignore="true"> Showed up</th>
        </tr>
    </thead>

    <tbody>
        {% for participant, form in feedback_list %}
        <tr>
            <td> {{ participant }} </td>
            <td> {{ form.comments.errors }}{{ form.comments }} </td>
            <td> {{ form.showed_up }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Please note any participants that did not show for your trip below. Upon
form submission, you'll have a chance to add any comments if you wish.</p>

{{ flake_form.as_p }}

<input type="submit" value="Submit" />
</form>
{% endif %}
{% endif %}

{% endblock content %}
