{% extends "base.html" %}
{% load signup_tags %}

{% block content %}
{{ block.super }}

<h3>Medical information for '<a href="{% url 'admin_trip' trip.id %}">{{ trip.name }}</a>'</h3>

<h4>Participants</h4>
{% if signups.exists %}
{% medical_table signups %}
{% else %}
<p> No participants. </p>
{% endif %}

<h4>Leaders</h4>
{% medical_table trip.leaders.all %}

<h4>Drivers</h4>
{% if not cars.exists %}
<p>Nobody on this trip submitted information for a car.</p>
{% else %}
<p>The below table is for all trip-goers that submitted car information.
It may not represent who's actually driving for this trip. The "Car Status"
column specifies whether they intended to rent a car, drive their own car,
or not drive for this weekend's trips.</p>
{% driver_table cars %}
{% endif %}
{% endblock content %}
