{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock head %}

{% block content %}

<h2>{{ trip }}: Trip Emergency Information</h2>

<p>Before departing on your trip, it's imperative that one of the leaders
complete the following form. The responses you give here are very important -
they are automatically relayed to the WIMP, and will be used to coordinate
any search and rescue efforts.</p>

<p> This form becomes available the Friday before your trip, and is available 
for editing through the day of your trip.</p>

<p><strong>Important:</strong> If you make any changes to your trip itinerary,
you should return to this page and update the appropriate fields. This will ensure
that the WIMP has the most up-to-date information regarding your trip.</p> 

<h5>Review trip</h5>
<p>Before completing the form, please review your trip details, ensuring that
all participant, leader, and trip information is up to date.</p>
<ul>
    <li><a href="{% url 'trip_medical' trip.id %}">Medical info (will be sent to the WIMP)</a></li>
    <li><a href="{% url 'edit_trip' trip.id %}">Edit trip</a></li>
</ul>

<hr />

<div id="respond" class="narrow">
    <h2>WIMP information submission</h2>
    {% if info_form_available %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    {% else %}
    <p>This form will be available on {{ friday_before }}.</p>
    {% endif %}
</div>
{% endblock content %}
