{% extends "base.html" %}

{% block js %}
{{ block.super }}
<script>
    function toggle_car_form(has_car) {
        var car_rows = document.getElementsByClassName('car_row');
        for (var i = 0; i < car_rows.length; ++i) {
            var tr = car_rows[i];
            if(has_car.checked)
                tr.style.display = 'table-row';
            else
                tr.style.display = 'none';
        }
    }

    window.onload = function (){
        toggle_car_form(document.getElementById('has_car_checkbox'));
    }
</script>
{% endblock js %}

{% block content %}

<div id="last_updated">
{% if not user.participant %}
<p> Please complete the below fields. <strong>You will not be able to attend a Winter School trip until this form is completed.</strong></p>
{% else %}
<p>You last updated your information on {{ user.participant.last_updated }}</p>
<p>Periodically, we will request that you update this information. A notification to do so will appear on your <a href="{% url 'home' %}">home page</a>.</p>
{% endif %}
</div>

<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr><th colspan="2"><h3>Personal info</h3></th></tr>
        {{ participant_form }}

        <tr><th colspan="2"><h3>Car</h3></th></tr>
        <tr><td></td><td><input type="checkbox" id="has_car_checkbox" name="has_car" value="Car" onclick='toggle_car_form(this)'/ {% if has_car_checked %}checked{% endif %}>I have a car</td></th>
        {% for field in car_form %}
        <tr class="car_row">
            <th> {{ field.label_tag }} </th>
            <td> {{ field.errors }} {{ field }} </td>
        </tr>
        {% endfor %}

        <tr><th colspan="2"><h3>Emergency info</h3></th></tr>
        {{ emergency_info_form }}

        <tr><th colspan="2"><h3>Emergency contact</h3></th></tr>
        {{ emergency_contact_form }}
    </table>
    <input type="submit" value="Submit" />
</form>
{% endblock content %}
