{% extends "base.html" %}
{% load signup_tags %}

{% block content %}
<h3> Trip </h3>
<table>
    <tr>
        <th>Leaders:</th>
        <td>{{ trip.leaders.all|join:", " }}</td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>{{ trip.name }}</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>{{ trip.description }}</td>
    </tr>
    <tr>
        <th>Trip date:</th>
        <td>{{ trip.trip_date|date:"Y-m-d" }}</td>
    </tr>
    <tr>
        <th>Leaders willing to rent:</th>
        <td>{{ trip.willing_to_rent|yesno }}</td>
    </tr>
    <tr>
        <th>Difficulty rating:</th>
        <td>{{ trip.difficulty_rating }}</td>
    </tr>
    {% if trip.prereqs %}
    <tr>
        <th>Prerequisites:</th>
        <td>{{ trip.prereqs }}</td>
    </tr>
    {% endif %}
</table>

<h3> Signup </h3>
<table>
    <tr>
        <th>Algorithm:</th>
        <td>{{ trip.algorithm }}</td>
    </tr>
    <tr>
        <th>Capacity:</th>
        <td>{{ trip.capacity }}</td>
    </tr>
    <tr>
        <th>Signups {{ trip.signups_open|yesno:"opened,open" }} at:</th>
        <td>{{ trip.signups_open_at }}</td>
    </tr>
    {% if trip.signups_close_at %}  {# Not all trips have a close time #}
    <tr>
        <th>Signups {{ trip.signups_closed|yesno:"closed,close" }} at:</th>
        <td>{{ trip.signups_close_at }}</td>
    </tr>
    {% endif %}
    {% if trip.notes %}
    <tr>
        <th>Notes:</th>
        <td>{{ trip.notes }}</td>
    </tr>
    {% endif %}
</table>


{% if trip.signups_open %}
{% if trip in user.participant.trip_set.all %}
<p>You are signed up for this trip.</p>
{% else %}
<p>Signups are open!</p>

{% if not user.participant %}
<p> You cannot sign up for trips until you <a href="{% url 'update_info' %}">submit personal information.</a></p>
{% else %}
<form action="{% url 'trip_signup' %}" method="post">
    {% csrf_token %}
    {{ signup_form.as_p }}
    <input type="submit" value="Sign up" />
</form>
{% endif %}

{% endif %}

{% elif trip.signups_closed %}
<p>Signups for this trip are closed.</p>
{% elif trip.signups_not_yet_open %}
<p>Signups for this trip are not yet open.</p>
{% endif %} {# No else - the three states should cover all cases #}

{% if signups %}
<h3>Signups ({{ signups|length }} / {{trip.capacity }}) </h3>
{% signup_table signups trip.notes %}
{% endif %}



{% endblock content %}
