{% extends "base.html" %}

{% block content %}
{{ block.super }}

    <table>
        <thead>
            <tr>
                <th>Name</th>  {# Link out #}
                <th>Date</th>
                <th>Description</th>
                <th>Leaders</th>
                <th>Capacity</th> {# TODO: Show how full? #}
                <th>Difficulty</th>
                <th>Algorithm</th>
            </tr>
        </thead>

        <tbody>
        {% for trip in trip_list %}

        <tr>
            <td>  <a href="{% url 'view_trip' trip.id %}">{{ trip.name|truncatechars:45 }}</a></td>
            <td> {{ trip.trip_date|date:"Y-m-d" }}</td>
            <td> {{ trip.description|truncatechars:50 }}</td>
            <td> {{ trip.leaders.all|join:", " }}</td>
            <td> {{ trip.capacity }}</td>
            <td> {{ trip.difficulty_rating }}</td>
            <td> {{ trip.algorithm }}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
