{% extends "messages_page.html" %}

{% block content %}
{{ block.super }}

<h2> Leader Application for <a href="{% url 'view_participant' application.participant.id %}">{{ application.participant.name }}</a></h2>
<dl class="dl-horizontal">
    <dt>Previous rating:</dt>
    <dd>{{ application.previous_rating|default:None }}</dd>
    <dt>Desired rating:</dt>
    <dd>{{ application.desired_rating }}</dd>
    <dt>Taking WFA:</dt>
    <dd>{{ application.taking_wfa }}</dd>
</dl>

<dl>
{% if application.training %}
<dt>Formal training and qualifications</dt>
<dd>{{ application.training|linebreaks }}</dd>
{% endif %}

{% if application.winter_experience %}
<dt>Winter experience</dt>
<dd>{{ application.winter_experience|linebreaks }}</dd>
{% endif %}

{% if application.other_experience %}
<dt>Other outdoors/leadership experience</dt>
<dd>{{ application.other_experience|linebreaks }}</dd>
{% endif %}

{% if application.notes_or_comments %}
<dt>Notes or comments</dt>
<dd>{{ application.notes_or_comments|linebreaks }}</dd>
{% endif %}
<dl>

<div id="respond" class="narrow">
<h2>Leader rating</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ leader_form.as_p }}
    <input type="submit" value="Submit" />
</form>
</div>
{% endblock content %}
