{% if activity == 'climbing' %}

  <p>Please fill out the form below to apply to become a climbing leader. In addition to this form, we require that applicants have two recommendations from current MITOC climbing leaders.</p>

{% elif activity == 'hiking' %}

  <p class="lead">Please complete and submit the form below if you're interested in becoming a MITOC Hiking Leader.</p>
  <p>
  The leader ratings are assigned based on a combination of your involvement with MITOC and leadership experience
  in addition to your baseline technical skills of hiking in the Whites.
  </p>
  <p>The requirements are as follows:</p>
  <ul>
    <li>Co-Leader: Participant in two MITOC hiking events. Must be different weekends.</li>
    <li>Leader: Co-lead two official MITOC hikes (on separate weekends). On one of the hikes, handle the majority of the planning and group management, and get a recommendation from the leader.</li>
  </ul>

{% elif activity == 'winter_school' %}

  <p class="lead">
    Please complete and submit the form below if you're interested in becoming a MITOC Winter School Leader.
  </p>
  <p>
    The rating system outlined below determines the categories within which leaders are allowed to conduct trips.
    Qualifications for a particular category are a combination of outdoor experience and leadership, particularly in winter conditions.
  </p>

  <p>
    Contact the <a href="mailto:ws-chair@mit.edu">Winter School chair</a> if you have any questions.
  </p>

  <div class="well">
    {% include 'snippets/ws_ratings.html' %}
  </div>
  <div class="well">
    {% include 'snippets/terrain_ratings.html' %}
  </div>
  <div class="well">
    {% include 'snippets/activity_ratings.html' %}
  </div>
{% endif %}
