<dl class="dl-horizontal">
  <dt>Submitted</dt>
  <dd>{{ application.time_created }}</dd>
  <dt>Previous ratings:</dt>
  <dd>
    <ul class="list-unstyled">
      {% for rating in previous_ratings %}
      <li>
        {{ rating.rating }},
        <span
          {% if rating.active %}
            class="label label-primary"
          {% else %}
            class="label label-default"
          {% endif %}
          data-uib-tooltip="Rating of '{{ rating.rating }}' created by {{ rating.creator.name }} on {{ rating.time_created|date }}"
        >{{ rating.time_created|date:"Y-m-d" }}</span>
      </li>
      {% empty %}
        {# It might be an old application where we just asked participants #}
        <li>{{ application.previous_rating|default:"None" }}</li>
      {% endfor %}
    </ul>
  </dd>
  <dt>Desired rating:</dt>
  <dd>{{ application.desired_rating }}</dd>
  {# Field was only added on 2026 applications #}
  {% if application.aspirational_rating %}
    <dt>Aspirational rating:</dt>
    <dd>{{ application.aspirational_rating }}</dd>
  {% endif %}
  {% if assigned_rating %}
    <dt>Assigned rating:</dt>
    <dd>{{ assigned_rating.rating }}</dd>
  {% endif %}

  {% if application.activity == 'winter_school' %}
    <dt>Taking WFA:</dt>
    <dd>{{ application.taking_wfa }}</dd>

    {% if application.mentor_activities.count %}
      <dt>Wants to mentor:</dt>
      <dd>{{ application.mentor_activities.all|join:', ' }}</dd>
    {% endif %}

    {% if application.mentee_activities.count %}
      <dt>Wants a mentor for:</dt>
      <dd>{{ application.mentee_activities.all|join:', ' }}</dd>
    {% endif %}

  {% elif application.activity == 'climbing' %}
    <dt>Years climbing</dt>
    <dd>{{ application.years_climbing }} total, {{ application.years_climbing_outside }} outside</dd>

    <dt>Bouldering</dt>
    <dd>{{ application.outdoor_bouldering_grade }}</dd>

    <dt>Sport</dt>
    <dd>{{ application.outdoor_sport_leading_grade }}</dd>

    <dt>Trad</dt>
    <dd>{{ application.outdoor_trad_leading_grade }}</dd>
  {% endif %}
</dl>
