<table class="footable">
    <thead>
        <tr>
            <th>Name</th>
            <th data-hide="phone,tablet" data-sort-ignore="true">Feedback</th>
            <th data-hide="phone,tablet" data-sort-ignore="true">Notes</th>
            <th data-sort-ignore="true">Car</th>
            {% if formset.can_delete %}
            <th data-sort-ignore="true">Remove</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
    {% for form in formset %}
        {% with participant=form.instance.participant %}
        {{ form.id }}
        <tr>
            {{ form.errors }}
            <td>
                <a class="nowrap" href="{% url 'view_participant' form.instance.participant.id %}">{{ form.instance.participant.name }}</a>
                {% if form.instance.other_signups %}
                    <small>
                        <br>Also on:
                    <ul>
                    {% for signup in form.instance.other_signups %}
                        <li>
                            <a href="{% url 'view_trip' signup.trip.id %}">{{ signup.trip }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    </small>
                {% endif %}
            </td>
            <td>
                {% for feedback in participant.feedback_set.reverse %}
                    {% if forloop.counter == 3 %}
                        <a class="expand" onclick="$('#more_feedback_{{participant.id}}').show();$(this).remove();">Show more</a>
                        <div id="more_feedback_{{participant.id}}" style="display:none">
                    {% endif %}
                    "{{ feedback.comments }}" - <small>{{ feedback.leader }} on <a href="{% url 'view_trip' feedback.trip.id %}">{{ feedback.trip }}</a></small>
                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
                {% if forloop.counter > 3 %}</div>{% endif %}
            </td>
            <td>{{ form.instance.notes }}</td>

            {% with car_status=participant.lotteryinfo.car_status passengers=participant.lotteryinfo.number_of_passengers %}
            <td><span {% if car_status == 'own' %}title="Participant owns a car, with room for {{ passengers }} passengers."
                    {% elif car_status == 'rent' %}title="Participant is willing to rent car {% if passengers %}with room for {{ passengers }} passengers.{% endif %}"{% endif %}>
                    {{ car_status }}{% if passengers %}, +{{ passengers }}{% endif %}
            </span></td>
            {% endwith %}

            {% if formset.can_delete %}
                <td>{{ form.DELETE }}</td>
            {% endif %}
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>
