<table class="footable">
    <thead>
        <tr>
            <th>Name</th>
            <th data-hide="phone,tablet" data-sort-ignore="true">Feedback</th>
            <th data-hide="phone,tablet" data-sort-ignore="true">Notes</th>
            <th data-sort-ignore="true">Car</th>
            <th data-sort-ignore="true">Passengers</th>
            {% if formset.can_delete %}
            <th data-sort-ignore="true">Remove</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
    {% for form in formset %}
        {% with participant=form.instance.participant %}
        {{ form.id }}
        <tr>
            {{ form.errors }}
            <td class="nowrap"><a href="{% url 'view_participant' form.instance.participant.id %}">{{ form.instance.participant.name }}</a></td>
            <td>
                {% for feedback in form.instance.participant.feedback_set.all %}
                "{{ feedback.comments }}" <br>
                {% endfor %}
            </td>
            <td>{{ form.instance.notes }}</td>
            <td>{{ form.instance.participant.lotteryinfo.car_status }}</td>
            <td>{{ form.instance.participant.lotteryinfo.number_of_passengers|default_if_none:"" }}</td>
            {% if formset.can_delete %}
            <td>{{ form.DELETE }}</td>
            {% endif %}
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>
