<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Past feedback</th>
            <th>Notes</th>
            <th>Remove from trip</th>
        </tr>
    </thead>

    <tbody>
    {% for form in formset %}
    <tr>
        {{ form.id }}
        {{ form.errors }}
        <td>  <a href="{% url 'view_participant' form.instance.participant.id %}">{{ form.instance.participant.name }}</a></td>
        <td>
            {% for feedback in form.instance.participant.feedback_set.all %}
            "{{ feedback.comments }}" <br>
            {% endfor %}
        </td>
        <td>{{ form.instance.notes }}</td>
        <td>{{ form.DELETE }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
