{% load general_tags %}
{% load trip_tags %}

<h3 id='feedback'>
  <i class="fas fa-comments"></i>
  Feedback
  {% if scramble_contents and all_feedback %}
    {# Keep this flow (a simple link) for people running no JavaScript #}
    {# TODO, though, is to support AJAX "descrambling" of the content below #}
    <a class="btn btn-default pull-right"
       data-uib-tooltip="Participant feedback should only be viewed for the purposes of planning a trip. Views of feedback will be logged."
       href="{% url 'view_participant' all_feedback.0.participant.pk %}?show_feedback=1">
      Show feedback for trip-planning purposes
    </a>
  {% elif display_log_notice %}
    <span class ="label label-info pull-right">Your access has been logged.</span>
  {% endif %}
</h3>
{% if not all_feedback %}
  <p>None available.</p>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Comments</th>
        <th>Leader &amp; Trip</th>
      </tr>
    </thead>
    <tbody>
    {% for feedback in all_feedback %}
      <tr{% if not feedback.showed_up and not scramble_contents %} class="danger"{% endif %}>
        <td>
          {% if not feedback.showed_up and not scramble_contents %}
            <span class="label label-danger">Flaked!</span>
          {% endif %}

          {% if scramble_contents %}
            <span class="blur">
                {# Scramble the contents of the feedback (not meant to irreversibly cipher it or anything) #}
                {# The goal is instead to make it such that leaders do not read this feedback if it's not relevant. #}
                {# This allows a "reveal" without changing the size of the table much, if at all. #}
              {{ feedback.comments|scramble }}
            </span>
          {% else %}
            {{ feedback.comments }}
          {% endif %}
        </td>
        <td>
          <span class="nowrap">
            {% if scramble_contents %}
              <a class="blur">
                {# Use the real leader's name. It's not sensitive info, so we'll just blur it slightly to reduce curiosity. #}
                {# Keeping the name allows a "reveal" without changing the size of the table much. #}
                {{ feedback|leader_display }}
              </a>
            {% else %}
              <a href="{% url 'view_participant' feedback.leader.id %}">
                {{ feedback|leader_display }}
              </a>
            {% endif %}
          </span>
          {% if feedback.trip %}
          <div class="text-right">
            <small>
              <em><a href="{% url 'view_trip' feedback.trip.id %}">{{ feedback.trip }}</a></em>
              <div>
              {{ feedback.display_date|date:"M j, Y" }}
              </div>
            </small>
          </div>
          {% endif %}
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% if warn_about_old_feedback %}
<div class="alert alert-warning">
  This participant was also given feedback before {{ feedback_cutoff }}.

  Per club policy, we hide all feedback after thirteen months. If you truly
  need to see old feedback, please reach out to the appropriate activity
  chair(s).
</div>
{% endif %}

{% endif %}
