{% load crispy_forms_tags %}
{% if attended_lectures %}
  <h3>Lecture Attendance</h3>
  <p>
    <span class="label label-success">Attended</span>
    {% if user_viewing %}
      {# (Helps assure participants their submission went through) #}
      You have
    {% else %}
      {{ participant.name }} has
    {% endif %}
    attended WS {{ lecture_year }} lectures!
  </p>
{% elif can_set_attendance %}  {# User (or chair) can mark attendance. #}
  <form method="post" action="{% url 'lecture_attendance' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="panel panel-primary">
      <div class="panel-heading">
        Winter School lecture attendance
      </div>
      <div class="panel-body">
        {% if user_viewing %}
          <p>We don't show you as having attended this year's lectures.</p>
          <p>Please mark your attendance if you've come to lectures this year.
            <small>(You're on your honor!)</small>
          </p>
        {% else %}
          <p>{{ participant.name }} has not attended this year's lectures.</p>
          {% if past_attendance %}
            <p>
            Past years' attendance:
            {% for year in past_attendance %}
              <span class="label label-success"><i class="fas fa-fw fa-check"></i><span>{{ year }}</span></span>
            {% endfor %}
            </p>
          {% endif %}
        {% endif %}
      </div>

      <div class="panel-footer">
        <p><button type="submit" class="btn btn-primary">{{ user_viewing|yesno:"I attended lectures,Mark attendance" }}</button></p>
      </div>
    </div>
  </form>
{% else %}
  <h3>Lecture Attendance</h3>
    <p>
      <span class="label label-danger">Absent</span>
      {% if user_viewing %}You{% else %}{{ participant.name }}{% endif %} did not attend this year's lectures!
    </p>

    {% if user_viewing %}
      <div class="alert alert-danger">
        <p>
          You <strong>must</strong> attend lectures each year in order to participate in Winter School.
          If you did indeed attend this year's lectures, please contact
          the <a href="mailto:ws-chair@mit.edu">Winter School chair</a>.
        </p>
      </div>
    {% endif %}
  </p>

  {% if past_attendance %}
    <p>
    Past years' attendance:
    {% for year in past_attendance %}
      <span class="label label-success"><i class="fas fa-fw fa-check"></i>{{ year }}</span>
    {% endfor %}
    </p>
  {% endif %}
{% endif %}
