<table>
<tr>
    <th>Name</th>
    <th>Cell</th>
    <th>Email</th>
    <th>Allergies</th>
    <th>Medications</th>
    <th>History</th>
    <th>Trip Notes</th>
</tr>
{% for signup in signups %}  {# 'signups' can also be Leader objects (no notes will be shown) #}
<tr>
    <td>{{ signup.participant.name }}</td>
    <td>{{ signup.participant.cell_phone }}</td>
    <td>{{ signup.participant.email }}</td>
    <td>{{ signup.participant.emergency_info.allergies }}</td>
    <td>{{ signup.participant.emergency_info.medications }}</td>
    <td>{{ signup.participant.emergency_info.medical_history }}</td>
    <td>{{ signup.notes }}</td>
</tr>
{% endfor %}
</table>
