{% load signup_tags %}


{% if trip.signups_closed %} {# Can show this to anybody, authenticated or not. #}
  <div class="alert alert-info">
    Signups for this trip are closed.
  </div>
{% elif trip.signups_open %}
  {% if existing_signup %}
    {% already_signed_up trip existing_signup %}
  {% else %}
    {% signups_open user trip signup_form leader_signup_allowed %}
  {% endif %}
{% elif trip.signups_not_yet_open %}
  {% not_yet_open user trip signup_form leader_signup_allowed %}
{% endif %} {# No else - these states should cover all cases #}


{% if trip.upcoming and existing_signup %}
  {% if trip.algorithm == 'lottery' %}
    <div class="alert alert-success">
      You're signed up for this trip's lottery.
      You'll find out if you have a spot after
      <a href="{% url 'help-lottery' %}">the lottery</a> runs.
    </div>
  {% elif existing_signup.on_trip %}
    <div class="alert alert-success">
      You are signed up for this trip.
    </div>
  {% endif %}

  {% drop_off_trip trip existing_signup %}
{% endif %}
