<table class="footable">
    <thead>
        <tr>
            <th>Name</th>
            {% if has_notes %}
            <th data-sort-ignore="true">Notes</th>
            {% endif %}
            {% if show_drivers %}
            <th data-sort-ignore="true">Car</th>
            <th data-sort-ignore="true">Passengers</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for signup in signups %} {# Also works well with leaders, so long as has_notes is False #}
        <tr>
            <td>{{ signup.participant }}</td>
            {% if has_notes %}
            <td>{{ signup.notes }}</td>
            {% endif %}

            {% if show_drivers %}
            <td>{{ signup.participant.lotteryinfo.car_status }}</td>
            <td>{{ signup.participant.lotteryinfo.number_of_passengers|default_if_none:"" }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
