{% load trip_tags %}
<table class="footable">
  <thead>
    <tr>
      <th>Trip</th>
      {% if not collapse_date %}
        <th data-type="numeric" class="nowrap">Date</th>
      {% endif %}
      <th data-hide="phone" class="nowrap">Leaders</th>
    </tr>
  </thead>

  <tbody>
    {% for trip in trip_list %}
      <tr>
        <td>
          {# NOTE: A collapsed footable renders the plus icon before this, on the same line. #}
          {% trip_icon trip %}<a href="{% url 'view_trip' trip.id %}">{{ trip.name|truncatechars:max_title_chars }}</a>
          <ul class="list-unstyled">
            {% if collapse_date %}<li><em>{{ trip.trip_date|date:"Y-m-d" }}</em></li>{% endif %}
            <li><strong>{{ trip.difficulty_rating }}</strong> {{ trip.summary }}</li>
          </ul>
        </td>

        {% if not collapse_date %}
          <td class="nowrap" data-value="{{ trip.trip_date|date:'U' }}">
            {% if trip.in_past %}
              {{ trip.trip_date|date:"Y-m-d" }}
            {% else %}
              <span uib-tooltip="{{ trip.trip_date|date:'l, M j Y' }}" data-tooltip-placement="left">
                {% if trip.trip_date == today %}
                  Today
                {% elif trip.less_than_a_week_away %}
                  {{ trip.trip_date|date:"D" }}
                {% else %}
                  {{ trip.trip_date|date:"M j" }}
                {% endif %}
              </span>
            {% endif %}
          </td>
        {% endif %}
        <td>
          {% for leader in trip.leaders_with_rating|slice:":5" %}
            <div class="nowrap">{{ leader }}</div>
          {% endfor %}

          {% if trip.leaders.count > 5 %}
            ...<br>
            <em>({{ trip.leaders.count }} in total)</em>
          {% endif %}
        </td>
      </tr>

    {% endfor %}
  </tbody>
</table>
