<div class="btn-group" role="group">
  {% if is_chair or is_creator or is_trip_leader %}
    <a type="button" class="btn btn-default" href="{% url 'edit_trip' trip.pk %}"   ><i class="fas fa-edit"  ></i>&nbsp;Edit</a>
    <a type="button" class="btn btn-default" href="{% url 'trip_medical' trip.pk %}"><i class="fas fa-medkit"></i>&nbsp;WIMP info</a>

    <a type="button"
       class="btn btn-default {{ trip.info|yesno:",btn-danger" }}"
       href="{% url 'trip_itinerary' trip.pk %}"
        {% if not trip.info %}
          uib-tooltip="Not yet completed"
        {% endif %}
    ><i class="fas fa-list-alt"></i>&nbsp;Itinerary</a>

    {% if is_trip_leader %}
      <a type="button" class="btn btn-default" href="{% url 'review_trip' trip.pk %}"><i class="fas fa-comments"></i>&nbsp;Feedback</a>
    {% endif %}

    {# Approval is a chair-only function #}
    {% if is_chair and not hide_approve %}
      {% if not trip.chair_approved %}
        <a type="button"
           class="btn btn-default"
           href="{% url 'view_trip_for_approval' trip.activity trip.pk %}"
           >
           <i class="fas fa-fw fa-square"></i>
           Review
        </a>
      {% else %}
        <button
           class="btn btn-success"
           disabled
           href="{% url 'view_trip_for_approval' trip.activity trip.pk %}"
           {% if last_approval %}
             uib-tooltip="by {{ last_approval.approver.name }} {{ last_approval.time_created }}"
           {% endif %}
           >
           <i class="fas fa-fw fa-check-square"></i>
           Approved!
        </button>
      {% endif %}
    {% endif %}
  {% endif %}

  <a type="button" class="btn btn-default" href="{% url 'create_trip' %}?duplicate_trip_id={{ trip.pk }}"><i class="fas fa-copy"  ></i>&nbsp;Duplicate</a>
</div>

{% if is_creator or is_chair %} {# Other trip leaders cannot delete the trip #}
  <data-delete class="pull-right" data-api-slug="trips" data-obj-id="{{ trip.pk }}"></data-delete>
{% endif %}
