<h3> {{ trip.name }} </h3>
<div class="table">
    <div class="table-row">
        <div class="table-heading">Leaders</div>
        <div class="table-cell">{% for leader in trip.leaders.all %}
            <a href="mailto:{{ leader.participant.email }}">{{ leader }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
        </div>
    </div>
    <div class="table-row">
        <div class="table-heading">Trip date</div>
        <div class="table-cell">{{ trip.trip_date|date:"l, F jS" }}</div>
    </div>
    <div class="table-row">
        <div class="table-heading">Difficulty rating</div>
        <div class="table-cell">{{ trip.difficulty_rating }}</div>
    </div>
    {% if trip.prereqs %}
    <div class="table-row">
        <div class="table-heading">Prerequisites</div>
        <div class="table-cell">{{ trip.prereqs }}</div>
    </div>
    {% endif %}
    <div class="table-row">
        <div class="table-heading">Description</div>
        <div class="table-cell">{{ trip.description|linebreaks }}</div>
    </div>
</div>

<h3> Signup </h3>
<div class="table">
    <div class="table-row">
        <div class="table-heading">Algorithm</div>
        <div class="table-cell">{{ trip.get_algorithm_display }}</div>
    </div>
    <div class="table-row">
        <div class="table-heading">Maximum participants</div>
        <div class="table-cell">{{ trip.maximum_participants }}</div>
    </div>
    <div class="table-row">
        <div class="table-heading">Signups {{ trip.signups_open|yesno:"opened,open" }} at</div>
        <div class="table-cell">{{ trip.signups_open_at }}</div>
    </div>
    {% if trip.signups_close_at %}  {# Not all trips have a close time #}
    <div class="table-row">
        <div class="table-heading">Signups {{ trip.signups_closed|yesno:"closed,close" }} at</div>
        <div class="table-cell">{{ trip.signups_close_at }}</div>
    </div>
    {% endif %}
    {% if trip.notes %}
    <div class="table-row">
        <div class="table-heading">Notes</div>
        <div class="table-cell">{{ trip.notes }}</div>
    </div>
    {% endif %}
</div>
