{% load markdown_tags %}
{% load misc_tags %}
{% load trip_tags %}
<h2> {{ trip.name }} </h2>

<dl class="dl-horizontal">
    {% if trip.leaders.all %}
      <dt>Leaders</dt>
      <dd>
        {% for leader in trip.leaders.all %}
          {% if show_contacts %}<a href="mailto:{{ leader.email }}">{% endif %}
          {{ leader|name_with_rating:trip }}{% if show_contacts %}</a>{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </dd>
    {% else %}
      <dt>Creator</dt>
      <dd>
        {% if show_contacts %}<a href="mailto:{{ trip.creator.email }}">{% endif %}
        {{ trip.creator|name_with_rating:trip }}
        {% if show_contacts %}</a>{% endif %}
      </dd>
    {% endif %}

    {% if trip.wimp %}
        <dt>WIMP</dt>
        <dd>
          {% if show_contacts %}<a href="mailto:{{ trip.wimp.email }}">{% endif %}
          {{ trip.wimp.name }}
          {% if show_contacts %}</a>{% endif %}
          {% if show_contacts and trip.wimp.cell_phone %}({{ trip.wimp.cell_phone|format_phone_number }}){% endif %}
        </dd>
    {% endif %}

    {% if trip.level %}
      <dt>Trip level</dt>
      <dd>{{ trip.level }}</dd>
    {% endif %}

    <dt>Trip date</dt>
    <dd>
      {% if trip.in_past %}
        {{ trip.trip_date|date:"l, F jS, Y" }}
      {% else %}
        {{ trip.trip_date|date:"l, F jS" }}
      {% endif %}
    </dd>

    <dt>Difficulty rating</dt>
    <dd>{{ trip.difficulty_rating }}</dd>

    {% if trip.prereqs %}
        <dt>Prerequisites</dt>
        <dd>{{ trip.prereqs }}</dd>
    {% endif %}
</dl>

<div class="trip-description">
  {{ trip.description|markdown }}
</div>

<hr>

<h3> Signup </h3>
<dl class="dl-horizontal">
    <dt>Algorithm</dt>
    <dd>{{ trip.get_algorithm_display }}</dd>

    <dt>Maximum participants</dt>
    <dd>{{ trip.maximum_participants }}</dd>

    <dt>Signups open{% if trip.signups_opened %}ed{% endif %} at</dt>
    <dd>{{ trip.signups_open_at }}</dd>

    {% if trip.signups_close_at %}  {# Not all trips have a close time #}
        <dt>Signups {{ trip.signups_closed|yesno:"closed,close" }} at</dt>
        <dd>{{ trip.signups_close_at }}</dd>
    {% endif %}

    {% if trip.notes %}
        <dt>Notes</dt>
        <dd>{{ trip.notes | markdown }}</dd>
    {% endif %}
</dl>
