{% load general_tags %}
{% load trip_tags %}
<table class="footable">
  <thead>
    <tr>
      <th>Name</th>  {# Link out #}
      <th data-type="numeric" class="nowrap">Date</th>
      {% if approve_mode and trip_list.0.activity == 'winter_school' %}
        <th data-hide="phone,tablet" class="nowrap">Terrain level</th>
      {% endif %}
      <th data-hide="phone,tablet" data-sort-ignore="true">Description</th>
      {% if show_trip_stage %}
        <th data-type="numeric" class="nowrap" data-hide="phone">Stage</th>
      {% endif %}
      {% if show_signups_on_trip %}
        <th data-type="numeric" class="nowrap">Spaces</th>
      {% endif %}
      <th data-hide="phone,tablet">Leaders</th>
    </tr>
  </thead>

  <tbody>
    {% for trip in trip_list %}
      <tr>
        <td>
          {% if approve_mode %}
            {# The trip icon is generally not that helpful when all trips are for the same activity chair. #}
            {# For past (already approved) trips, we'll reclaim the space to render approval status #}
            {% if trip.chair_approved %}
              {# We just surface the date -- more details can be found in the trip page #}
              <span {% if trip.last_approval %}uib-tooltip="Approved {{ trip.last_approval }}"{% endif %}>
                <i class="fas fa-fw fa-check text-success"></i>
              </span>
            {% else %}
              {# Old unapproved trips (or upcoming trips) can still show an icon #}
              {% trip_icon trip %}
            {% endif %}
            <a href="{% url 'view_trip_for_approval' trip.activity trip.pk %}">
          {% else %}
            <a href="{% url 'view_trip' trip.pk %}">
            {% trip_icon trip %}
          {% endif %}
              {{ trip.name|truncatechars:45 }}
            </a>
        </td>
        <td class="nowrap" data-value="{{ trip.trip_date|date:'U' }}">
          {% if trip.in_past %}
            {{ trip.trip_date|date:"Y-m-d" }}
          {% else %}
            {{ trip.trip_date|date:"D, M j" }}
          {% endif %}
        </td>

        {% if approve_mode and trip.activity == 'winter_school' %}
          <td>{{ trip.winter_terrain_level }}</td>
        {% endif %}

        <td>
            {% if approve_mode %}
              {% if trip.info %}
                <span uib-tooltip="Itinerary submitted">
                  <i class="fas fa-fw fa-check text-success"></i>
                </span>
              {% else %}
                <span uib-tooltip="No itinerary!">
                  <i class="fas fa-fw fa-exclamation-triangle text-danger"></i>
                </span>
              {% endif %}
            {% endif %}
            <strong>{{ trip.difficulty_rating }}</strong>
          {{ trip.summary }}
        </td>

        {% if show_trip_stage %}
          {% with signups_on_trip=trip.signups_on_trip %}
            <td data-value="{{ trip|numeric_trip_stage_for_sorting:signups_on_trip }}">
              {% trip_stage trip signups_on_trip %}
            </td>
          {% endwith %}
        {% endif %}

        {% if show_signups_on_trip %}
          {% with signups_on_trip=trip.signups_on_trip %}
            <td>{{ trip.maximum_participants|subtract:signups_on_trip }} / {{ trip.maximum_participants }}</td>
          {% endwith %}
        {% endif %}

        <td>
          {{ trip.leaders_with_rating|slice:':5'|join:', ' }}{% if trip.leaders.count > 5 %}... ({{ trip.leaders.count }} in total){% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
