{% if is_chair or is_creator or is_trip_leader %}
  {# Show label that describes all available functions #}
  <h4>
    {% if is_chair %}
      Activity chair
    {% elif is_creator %}
      Creator
    {% elif is_trip_leader %}
      Leader
    {% endif %}
    functions
  </h4>

  <div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="{% url 'edit_trip' trip.pk %}"   ><i class="fas fa-edit"  ></i>&nbsp;Edit</a>
    <a type="button" class="btn btn-default" href="{% url 'trip_medical' trip.pk %}"><i class="fas fa-medkit"></i>&nbsp;WIMP info</a>

    <a type="button"
       class="btn btn-default {{ trip.info|yesno:",btn-danger" }}"
       href="{% url 'trip_itinerary' trip.pk %}"
        {% if not trip.info %}
          uib-tooltip="Not yet completed"
        {% endif %}
    ><i class="fas fa-list-alt"></i>&nbsp;Itinerary</a>

    {% if is_trip_leader %}
      <a type="button" class="btn btn-default" href="{% url 'review_trip' trip.pk %}"><i class="fas fa-comments"></i>&nbsp;Feedback</a>
    {% endif %}

    {# Approval is a chair-only function #}
    {% if is_chair and not hide_approve %}
      <data-approve-trip
          data-trip-id="{{ trip.pk }}"
          data-approved="{{ trip.chair_approved|yesno:'true,false' }}">
      </data-approve-trip>
    {% endif %}

  </div>

  {% if is_creator or is_chair %} {# Other trip leaders cannot delete the trip #}
    <data-delete class="pull-right" data-api-slug="trips" data-obj-id="{{ trip.pk }}"></data-delete>
  {% endif %}

{% endif %}
