{% load trip_tags %}
{% load markdown_tags %}
<h2> {{ trip.name }} </h2>

<dl class="dl-horizontal">
    <dt>Leaders</dt>
    <dd>{% for leader in trip.leaders.all %}
    <a href="mailto:{{ leader.email }}">{{ leader|name_with_activity:trip.activity }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    </dd>

    {% if trip.level %}
      <dt>Trip level</dt>
      <dd>{{ trip.level }}</dd>
    {% endif %}

    <dt>Trip date</dt>
    <dd>
      {% if trip.in_past %}
        {{ trip.trip_date|date:"l, F jS, Y" }}
      {% else %}
        {{ trip.trip_date|date:"l, F jS" }}
      {% endif %}
    </dd>

    <dt>Difficulty rating</dt>
    <dd>{{ trip.difficulty_rating }}</dd>

    {% if trip.prereqs %}
        <dt>Prerequisites</dt>
        <dd>{{ trip.prereqs }}</dd>
    {% endif %}
</dl>

{{ trip.description|markdown }}

<hr>

<h3> Signup </h3>
<dl class="dl-horizontal">
    <dt>Algorithm</dt>
    <dd>{{ trip.get_algorithm_display }}</dd>

    <dt>Maximum participants</dt>
    <dd>{{ trip.maximum_participants }}</dd>

    <dt>Signups open{% if trip.in_past or trip.signups_open%}ed{% endif %} at</dt>
    <dd>{{ trip.signups_open_at }}</dd>

    {% if trip.signups_close_at %}  {# Not all trips have a close time #}
        <dt>Signups {{ trip.signups_closed|yesno:"closed,close" }} at</dt>
        <dd>{{ trip.signups_close_at }}</dd>
    {% endif %}

    {% if trip.notes %}
        <dt>Notes</dt>
        <dd>{{ trip.notes | markdown }}</dd>
    {% endif %}
</dl>
