{% load signup_tags %}
{% load trip_tags %}

{% trip_summary trip %}

{% if not is_trip_leader %}
  {% signup_for_trip trip viewing_participant par_signup %}
{% endif %}

{% if trip.wimp and viewing_participant == trip.wimp %}
  {% if par_signup or is_trip_leader %}
    <div class="alert alert-danger">
      You are currently this trip's WIMP!
      For safety reasons, you should neither be a leader or a participant on this trip.
      Either drop off, or ensure that another MITOCer acts as WIMP.
    </div>
  {% endif %}
{% endif %}

{% if user.is_authenticated %}
  <hr>

  {# The leader table is so participants can see leader notes #}
  {#   (or so leaders can see who's driving on other trips)   #}
  {% if has_notes and signups.leaders_on_trip or viewing_participant.is_leader and trip.leaders.count %}
    <h3>Leaders ({{ trip.leaders.count }})</h3>
    {% signup_table signups.leaders_on_trip has_notes show_drivers=viewing_participant.is_leader all_participants=trip.leaders %}
  {% endif %}

  {# A list of previous leaders who signed up is useful to #}
  {# - Any individuals in the list (who may be confused about their status) #}
  {# - Trip creator, or other leaders curious about headcount #}
  {% if has_notes and signups.leaders_off_trip %}
    <h3>Leader signups, no longer on trip</h3>
    <div class="alert alert-info">
      These individuals previously signed up as leaders, but are no longer leaders on the trip.
    </div>
    {% signup_table signups.leaders_off_trip has_notes show_drivers=viewing_participant.is_leader %}
  {% endif %}

  {% if signups.on_trip %}
    <h3>Participants ({{ signups.on_trip.count }} / {{ trip.maximum_participants }})</h3>
    {% signup_table signups.on_trip has_notes show_drivers=viewing_participant.is_leader %}
  {% endif %}

  <email-trip-members data-trip-id="{{ trip.pk }}">
  </email-trip-members>

  {% if signups.waitlist %}
    <h3>Waiting List ({{ signups.waitlist.count }}) </h3>
    {% signup_table signups.waitlist has_notes show_drivers=viewing_participant.is_leader %}
  {% endif %}

  {% not_on_trip trip signups.on_trip signups.off_trip has_notes %}
{% endif %}
