{% extends "base.html" %}
{% load misc_tags %}
{% load trip_tags %}

{% block head_title %}All leaders{% endblock head_title %}

{% block content %}
{{ block.super }}

<h2> Leaders </h2>
{% if not leaders %}
<p>No leaders.</p>
{% else %}
<table class="footable">
    <thead>
        <tr>
            <th>Name</th>
            {% for activity_enum, label in activities %}
              <th data-hide="phone">{{ label }}</th>
            {% endfor %}
            <th data-sort-ignore="true">Cell</th>
        </tr>
    </thead>
    <tbody>
        {% for leader in leaders %}
        <tr>
            <td><a href="{% url 'view_participant' leader.id %}">{{ leader.name }}</a></td>
            {% for activity_enum, label in activities %}
              <td> {{ leader|activity_rating:activity_enum }}</td>
            {% endfor %}
            <td class="nowrap">{{ leader.cell_phone|format_phone_number }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}
{% endblock content %}
