{% extends "messages_page.html" %}
{% load application_tags %}

{% block head_title %}Leader application{% endblock head_title %}

{% block content %}
{{ block.super }}

{% if activity == 'winter_school' %}
  <h1>Winter School {{ year }} Leader Application</h1>
{% else %}
  <h1>{{ activity|title }} Leader Application</h1>
{% endif %}

{% if application %}
  {% application_status application can_apply %}
{% endif %}

{% if can_apply %}
  {% application_description activity %}
{% endif %}

<div class="row">

  {% if can_apply %}
    <div class="col-md-6">
      <h3><i class="fas fa-book"></i> Application</h3>

      <form name="{{ form.form_name }}" method="post" action="." novalidate data-submit-if-valid>
        {% csrf_token %}
        {% if activity == 'winter_school' %}
          {% ws_application form %}
        {% else %}
          {{ form.as_div }}
        {% endif %}
        <div class="alert alert-danger" data-ng-cloak data-ng-show="{{ form.form_name }}.$submitted && {{ form.form_name }}.$invalid">
          Please correct the above errors.
        </div>
        <button type="submit" class="btn btn-primary">Submit application</button>
      </form>
    </div>
  {% endif %}

  {% if application %}
    <div class="col-md-6">
      <h3><i class="fas fa-book"></i> Most Recent Application</h3>
      {% application_summary application %}
      {% application_details application %}
      <hr>
      <small>Submitted {{ application.time_created }}</small>
    </div>
  {% endif %}

</div>

{% endblock content %}
