{% extends "messages_page.html" %}
{% load application_tags %}

{% block head_title %}Leader application{% endblock head_title %}

{% block content %}
{{ block.super }}

{% if activity == 'winter_school' %}
  <h1>Winter School {{ year }} Leader Application</h1>
{% else %}
  <h1>{{ activity|title }} Leader Application</h1>
{% endif %}

{% if application %}
  {% application_status application can_apply %}
{% endif %}

{% if can_apply %}
  {% application_description activity %}

  <hr />
  <form name="{{ form.form_name }}" method="post" action="." novalidate data-submit-if-valid>
    {% csrf_token %}
    {{ form.as_div }}
    <div class="alert alert-danger" data-ng-cloak data-ng-show="{{ form.form_name }}.$submitted && {{ form.form_name }}.$invalid">
      Please correct the above errors.
    </div>
    <button type="submit" class="btn btn-primary">Submit application</button>
  </form>
{% endif %}

{% endblock content %}
