{% extends "base.html" %}
{% load application_tags %}

{% block head_title %}Leader application{% endblock head_title %}

{% block content %}
{{ block.super }}

<h1>
  {{ activity_enum.label }}
  {% if activity_enum.is_winter_school %}
    {{ year }}
  {% endif %}
  Leader Application
  {% if not accepting_applications %}
   - Closed!
  {% endif %}
</h1>

{% if application %}
  {% application_status application can_apply %}
{% endif %}

{% if can_apply %}
  {% application_description activity %}

{# We don't need to explain to somebody that applications are closed if they recently submitted one. #}
{% elif not application and not accepting_applications %}
  <p class="lead">
    Applications are not currently being accepted.
  </p>
  {% if activity_enum.is_winter_school %}
    <p>
      Winter School leader applications are reviewed each year in November.
    </p>

    <p>
      Interested in becoming a leader during the next Winter School?
      Subscribe to our <a href="https://mitoc.mit.edu/mailing-lists">mailing lists</a> to be notified when applications are open!
    </p>

    <p>
      If you have any other questions, please <a href="{% url 'contact' %}">contact us</a>.
    </p>
  {% endif %}

{% endif %}

<div class="row">

  {% if can_apply %}
    <div class="col-md-6">
      <h3><i class="fas fa-book"></i> Application</h3>

      <form name="{{ form.form_name }}" method="post" action="." novalidate data-submit-if-valid>
        {% csrf_token %}
        {% if activity_enum.is_winter_school %}
          {% ws_application form %}
        {% else %}
          {{ form.as_div }}
        {% endif %}
        <div class="alert alert-danger" data-ng-cloak data-ng-show="{{ form.form_name }}.$submitted && {{ form.form_name }}.$invalid">
          Please correct the above errors.
        </div>
        <button type="submit" class="btn btn-primary">Submit application</button>
      </form>
    </div>
  {% endif %}

  {% if application %}
    <div class="col-md-6">
      <h3><i class="fas fa-book"></i> Most Recent Application</h3>
      {% application_summary application %}
      {% application_details application %}
    </div>
  {% endif %}

</div>

{% endblock content %}
