{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load trip_tags %}

{% block head_title %}Leaders{% endblock head_title %}

{% block content %}
{{ block.super }}

<div class="row">
  <div class="col-md-8">
    <h2>{{ activity_enum.label }} Leaders</h2>
    {% if not ratings %}
      <p>No active leaders!</p>
    {% else %}
      <form action="{% url 'deactivate_leaders' activity_enum.value %}" method="POST">
        {% csrf_token %}
        <table class="footable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Rating</th>
              <th>Rating given</th>
              <th>Last trip (any type) led </th>
              <th data-sort-ignore="true">Deactivate</th>
            </tr>
          </thead>
          <tbody>
            {% for rating in ratings %}
            <tr data-ng-class="{'alert-danger': deactivate_ratings_{{ rating.pk }}}">
              <td><a href="{% url 'view_participant' rating.participant.pk %}">{{ rating.participant.name }}</a></td>
              <td>{{ rating.rating }}</td>
              <td>{{ rating.time_created|date:"Y-m-d" }}</td>
              <td>{{ rating.last_trip_date|date:"Y-m-d" }}</td>
              <td>
                {# Home-grown "formset" (this is simple, the normal FormSet option is clunky) #}
                <input type="checkbox"
                       id="deactivate_{{ rating.pk }}"
                       name="deactivate"
                       value="{{ rating.pk }}"
                       {# Note: An ng-model is essential, or the `input` directive #}
                       {# will give the same ng-model to all checkboxes. #}
                       data-ng-model="deactivate_ratings_{{ rating.pk }}"
                       >
                </input>
              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
        <br>
        <button class="btn btn-primary pull-right" type="submit">Deactivate selected leaders</button>
      </form>
    {% endif %}
  </div>
  <div class="col-md-4">
    <h2> Create or Update Ratings</h2>
    <form data-ng-controller="leaderRating" name="{{ form.form_name }}" method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}
