{% extends "messages_page.html" %}
{% block head_title %}Lottery preferences {% endblock head_title %}

{% block js %}
{{ block.super }}
<script>
  var ranked = {signups: {{ ranked_signups|safe }}};
</script>
{% endblock js %}

{% block content %}
{{ block.super }}

<h2>Lottery Preferences</h2>
{% if is_winter_school %}
  <h3>Winter School Lottery</h3>
  <p>Due to the large number of Winter School participants and a limited number
  of trips, placement for each weekend's trips will be done by lottery.
  For more information, see the <a href="{% url 'help-lottery' %}">help pages</a>.</p>
  
  {% if "leaders" in groups %}
    <h3> Leaders </h3>
    <p> If you're able to drive for your trip (or any of the trips you've signed up
    for as a participant), please indicate here. It will help participants get
    placed on trips they're interested in.
    </p>
  {% endif %}
{% endif %}

{% if not ranked_signups %}
  <h3>About ranking trips</h3>
  <p>Begin by signing up for any trips you're interested in. You can always
  browse <a href="{% url 'upcoming_trips' %}">upcoming trips</a>.</p>
  <p>If you'd like to go on a trip, sign up for it. Any upcoming lottery-based
  trips you've signed up for will appear here.</p>
{% endif %}

{% if is_winter_schoor or not ranked_signups %}
  <hr>
{% endif %}


<h4> Car info </h4>

<p> Drivers are {% if not is_winter_school %} occasionally {% endif %} given
priority on trips that would not otherwise be able to transport lottery-winning
participants. </p>

{# The lottery form doesn't need validation, so just consider this whole form the car form #}
<form name="{{ car_form.form_name }}" action="" method="post" data-ng-controller="lotteryController" novalidate>
  {% csrf_token %}

  <div style="display:none">{{ lottery_form.car_status }}</div>

  <div class="btn-group" style="margin-bottom:10px" data-ng-cloak>
    <label class="btn btn-default" data-ng-model="car_status" uib-btn-radio="'none'"><i class="fa fa-times">&nbsp;No car</i></label>
    <label class="btn btn-default" data-ng-model="car_status" uib-btn-radio="'rent'"><i class="fa fa-taxi">&nbsp;Willing to rent</i></label>
    <label class="btn btn-default" data-ng-model="car_status" uib-btn-radio="'own'" ><i class="fa fa-car">&nbsp;Can drive own car</i></label>
  </div>

  <p data-ng-show="car_status == 'none' || car_status == 'rent'" data-ng-cloak>
  If you end up renting a car, please
  <a href="{% url 'edit_profile' %}#car">supply identifying information about the vehicle</a>
  before you leave on your trip.
  </p>

  <div data-ng-show="car_status == 'own'" data-ng-cloak>
    <p>Please ensure that the form below matches the car you'll be driving.</p>
    {{ car_form.as_div }}
  </div>

  <div class="form-inline" data-ng-show="car_status == 'own' || car_status == 'rent'" data-ng-cloak>
    <div class="form-group">
      <label>{{ lottery_form.number_of_passengers.label }}</label>
      {{ lottery_form.number_of_passengers }}
    </div>
  </div>

  <hr>

  <h4 id="ranked_trips"> Ranked trips </h4>

  {% if reciprocally_paired %}
    <p>You are <a href="{% url 'lottery_pairing' %}">paired with {{ paired_par }}</a>.
    You will only be placed on a trip if there is room for both of you.
    You must <em>both</em> sign up for a trip in order to be considered for it
    (if only one of you signs up for a trip, that signup will be ignored).</p>
    <p>You can rank your trip preferences below. So long as you've both signed
    up for the same trips, the rankings will apply for both of you.
    </p>
  {% else %}
    <p><a href="{% url 'lottery_pairing' %}">Sign up for trips as a pair</a></p>
  {% endif %}

  <trip-rank signups="ranked.signups"></trip-rank>

  <button type="button" data-ng-click="submit()" data-ng-disabled="!car_status || (car_status == 'own' && {{ car_form.form_name }}.$invalid)" class="btn btn-primary">Submit</button>
  <ul class="djng-form-control-feedback djng-field-errors" ng-show="formErrors">
    {# This should never happen, but handle it just in case #}
    <li ng-cloak ng-show="submitError" class="invalid">An error occurred with form submission.</li>
  </ul>
</form>

{% endblock content %}
