{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load signup_tags %}
{% block head_title %}Lottery preferences {% endblock head_title %}

{% block js %}
  {{ block.super }}
  {{ ranked_signups|json_script:"jsonified-ranked-signups" }}
{% endblock js %}

{% block content %}
{{ block.super }}

{% if currently_winter_school %}
  <h2><i class="fa fa-snowflake"></i> Lottery Preferences</h2>

  <p class="lead">
    Due to the large number of Winter School participants, placement for each weekend's trips will be
  <a href="{% url 'help-lottery' %}">done by lottery</a>.
  </p>

  {# Outside of Winter School, we use the right sidebar to surface this. #}
  {% if not has_paired_par %}
    If you like, you can <a href="{% url 'lottery_pairing' %}">specify another participant you'd like to go on trips with</a>.
  {% endif %}

  <hr>
{% endif %}

<form action="" method="post" data-ng-controller="lotteryController">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <h3>Car status for upcoming trips</h3>

      {% if "leaders" in groups %}
        <div class="alert alert-info" data-ng-show="car_status == 'none'" data-ng-cloak>
          <strong>Leaders:</strong>
          If you're able to drive, please indicate here. It will help
          participants get placed on trips they're interested in.
        </div>
      {% else %}
        <p>
          Drivers are {% if not currently_winter_school %} occasionally {% endif %} given
          priority on trips that would not otherwise be able to transport
          lottery-winning participants.
        </p>
      {% endif %}


      <div class="hidden">{{ lottery_form.car_status }}</div>  {# Hidden so that Angular controls will set it #}
      <div class="btn-group" data-ng-cloak>
        <label class="btn btn-default" data-ng-model="car_status" uib-btn-radio="'none'"><i class="fas fa-times"></i>&nbsp;Not driving</label>
        <label class="btn btn-default" data-ng-model="car_status" uib-btn-radio="'rent'"><i class="fas fa-taxi"></i>&nbsp;Willing to rent</label>
        <label class="btn btn-default" data-ng-model="car_status" uib-btn-radio="'own'" ><i class="fas fa-car"></i>&nbsp;Can drive own car</label>
      </div>

      <div class="clearfix"></div>
      <br>

      <div data-ng-show="car_status == 'own'" data-ng-cloak>
        {% if viewing_participant.car %}
          <em>{{ viewing_participant.car }}</em>
          <p>Plan to drive a different car? <a href="{% url 'edit_profile' %}#car">Edit car details</a></p>
        {% else %}
          <p>Before you go on your trip, please <a href="{% url 'edit_profile' %}#car">add car details</a></p>
        {% endif %}
      </div>

      <div data-ng-show="car_status == 'own' || car_status == 'rent'" data-ng-cloak>
        <div class="row">
          <div class="col-sm-6">
            {{ lottery_form.number_of_passengers|as_crispy_field }}
          </div>
        </div>
        <div class="alert alert-info">
          <p><strong>If placed on a trip, you'll be expected to transport other participants.</strong></p>
          <p>
            If you're not sure you can drive, or not comfortable driving others, please select "Not driving."
            This will help us better plan trips.
          </p>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      {# Outside of Winter School, use the right sidebar to *always* surface information about pairing. #}
      {% if not currently_winter_school %}
        <h3>Lottery pairing</h3>
        {% pairing_info viewing_participant %}
        {% if not has_paired_par %}
          If you like, you can <a href="{% url 'lottery_pairing' %}">specify another participant you'd like to go on trips with</a>.
        {% endif %}

      {% else %}
        {# Render a section about lottery prefs *only* if the participant has relevant info #}
        {% pairing_info viewing_participant True True %}
        <h3 id="ranked_trips">
          Ranked trips
          {% if ranked_signups %}
          <a
            role="button"
            data-uib-popover="Click and drag to order your trips. Delete any trips you're no longer interested in."
            data-popover-title="How to rank trips">
            <i class="fas fa-info-circle"></i>
          </a>
          {% endif %}
        </h3>

        {% if not ranked_signups %}
          <p>You're not signed up for any upcoming trips.</p>
          <ol>
            <li>Begin by signing up for <a href="{% url 'upcoming_trips' %}">any trips you're interested in</a>.</li>
            {% if has_paired_par %}<li>Have your partner sign up for the same trips!</li>{% endif %}
            <li>Come back here to rank trips in order of preference.</li>
            <li>The next <a href="{% url 'help-lottery' %}">lottery run</a> will try to place you on your most-preferred trip.</li>
          </ol>
        {% elif ranked_signups|length < 4 %}
          <div class="alert alert-danger">
            <p><strong>We strongly recommend signing up for at least four trips!</strong></p>
            <p>
              Without some backup options, it's likely that you won't be placed on a trip at all.
              <a href="{% url 'upcoming_trips' %}">Sign up for more trips</a> to increase your odds of being placed on a trip.
            </p>
          </div>
        {% endif %}

        {% if ranked_signups %}
        <p>
          You can rank your trip preferences below. So long as you've both signed
          up for the same trips, the rankings will apply for both of you.
        </p>
        <trip-rank data-signups="ranked.signups"></trip-rank>
        {% endif %}
      {% endif %}
    </div>

  </div>

  <br>
  <div class="text-center">
    <p data-ng-show="car_status == 'none' || car_status == 'rent'" data-ng-cloak>
      If you end up renting a car, please
      <a href="{% url 'edit_profile' %}#car">supply identifying information about the vehicle</a>
      before you leave on your trip.
    </p>

    {# This should never happen, but handle it just in case #}
    <div class="alert alert-danger" data-ng-cloak data-ng-show="submitError">
      An error occurred with form submission. <a href="{% url 'contact' %}">Contact us?</a>
    </div>

    <button type="button" data-ng-click="submit()" class="btn btn-primary">Submit</button>
    <a href="{% url 'lottery_preferences' %}" role="button" class="btn btn-default">Cancel</a>
  </div>
</form>

{% endblock content %}
