{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Lottery pairing{% endblock head_title %}

{% block content %}
{{ block.super }}

<h1>Lottery Pair</h1>

<p class="lead">
  Specify another participant that you'd like to go on trips with.
</p>

<p>
  {% if currently_winter_school %}
    When the lottery runs, you will either both be placed on a trip, or be placed
    on your highest ranked trip's waitlist.
  {% else %}
    When a trip's lottery runs, you will either both be placed on it, or neither
    of you will.
  {% endif %}
</p>

<p>
  The other participant must confirm that they are part of this pair.
  Otherwise, no effort will be made to place you both on the same trip.
</p>

<ul>
  {% for requesting_participant in pair_requests %}
    <li> {{ requesting_participant }} has requested to be paired with you.</li>
  {% endfor %}
</ul>

<div class="row">
  <div class="col-md-5">
    <form name="{{ form.form_name }}" action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
{% endblock content %}
