{% extends "base.html" %}
{% load avatar_tags %}
{% load form_tags %}
{% load medical_tags %}
{% load membership_tags %}
{% load messages_tags %}
{% load misc_tags %}
{% load perm_tags %}
{% load signup_tags %}
{% load trip_tags %}
{% load ws_tags %}

{% block head_title %}
  {% if participant %}
    {{ participant.name }}
  {% elif lookup_form %}
    Look up participant
  {% endif %}
{% endblock head_title %}

{# Will display messages in a custom location on the sidebar. #}
{% block messages %}{% endblock messages %}

{% block content %}

{% if not user_viewing %}
  <div class="row">
    <div class="col-sm-8">
      <participant-lookup>
      </participant-lookup>
    </div>
    {% if user.is_superuser and participant %}
      <div class="col-sm-4 text-right">
        <a type="button" class="btn btn-default" href="{% url 'edit_participant' participant.id %}"><i class="fas fa-edit"></i>&nbsp;Edit</a>
        <delete data-api-slug="participants" data-obj-id="{{ participant.id }}"></delete>
      </div>
    {% endif %}
  </div>
  <hr>
{% endif %}

{% if participant %}

{# If it's Winter School and the participant has not attended lectures,        #}
{# we want the 'mark attendance' button to appear at the top of the viewport.  #}
{# The usual Bootstrap grid push/pull methods can't bring this div to the top. #}
{# On mobile/tablet, show in its own row (it's already top right on desktop).  #}
{% if show_attendance and can_set_attendance and not attended_lectures %}
  <div class="row">
    <div class="visible-sm visible-xs col-sm-12">
      {% lecture_attendance participant user_viewing can_set_attendance %}
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">

        <div class="media">
          <div class="media-left">
            <div class="media-object">
              <div class="profile-photo">
                {{ participant|avatar:200 }}
                {% if user_viewing %}
                  <edit-profile-photo
                    data-participant-email="{{ participant.email }}"
                    data-gravatar-opted-out="{{ participant.gravatar_opt_out|yesno:'true,false' }}">
                  </edit-profile-photo>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="media-body">
            <h1 class="media-heading">
              <div>{{ participant.name }}</div>
              <small>{{ participant.get_affiliation_display }}</small>
            </h1>

            <div class="leader-titles">
              {% for activity_enum in participant.user|chair_activities:False %}
                <h4>{{ activity_enum.label }} Chair</h4>
              {% endfor %}
              {% for rating in ratings %}
                <h4>{{ rating.get_activity_display }} Leader ({{ rating.rating }})</h4>
              {% endfor %}
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-12">
        <ul class="list-unstyled">
          <li><i class="fas fa-fw fa-envelope"></i><a href="mailto:{{ participant.email }}">{{ participant.email }}</a></li>
          {% if participant.cell_phone %}
            <li><i class="fas fa-fw fa-mobile-alt"></i>
              <a href="tel:{{ participant.cell_phone}}">
                {{ participant.cell_phone|format_phone_number }}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% if trips.current.on_trip or trips.current.waitlisted or trips.current.leader or trips.current.creator %}
    <div class="row">
      <div class="col-md-12">
        <h3><i class="fas fa-suitcase"></i> Upcoming Trips </h3>
        {% if trips.current.on_trip %}
          {% simple_trip_list trips.current.on_trip %}
        {% endif %}
        {% if trips.current.waitlisted %}
          <h4 class="text-center">Waitlisted</h4>
          {% simple_trip_list trips.current.waitlisted %}
        {% endif %}
        {% if trips.current.leader %}
          <h4 class="text-center">Leading</h4>
          {% simple_trip_list trips.current.leader %}
        {% endif %}
        {% if trips.current.creator %}
          <h4 class="text-center">Created</h4>
          {% simple_trip_list trips.current.creator %}
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="row">
      {% if user_viewing %}
        <div class="col-sm-6">
          <h3><i class="fas fa-notes-medical"></i> Medical </h3>
          {% readonly_form emergency_info_form %}

          <h4> Emergency Contact </h4>
          <dl class="dl-horizontal">
            <dt>{{ emergency_contact_form.name.label }}:</dt>
            <dd>{{ emergency_contact_form.name.value }}</dd>
            <dt>{{ emergency_contact_form.email.label }}:</dt>
            <dd>{{ emergency_contact_form.email.value }}</dd>
            <dt>{{ emergency_contact_form.cell_phone.label }}:</dt>
            <dd>{{ emergency_contact_form.cell_phone.value|format_phone_number }}</dd>
            <dt>{{ emergency_contact_form.relationship.label }}:</dt>
            <dd>{{ emergency_contact_form.relationship.value }}</dd>
          </dl>
        </div>
      {% endif %}

      <div class="col-sm-6">
        <h3><i class="fas fa-car"></i> Car </h3>
        {% if car_form %}
          {% readonly_form car_form %}
        {% elif user_viewing %}
          <div class="well">
            <p>You indicated you don't own a car, and that's cool.</p>
            <p>If you do have a car, please <a href="{% url 'edit_profile' %}">add its information</a>.
               You'll be under no obligation to drive!
            </p>
          </div>
        {% else %}
          <p>No car</p>
        {% endif %}
      </div>

      {% if not user_viewing %}
        <div class="{{ all_feedback|yesno:'col-md-12, col-sm-6' }}">
          {% feedback_table all_feedback hide_comments display_log_notice %}
        </div>
      {% endif %}
    </div>

  </div>

  <div class="col-md-4">
    {% if show_attendance %}
      {# Move this to the top of mobile/tablet viewports when the participant has #}
      {# not yet attended, but can indicate that they have #}
      <div {% if can_set_attendance and not attended_lectures %}class="hidden-sm hidden-xs"{% endif %}>
        {% lecture_attendance participant user_viewing can_set_attendance %}
      </div>
    {% endif %}

    {% if user_viewing %}
      {% if wimp %}
        <h3>This Week's <a href="{% url 'help-wimp_guide' %}">WIMP</a></h3>
        {% show_wimp wimp %}
        <hr>
      {% endif %}
      {% if messages %}
        <div class="row">
          <div class="col-md-12">
            <h3>Notifications</h3>
            {% messages_alerts %}
          </div>
        </div>
      {% endif %}

      {% wimp_trips participant user %}
    {% endif %}

    <div class="row">
      <div class="col-md-12 col-sm-6">
        {% if participant.membership and not just_signed %}
          {% membership_status participant user_viewing user_viewing False %}
        {% elif just_signed %}
          <membership-status
            user-id="{{ participant.user_id }}"
            v-bind:personalized="{{ user_viewing|yesno:"true,false" }}"
            v-bind:just-signed="true"true,false" }}">
          </membership-status>
        {% endif %}
      </div>
      <div class="col-md-12 col-sm-6">
        <outstanding-rentals data-user-id="{{ participant.user_id }}">
        </outstanding-rentals>
      </div>
    </div>

    <div class="row">
      {% if not user_viewing %}
        <div class="col-md-12 col-sm-6">
          <h3>Account emails
            <a
              role="button"
              data-uib-popover-html="'
                <p>
                  <a href=&quot;{% url 'account_email' %}&quot;>Verified emails</a>
                  are used to look up membership status.
                </p>
              '"
              data-popover-placement="bottom"
              data-popover-title="Account emails">
              <i class="fas fa-info-circle"></i>
            </a>
          </h3>

          <ul class="list-unstyled">
            {% for emailaddress in participant.user.emailaddress_set.all %}
              <li>
                {{ emailaddress.email }}
                {% if not emailaddress.verified %}
                  <a href="{% url 'account_email' %}">
                    <button class="btn btn-xs btn-warning">Unverified</button>
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if stats %}
        <div class="col-md-12 col-sm-6">
          <h3>Stats</h3>
          <ul>
            {% for line in stats %}
            <li>{{ line }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    {% pairing_info participant user_viewing True %}

  </div>
</div>

{% if trips.past.on_trip or trips.past.leader or trips.past.creator %}
  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3><i class="fas fa-suitcase"></i> Past Trips </h3>
      {% if trips.past.on_trip %}
        <h4 class="text-center">As a Participant</h4>
        {% simple_trip_list trips.past.on_trip 90 %}
      {% endif %}
      {% if trips.past.leader %}
        <h4 class="text-center">As a Leader</h4>
        {% simple_trip_list trips.past.leader 90 %}
      {% endif %}
      {% if trips.past.creator %}
        <h4 class="text-center">Created</h4>
        {% simple_trip_list trips.past.creator 90 %}
      {% endif %}
    </div>
  </div>
{% endif %}
{% endif %}


{% endblock content %}
