{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{{ block.super }}

{% for err in form.non_field_errors %}
  <div class="alert alert-danger">{{ err }}</div>
{% endfor %}

<form name="{{ form.form_name }}" method="post" action=".">
  {% csrf_token %}
  {{ form.edit_revision }}
  <div class="row">
    <div class="col-md-6">
      <h2>Basics</h2>

      {{ form.name|as_crispy_field }}

      <div class="row">
        <div class="col-xs-6">
          {{ form.program|as_crispy_field }}
        </div>
        <div class="col-xs-6">
          {{ form.trip_type|as_crispy_field }}
        </div>
      </div>

      {# Notable edge cases. #}
      {# - [unhandled] Trips created *during* WS, but to occur on a future date. #}
      {# - [handled]   Leader cannot lead WS trips at all. #}
      {# - [handled*]  Old trips is being *edited*, but during WS (we only set these vars on creation) #}
      {% if is_currently_iap and can_select_ws_program %}
        <div data-ng-if="program === 'winter_non_iap' || program === 'none'" data-ng-cloak>
          <div class="alert alert-warning">
            <p>This will make a standalone trip, <strong>separate from the normal WS lottery</strong>.</p>
            <p>If you mean to create a normal Winter School trip, select "Winter School."</p>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-xs-6">
          {{ form.maximum_participants|as_crispy_field }}
        </div>
        <div class="col-xs-6">
          {{ form.difficulty_rating|as_crispy_field }}
        </div>
      </div>

      <div class="row" data-ng-if="program === 'winter_school' || program === 'winter_non_iap'">
        <div class="col-sm-12">
          {{ form.level|as_crispy_field }}
        </div>
      </div>

      {{ form.leaders|as_crispy_field }}

      <div data-ng-if="program !== 'winter_school'">
        {{ form.wimp|as_crispy_field }}
      </div>

      <hr>

      <h2>Settings</h2>
      <div data-ng-if="program === 'winter_school'">
        <p>Winter School trips are not configurable; all trips behave the same:</p>

        <ul>
          <li>We make an effort to place paired participants on the same trip.</li>
          <li>Participants may not drop off a trip without leader approval.</li>
          <li>Each trip's leaders must be defined before the trip is approved by WSC.</li>
          <li>Membership (&amp; lecture attendance) is required for all participants.</li>
        </ul>
      </div>

      <div data-ng-if="program !== 'winter_school'">
        {{ form.membership_required|as_crispy_field }}
        {{ form.allow_leader_signups|as_crispy_field }}
      </div>
      <div data-ng-if="(algorithm === 'lottery') && (program !== 'winter_school')">
        {{ form.honor_participant_pairing|as_crispy_field }}
      </div>
      <div data-ng-if="program !== 'winter_school'">
        {{ form.let_participants_drop|as_crispy_field }}
      </div>

    </div>

    <div class="col-md-6">
      <h2>About</h2>
      {{ form.description|as_crispy_field }}
      {{ form.summary|as_crispy_field }}
      {{ form.prereqs|as_crispy_field }}

      <h2>Signup</h2>
      <div class="row">
        <div class="col-xs-6">
          {{ form.trip_date|as_crispy_field }}
        </div>
        <div class="col-xs-6">
          {{ form.algorithm|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{ form.signups_open_at|as_crispy_field }}
        </div>
        <div class="col-sm-6">
          {{ form.signups_close_at|as_crispy_field }}
        </div>
      </div>
      {{ form.notes|as_crispy_field }}


    </div>

    <div class="col-md-6">
    </div>

  </div>

  <div class="alert alert-warning">
    If you have an approved budget for this trip, please remember to register this event on Atlas
    <a href="https://forms.gle/dNrbKyjnWavEHmK3A">here</a>, which is required for reimbursement.
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a role="button" class="btn btn-default"
    {% if form.instance.pk %}
      href="{% url 'view_trip' form.instance.pk %}"
    {% else %}
      href="{% url 'upcoming_trips' %}"
    {% endif %}
      >Cancel</a>
</form>

{% endblock content %}
