{% extends "messages_page.html" %}
{% load form_tags %}

{% block content %}
{{ block.super }}

<form name="{{ form.form_name }}" method="post" action="." novalidate data-submit-if-valid>
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <h2>Basics</h2>

      {% form_group form.name %}
      <div class="row">
        <div class="col-sm-4">
          {% form_group form.activity %}
        </div>
        <div class="col-sm-4">
          {% form_group form.maximum_participants %}
        </div>
        <div class="col-sm-4">
          {% form_group form.difficulty_rating %}
        </div>
      </div>

      <div class="row" data-ng-if="activity == 'winter_school'">
        <div class="col-sm-12">
          {% form_group form.level %}
        </div>
      </div>

      {% form_group form.leaders %}

      <hr>

      <h2>Signup</h2>

      {% form_group form.allow_leader_signups True %}
      {% form_group form.let_participants_drop True %}
      {% form_group form.trip_date %}

      {% form_group form.algorithm %}
      <div class="row">
        <div class="col-sm-6">
          {% form_group form.signups_open_at %}
        </div>
        <div class="col-sm-6">
          {% form_group form.signups_close_at %}
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <h2>About</h2>
      {% form_group form.description %}
      {% form_group form.prereqs %}
      {% form_group form.notes %}
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a role="button" class="btn btn-default"
    {% if form.instance.pk %}
      href="{% url 'view_trip' form.instance.pk %}"
    {% else %}
      href="{% url 'upcoming_trips' %}"
    {% endif %}
      >Cancel</a>
</form>

{% endblock content %}
