{% extends "messages_page.html" %}
{% load signup_tags %}

{% block head_title %}Admin {{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}

<h4>Leader Actions</h4>
<div class="btn-group" role="group">
  <a type="button" class="btn btn-default" href="{% url 'edit_trip' trip.id %}"><i class="fa fa-edit"></i>&nbsp;Edit</a>
  <a type="button" class="btn btn-default" href="{% url 'trip_medical' trip.id %}"><i class="fa fa-medkit"></i>&nbsp;WIMP info</a>
  <a type="button" class="btn btn-default
  {% if info_form_available %}
    {{ trip.info|yesno:",btn-danger" }}" uib-tooltip="Must be completed before departure!" href="{% url 'trip_itinerary' trip.id %}">
  {% else %}
    " uib-tooltip="Will become available
    {% if not available_today %}
      {{ itinerary_available_at|date:"l, F jS" }}
    {% endif %}
    at {{ itinerary_available_at|date:"H:i" }}"
    href="#">
  {% endif %}
  <i class="fa fa-list-alt"></i>&nbsp;Itinerary</a>
  <a type="button" class="btn btn-default" href="{% url 'review_trip' trip.id %}"><i class="fa fa-comments"></i>&nbsp;Feedback</a>
  {% if is_chair %}
    <data-approve-trip
        data-trip-id="{{ trip.pk }}"
        data-approved="{{ trip.chair_approved|yesno:'true,false' }}">
    </data-approve-trip>
  {% endif %}
</div>

<delete class="pull-right" data-api-slug="trips" data-obj-id="{{ trip.id }}"></delete>

{% if trip.algorithm == 'lottery' and trip.activity != 'winter_school' %}
  <form method="POST" action="{% url 'run_lottery' trip.pk %}">
    {% csrf_token %}
    <button class="btn btn-success" type="submit">Run Lottery Now</button>
  </form>
{% endif %}

{% trip_summary trip %}

<div class="alert alert-info">
  {% if trip.signups_open %}
    Signups are open!
  {% elif trip.signups_closed %}
    Signups for this trip are closed.
  {% elif trip.signups_not_yet_open %}
    Signups for this trip are not yet open.
  {% endif %}
</div>

{% if trip.algorithm == 'fcfs' %}
  <admin-trip-signups data-trip-id="{{ trip.id }}" data-maximum_participants="{{ trip.maximum_participants }}"></admin-trip-signups>
{% else %}
  <email-trip-members data-trip-id="{{ trip.id }}"></email-trip-members>
{% endif %}

{% if trip.leaders.count %}
  <h3>Leaders ({{ trip.leaders.count }})</h3>
  {% signup_table leader_signups has_notes show_drivers=True all_participants=trip.leaders%}
{% endif %}


{% if signups %}
  {% not_on_trip trip signups_on_trip signups_off_trip has_notes %}
{% endif %}

{% endblock content %}
