{% extends "trips/__create_or_edit.html" %}
{% block head_title %}Edit {{ trip.name }}{% endblock head_title %}

{% block content %}
  {% if update_rescinds_approval %}
    <div class="alert alert-warning">
      This trip has been approved by
      {% if trip.activity == 'winter_school' %}
        the Winter Safety Committee.
      {% else %}
        the {{ trip.activity|title }} chair.
      {% endif %}
      Making any changes will rescind this approval.
    </div>
  {% endif %}
    {{ block.super }}
{% endblock content %}
