{% extends "base.html" %}
{% load medical_tags %}

{% block head_title %}Submit itinerary - {{ trip.name }}{% endblock head_title %}

{% block content %}

<h2><a href="{% url 'view_trip' trip.id %}">{{ trip }}</a>: Trip Emergency Information</h2>

<p>
  This form
  {% if waiting_to_open %}
    will become available at {{ itinerary_available_at|date:"g a" }}
    on {{ itinerary_available_at|date:"l, M jS" }}
  {% else %}
    became available at {{ itinerary_available_at|date:"g a" }}
    on {{ itinerary_available_at|date:"M j, Y" }}
  {% endif %}
  and

  {% if info_form_editable or waiting_to_open %}
    may be
  {% else %}
    was able to be
  {% endif %}

  edited through the day of the trip ({{ trip.trip_date|date:"l, M jS" }}).
</p>

{% if info_form_editable or waiting_to_open %}
  <p class="lead">
    Before departing on your trip, it's imperative that one of the leaders
    complete the following form. The responses you give here are very important -
    they are automatically relayed to the WIMP, and will be used to coordinate
    any search and rescue efforts.
  </p>

  <p>
    <strong>Important:</strong> If you make any changes to your trip itinerary,
    you should return to this page and update the appropriate fields. This will ensure
    that the WIMP has the most up-to-date information regarding your trip.
  </p>
{% endif %}

<hr />

<h2>WIMP information submission</h2>
{% if waiting_to_open %}
  <p>
    This form will become available at {{ itinerary_available_at|date:"g a" }}
    on {{ itinerary_available_at|date:"l, M jS" }}.
  </p>
{% elif info_form_editable %}
  <form name="{{ form.form_name }}" action="" method="post" novalidate data-submit-if-valid>
    {% csrf_token %}
    <div class="alert alert-warning">
      {# Lots of people got confused about this widget. We really need to replace it with a better one. #}
      {# For now, give some instructions to hopefully make it less likely that they forget. #}
      The "Drivers" list below is a multi-select widget (by default, no drivers are selected).
      Hold Control (Cmd on a Mac) and click different rows to indicate multiple drivers.
    </div>
    {{ form.as_div }}
    <div class="alert alert-danger"
         data-ng-cloak
         data-ng-show="{{ form.form_name }}.$submitted && {{ form.form_name }}.$invalid">
      Please correct the above errors.
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% else %}
  {% trip_info trip %}
{% endif %}

{% endblock content %}
