{% extends "base.html" %}
{% load medical_tags %}

{% block head_title %}Itinerary - {{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}

<h2>
  Itinerary for '<a href="{% url 'view_trip' trip.pk %}">{{ trip.name }}</a>'
  {% if is_trip_leader %}
    <a type="button" class="btn btn-default pull-right" href="{% url 'trip_itinerary' trip.pk %}">
      <i class="fas fa-edit"></i>&nbsp;Edit
    </a>
  {% endif %}
</h2>

{% if not has_wimp %}
  <div id="wimp-missing" class="alert alert-warning">
    No WIMP has been assigned to this trip!
    {% if is_trip_leader %}
      <a href="{% url 'edit_trip' trip.pk %}">Set a WIMP?</a>
    {% endif %}
  </div>
{% endif %}

{% trip_info trip True %}
{% endblock content %}
