{% extends "base.html" %}
{% load medical_tags %}

{% block head_title %}Itinerary - {{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}

<h2>
  Trip Itinerary for '<a href="{% url 'view_trip' trip.pk %}">{{ trip.name }}</a>'
  {% if is_trip_leader %}
    <a type="button" class="btn btn-default pull-right" href="{% url 'trip_itinerary' trip.pk %}">
      <i class="fas fa-edit"></i>&nbsp;Edit
    </a>
  {% endif %}
</h2>

{% trip_info trip True %}
{% endblock content %}
