{% extends "base.html" %}
{% load signup_tags %}
{% load readonly_form %}

{% block head_title %}Itinerary - {{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}

<h2>Trip Itinerary for '<a href="{% url 'admin_trip' trip.id %}">{{ trip.name }}</a>'</h2>
{% if trip.info %}
    {% readonly_form info_form %}
{% endif %}

<hr>

<h3>Medical information </h3>

<h4>Participants</h4>
{% if participants %}
{% medical_table participants %}
{% else %}
<p> No participants. </p>
{% endif %}

<h4>Leaders</h4>
{% medical_table trip.leaders.all %}

<h4>Drivers</h4>
<p>
{% if not cars %}
    Nobody on this trip submitted information for a car.
{% else %}
    {% if not trip.info %}
        The below table is for all trip-goers that submitted car information.
        It may not represent who's actually driving for this trip.
    {% endif %}

    The "Car Status" column specifies whether they intended to rent a car, drive
    their own car, or not drive for this weekend's trips.

    {% driver_table cars %}
{% endif %}
</p>
{% endblock content %}
