{% extends "messages_page.html" %}
{% load signup_tags %}
{% load avatar_tags %}

{% block head_title %}Review - {{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}
<h2>
  Trip Review - {{ trip.name }}
</h2>

{% if not trip_completed %}
  <div class="alert alert-info">
    <strong>This trip has not yet completed.</strong>
    Please check back on {{ trip.trip_date|date:"F jS" }} or later!
  </div>
{% else %}
  {% if feedback_window_passed %}
    <div class="alert alert-info">
      This trip occurred over a month ago - you may not edit any feedback, but
      you may view anything that you submitted here.
    </div>
  {% else %}
    <ol>
      <li>
        <strong>Everyone on this list should have attended the trip.</strong>
        If there are participants here who didn't attend, <a href="{% url 'view_trip' trip.pk %}">remove them</a>.
      </li>
      <li>
        {% if feedback_required %}
          Since reviews are critical to the safety process,
          <strong>we ask that you review everyone</strong>.
        {% else %}
          You don't have to review every participant, but please give feedback for as many as you can.
          <br>
          Even basic feedback (e.g. "no problems, came prepared") is helpful.
        {% endif %}
      </li>
      <li>
        Not sure what to say? Other questions? See the <a href="{% url 'help-feedback'%}">help pages</a>.
      </li>
    </ol>
  {% endif %}

  {% if not feedback_list %}
    <div class="alert alert-warning">
      Nobody attended this trip.
    </div>
  {% else %}
    <hr>

    <form action="" method="post">
      {% csrf_token %}

      {% if not feedback_window_passed %}
        <h4>Flaking participants</h4>

        <p>
          Include any participants who were expected to attend the trip, but bailed
          at the last minute.
        </p>

        <flaking-participants>
        </flaking-participants>
      {% endif %}

      <h3>Trip participants</h3>
      <table class="table">
        <tbody>
          {% for participant, comments in feedback_list %}
            <tr>
              <td>
                <div class="media">
                  <div class="media-left">
                    {{ participant|avatar:100 }}
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"> {{ participant }} </h4>
                    <textarea data-ng-model="par_{{ participant.pk }}"
                              {% if feedback_required %} required {% endif %}
                              {% if feedback_window_passed %} disabled {% endif %}
                              name="par_{{ participant.pk }}"
                              class="form-control"
                              rows="3">{{ comments }}</textarea>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>


      {% if not feedback_window_passed %}
        <input class="btn btn-primary" type="submit" value="Submit feedback" />
      {% endif %}
    </form>
  {% endif %}
{% endif %}

{% endblock content %}
