{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Signup - {{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}

{% with trip=form.instance.trip %}
  {% if trip %}
    <h3>Signup for <a href="{% url 'view_trip' trip.pk %}">{{ trip }}</a></h3>

    {% if trip.notes %}<label>Trip notes:</label> {{ trip.notes }}{% endif %}
    <form name="{{ form.form_name }}" action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  {% else %}
    <p>Not signing up for any given trip. <a href="{% url 'trips' %}">Browse available trips?</a></p>
  {% endif %}
{% endwith %}

{% endblock content %}
