{% extends "messages_page.html" %}
{% load signup_tags %}
{% load trip_tags %}

{% block head_title %}{{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}

{% if can_admin %}
  {% trip_edit_buttons trip viewing_participant user %}

  <uib-tabset id="admin-trip-tabs">
    <uib-tab heading="Trip">
      {% view_trip trip viewing_participant user %}
    </uib-tab>

    <uib-tab heading="Admin">
      {% if trip.algorithm == 'fcfs' %}
        <admin-trip-signups data-trip-id="{{ trip.pk }}" data-maximum_participants="{{ trip.maximum_participants }}"></admin-trip-signups>
      {% else %}
        <h3>Trip still in lottery mode</h3>
        <p>Once this trip's lottery completes, you can manage participants here.</p>

        {# Temporarily disable this control for non-admins #}
        {% if user.is_superuser %}
        {% if trip.algorithm == 'lottery' and trip.activity != 'winter_school' %}
          <form method="POST" action="{% url 'run_lottery' trip.pk %}">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Run Lottery Now</button>
          </form>
        {% endif %}
        {% endif %}
      {% endif %}
    </uib-tab>
  </uib-tabset>
{% else %}
  {% if trip.wimp and viewing_participant == trip.wimp %}
    {% wimp_toolbar trip %}
  {% endif %}

  {% view_trip trip viewing_participant user %}
{% endif %}

{% endblock content %}
