{% extends "base.html" %}
{% load rental_tags %}
{% load signup_tags %}
{% load trip_tags %}

{% block head_title %}{{ trip.name }}{% endblock head_title %}

{% block content %}
{{ block.super }}

{% if trip.wimp and viewing_participant == trip.wimp %}
  {% wimp_toolbar trip %}
{% endif %}

{% if can_admin or viewing_participant.is_leader %}
  {% if can_admin %}
    {% trip_edit_buttons trip viewing_participant user %}
  {% endif %}

  <div data-ng-controller="tripTabManager">
    <uib-tabset id="admin-trip-tabs">
      <uib-tab heading="Trip">

        <div data-ng-show="stale" data-ng-cloak>
          <br>
          <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            <span>This trip was modified! <a href=".">Reload the page</a> to get updates.</span>
          </div>
          {% trip_summary trip %}
        </div>
        <div data-ng-hide="stale">
          {% view_trip trip viewing_participant user %}
        </div>
        <div data-ng-show="stale" data-ng-cloak class="alert alert-warning">
          <i class="fas fa-exclamation-triangle"></i>
          <span>This trip was modified! <a href=".">Reload the page</a> to get the list of participants.</span>
        </div>

      </uib-tab>

      {% if can_admin %}
        <uib-tab heading="Admin">
          {% if trip.algorithm == 'fcfs' %}
            <admin-trip-signups data-trip-id="{{ trip.pk }}" data-maximum_participants="{{ trip.maximum_participants }}"></admin-trip-signups>
          {% else %}
            <h3>Trip still in lottery mode</h3>
            <p>Once this trip's lottery completes, you can manage participants here.</p>

            {# Temporarily disable this control for non-admins #}
            {% if user.is_superuser %}
            {% if trip.algorithm == 'lottery' and trip.program != 'winter_school' %}
              <form method="POST" action="{% url 'run_lottery' trip.pk %}">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Run Lottery Now</button>
              </form>
            {% endif %}
            {% endif %}
          {% endif %}
        </uib-tab>
      {% endif %}

      {# We let any leaders view the lottery log! #}
      {% if trip.lottery_log %}
        <uib-tab heading="Lottery">
          <h3>Lottery Log</h3>
          <pre>{{ trip.lottery_log }}</pre>
        </uib-tab>
      {% endif %}

      {% if can_see_rentals %}
        {# Hackery below on showing rentals inline, since this makes the server do an API call.   #}
        {# Eagerly loading this background content on an API call is wasteful and bad UX.         #}
        {# Of course, making a tab trigger a hard refresh is terrible UX too.                     #}
        {# But at time of writing, MITOC does no rentals for trips.                               #}
        {# Hopefully, we use a frontend component which makes API calls in time for Winter School #}
        <uib-tab heading="Rentals" {% if trip.algorithm == 'fcfs' and not show_rentals_inline %}data-select="inlineRentals({{ trip.pk }})"{% endif %}>
          <br>
          <div data-ng-show="reloading" data-ng-cloak class="alert alert-info">
            Fetching participant rentals...
          </div>
          {% if trip.algorithm == 'lottery' %}
            <h3>Trip still in lottery mode</h3>
            <p>Once this trip's lottery completes, you can see which participants have checked out gear.</p>
          {% elif show_rentals_inline %}
            {% trip_rental_table trip leader_on_trip rentals_by_par True %}
          {% endif %}
        </uib-tab>
      {% endif %}

    </uib-tabset>
  </div>
{% else %}
  {% view_trip trip viewing_participant user %}
{% endif %}

{% endblock content %}
