{% extends "base.html" %}
{% load trip_tags %}

{% block head_title %}Manage trips {% endblock head_title %}

{% block content %}
{{ block.super }}

<h2>Approve upcoming trips
  {% if first_unapproved_trip %}
    <a role="button" href="{% url 'view_trip_for_approval' first_unapproved_trip.activity first_unapproved_trip.pk %}" class="btn btn-primary pull-right">
      <i class="fas fa-check"></i>
      Start
    </a>
  {% endif %}
</h2>

{% if trips_needing_approval %}
  {% trip_list_table trips_needing_approval True %}

  {% if leader_emails_missing_itinerary %}
    <h3>Leaders of trips missing an itinerary</h3>
    <pre class="wrapped-emails">{{ leader_emails_missing_itinerary }}</pre>
  {% endif %}
{% else %}
  <p class="lead">
    No current or upcoming trips!
  </p>
  <p>
    Once leaders create trips, you'll be able to mark their trips as approved here.
  </p>
{% endif %}

{% if recent_trips %}
  <hr />
  <h2>Recent trips</h2>
  <p>{{ num_trips_approved }} / {{ recent_trips|length }} trips since {{ cutoff }} received chair approval.</p>
  {% trip_list_table recent_trips True %}
{% endif %}

{% endblock content %}
