{% extends "base.html" %}
{% load trip_tags %}

{% block meta %}
  <meta name="description" content="Details about {{ past_trips|yesno:"past and upcoming,upcoming" }} trips, and information about how you can sign up. Trips are open to all MITOC members, and it's easy to join!"/>
  {{ block.super }}
{% endblock meta %}

{% block head_title %}{{ past_trips|yesno:"All,Upcoming" }} trips{% endblock head_title %}

{% block content %}
{{ block.super }}

<h3>Upcoming trips </h3>
{% if not past_trips %}
  <p><a href="{% url 'all_trips' %}">View past trips</a></p>
{% endif %}

{% if current_trips %}
  {% trip_list_table current_trips %}
{% else %}
  <p> No current or upcoming trips!
  {% if "leaders" in groups %}
  <a href="{% url 'create_trip' %}">Create one?</a>
  {% endif %}
  </p>
{% endif %}

{% if past_trips %}
  <h3> Past trips </h3>
  {% trip_list_table past_trips %}
{% endif %}

{% endblock content %}
