{% extends "base.html" %}
{% load trip_tags %}

{% block meta %}
  <meta name="description" content="Details about {{ past_trips|yesno:"past and upcoming,upcoming" }} trips, and information about how you can sign up. Trips are open to all MITOC members, and it's easy to join!"/>
  {{ block.super }}
{% endblock meta %}

{% block head_title %}
  {% if on_or_after_date %}
    Trips after {{ on_or_after_date|date:"Y-m-d" }}
  {% elif past_trips is not None %}
    All trips
  {% else %}
    Upcoming trips
  {% endif %}
{% endblock head_title %}

{% block content %}
{{ block.super }}

{% include 'snippets/covid.html' %}

{% if date_invalid %}
<div class="alert alert-danger">
  Invalid date given for filtering trips. Please supply dates in YYYY-MM-DD format.
</div>
{% endif %}

<h3>
  {# Cover edge case of 'trip after' date being in the future and filtering upcoming trips #}
  {% if on_or_after_date > today %}
    Trips after {{ on_or_after_date|date:"M j, Y" }}
  {% else %}
    Upcoming
    <span class="hidden-xs">trips</span>
    <span class="btn-group pull-right">
      <a role="button" class="btn btn-default" href="{% url 'rss-upcoming_trips' %}"><i class="fas fa-rss"></i> RSS</a>
      <a role="button" class="btn btn-default" href="http://mailman.mit.edu/mailman/listinfo/mitoc-trip-announce"><i class="fas fa-envelope"></i> Weekly digest</a>
    </span>
  {% endif %}
</h3>

{% if current_trips %}
  {% trip_list_table current_trips %}
{% else %}
  <p> No upcoming trips!
  {% if "leaders" in groups %}
  <a href="{% url 'create_trip' %}">Create one?</a>
  {% endif %}
  </p>
{% endif %}

{% if past_trips %}
  <h3>Past trips</h3>
  {% trip_list_table past_trips %}
{% endif %}
<hr>
<p>
  {% if one_year_prior %}
    {# We hide this link when we're already viewing all past trips #}
    <a href="{% url 'upcoming_trips' %}?after={{ one_year_prior|date:"Y-m-d" }}">
    <i class="fas fa-history"></i>
    Previous trips
  </a>
  {% endif %}
  <a class="pull-right" href="https://mitoc.mit.edu"><i class="fas fa-external-link-alt"></i>&nbsp;MITOC home page</a>
</p>

{% endblock content %}
