{% load general_tags %}{% gapless %}
{# CSS has been inlined for use in email clients by https://htmlemail.io/inline/ #}
<h2 style="color: #000000; font-family: sans-serif; font-weight: 400; line-height: 1.4; margin: 0;">
  <a href="https://mitoc-trips.mit.edu{% url 'view_trip_for_approval' activity_enum.value trip.pk %}" style="color: #3498db; text-decoration: underline;">{{ trip.name }}</a>
</h2>
<h3 style="color: #000000; font-family: sans-serif; font-weight: 400; line-height: 1.4; margin: 0;">{{ trip.trip_date|date:"l, F j" }}</h3>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  <ul style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    <li style="list-style-position: inside; margin-left: 5px;"><strong>Itinerary</strong>:
        {% if trip.info %}
          Submitted, last updated {{ trip.info.last_updated }}
        {% elif not trip.info_editable %}
          Will become available on {{ trip.itinerary_available_at|date:"l, M jS" }}
        {% else %}
          Missing!
        {% endif %}
    </li>
    <li style="list-style-position: inside; margin-left: 5px;"><strong>Type</strong>: {{ trip.get_trip_type_display }}</li>
    {% if trip.winter_terrain_level %}
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Terrain level</strong>: {{ trip.winter_terrain_level }}</li>
    {% endif %}
    <li style="list-style-position: inside; margin-left: 5px;"><strong>Difficulty rating:</strong> {{ trip.difficulty_rating }}</li>
    {% if trip.leaders.count %}
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Leaders:</strong> {{ trip.leaders_with_rating|slice:':5'|join:', ' }}{% if trip.leaders.count > 5 %}... ({{ trip.leaders.count }} in total){% endif %}</li>
    {% endif %}
    {% if trip.prereqs %}
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Prerequisites:</strong> {{ trip.prereqs }}</li>
    {% endif %}
  </ul>
</p>
{% endgapless %}
