{% load general_tags %}{% gapless %}
{# CSS has been inlined for use in email clients by https://htmlemail.io/inline/ #}
<h2 style="color: #000000; font-family: sans-serif; font-weight: 400; line-height: 1.4; margin: 0;">
  <a href="https://mitoc-trips.mit.edu{% url 'view_trip' trip.pk %}" style="color: #3498db; text-decoration: underline;">{{ trip.name }}</a>
</h2>
<h3 style="color: #000000; font-family: sans-serif; font-weight: 400; line-height: 1.4; margin: 0;">{{ trip.trip_date|date:"l, F j" }}</h3>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  <ul style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    <li style="list-style-position: inside; margin-left: 5px;">
      <strong>Program</strong>: {{ trip.get_program_display }}
      {% if trip.program_enum.is_winter_school %}
        Attendance at <a href="https://mitoc.mit.edu/events/winter-school">mandatory safety lectures is required</a>.
      {% endif %}
    </li>
    <li style="list-style-position: inside; margin-left: 5px;"><strong>Type</strong>: {{ trip.get_trip_type_display }}</li>
    {% if trip.level %}
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Level</strong>: {{ trip.level }}</li>
    {% endif %}
    <li style="list-style-position: inside; margin-left: 5px;"><strong>Difficulty rating:</strong> {{ trip.difficulty_rating }}</li>
    {% if trip.leaders.count %}
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Leaders:</strong> {{ trip.leaders_with_rating|slice:':5'|join:', ' }}{% if trip.leaders.count > 5 %}... ({{ trip.leaders.count }} in total){% endif %}</li>
    {% endif %}
    {% if trip.prereqs %}
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Prerequisites:</strong> {{ trip.prereqs }}</li>
    {% endif %}
    {% if trip.signups_open %}
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Spaces remaining:</strong> {{ trip.maximum_participants|subtract:trip.signups_on_trip }}</li>
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Signups close at:</strong> {{ trip.signups_close_at }}</li>
    {% else %}
      <li style="list-style-position: inside; margin-left: 5px;"><strong>Signups open at:</strong> {{ trip.signups_open_at }}</li>
    {% endif %}
    <li style="list-style-position: inside; margin-left: 5px;"><strong>Algorithm:</strong> {{ trip.get_algorithm_display }}</li>
  </ul>
</p>
{% endgapless %}
