{% extends "base_no_scripts.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Log In{% endblock head_title %}
{% block login_button %}{% endblock login_button%}

{% block content %}

<h1>Log In</h1>

<p class="lead">
  If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
</p>

<div class="row">
  <div class="col-sm-6">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Log In" />
      <small><a href="{% url 'account_reset_password' %}">Forgot your password?</a></small>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </form>
  </div>
</div>

{% endblock content %}
