{% extends "base_no_scripts.html" %}

{% block head_title %}Change Password{% endblock %}

{% block content %}
  <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

  {% if token_fail %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
    </p>
  {% else %}
    {% if form %}
      <div>
      <form method="POST" action=".">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input class="btn btn-primary" type="submit" name="action" value="Change Password"/>
      </form>
    </div>
    {% else %}
      <p>Your password is now changed.</p>
    {% endif %}
  {% endif %}
{% endblock %}
