{% extends "base_no_scripts.html" %}
{% load crispy_forms_tags %}


{% block head_title %}Change Password{% endblock %}

{% block content %}

  {% if viewing_participant.passwordquality.is_insecure %}
    <div class="alert alert-danger">
      <h3>You are using an insecure password.</h3>
      <p>
        The password that you entered has been exposed in at least one data breach.
      </p>
    </div>

    <h4>How do you know my password is insecure?</h4>
    <p>
      This password appears in a <a href="https://haveibeenpwned.com/Passwords">database of known passwords</a>. Hackers may use this password to try to break into your accounts.
    </p>

    <h4>What should I do?</h4>
    <p>
      <ul>
        <li>If you use this password on any other web sites, you should change your password <strong>immediately</strong>.</li>
        <li>Do not use this password ever again for any other service.</li>
        <li>Change your password now using the form below.</li>
        <li>Please consider using a password manager to create long, random, and unique passwords.</li>
      </ul>
    </p>

    <hr>
  {% endif %}

  <h2>Change Password</h2>
  <div class="row">
    <div class="col-md-6">
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <table>
          {{ form|crispy }}
        </table>
        <input class="btn btn-primary" type="submit" name="action" value="Change Password" />
      </form>
    </div>
  </div>
{% endblock %}
