{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load account %}
{% load form_tags %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
<h1>Password Reset</h1>

{% if user.is_authenticated %}
  <div class="alert alert-info">
    {% include "account/snippets/already_logged_in.html" %}
  </div>
{% endif %}

{% if form.email.errors %}
  <div class="alert alert-warning">
    <h4>New to MITOC?</h4>
    <p>
      {# Lots of people get confused about this distinction... #}
      Please note that paying your dues or signing a waiver does not automatically
      <a href="{% url 'account_signup' %}">create an account</a> for you.
    </p>
    <p>
      You'll need to <a href="{% url 'account_signup' %}">sign up</a>
      using the same email address that used to pay dues and/or sign a waiver.
      Questions? <a href="{% url 'contact' %}">Contact us</a>.
  </div>
{% else %}
  <p class="lead">
    Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
  </p>
{% endif %}

<div>
  <div class="row">
    <div class="col-sm-6">
      <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Reset My Password" />
      </form>
    </div>
  </div>
</div>

<hr>

<p>
  Please <a href="{% url 'contact' %}">contact us</a> if you have any trouble resetting your password.
</p>
{% endblock %}
