{% extends "base_no_scripts.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Change Password{% endblock %}

{% block content %}
  <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

  {% if token_fail %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
    </p>
  {% else %}
    {% if form %}
      <div class="row">
        <div class="col-sm-6">
          <form method="POST" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" name="action" value="Change Password"/>
          </form>
        </div>
      </div>
    </div>
    {% else %}
    <p>
      Your password is now changed.
      {% if not user.is_authenticated %}
        <a href="{% url 'account_login' %}">Log in</a>?
      {% endif %}
    </p>
    {% endif %}
  {% endif %}
{% endblock %}
