{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <div class="narrow">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" name="action" value="{% trans "Change Password" %}" />
        </form>
    </div>
{% endblock %}
